:root {
  --bg-main: #ffffff;
  --bg-secondary: #FBFBFB;
  --text-color:#171717;
  --text-g-color:#A4A4A4;
  --nav-hover: #F1F1F1;
  --card-hover: #F1F1F1;
  --border: #E5E5E5;
  --primary: #4D4DAA;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* Logo *********/
.icon_logo_menu {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/assets/icon/logo.svg);
}

/********* Icon Menu *********/
.nav_icon {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.icon_character {
  background-image: url(/assets/icon/character.svg);
}

.icon_spells {
  background-image: url(/assets/icon/spells.svg);
}

.icon_inventory {
  background-image: url(/assets/icon/inventory.svg);
}

.icon_dark_mod {
  background-image: url(/assets/icon/dark_mod.svg);
}

/********* Icon Action *********/
.icon_action {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.icon_full_screen {
  background-image: url(/assets/icon/full_screen.svg);
}

.icon_close {
  background-image: url(/assets/icon/close.svg);
}

/********* Icons Classes *********/
.card_container .card_classes .icon {
  display: block;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}

.all_classes {
  background-image: url(/assets/icon/all_classes.svg);
}

.bard {
  background-image: url(/assets/icon/bard_big.svg);
}

.barbarian {
  background-image: url(/assets/icon/barbarian_big.svg);
}

.fighter {
  background-image: url(/assets/icon/fighter_big.svg);
}

.wizard {
  background-image: url(/assets/icon/wizard_big.svg);
}

.druid {
  background-image: url(/assets/icon/druid_big.svg);
}

.cleric {
  background-image: url(/assets/icon/cleric_big.svg);
}

.artificer {
  background-image: url(/assets/icon/artificer_big.svg);
}

.warlock {
  background-image: url(/assets/icon/warlock_big.svg);
}

.monk {
  background-image: url(/assets/icon/monk_big.svg);
}

.paladin {
  background-image: url(/assets/icon/paladin_big.svg);
}

.rogue {
  background-image: url(/assets/icon/rogue_big.svg);
}

.ranger {
  background-image: url(/assets/icon/ranger_big.svg);
}

.sorcerer {
  background-image: url(/assets/icon/sorcerer_big.svg);
}