/******** Основной стиль ********/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.overflow-hidden {
  overflow: hidden!important;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.row {
  margin-left: -24px;
  margin-right: -24px;
}

.h-vh-100 {
  height: 100vh;
}

/******** Блоки ********/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -8px;
}

.card-container .card {
  background: #f5f5f5;
  border-radius: 16px;
  display: flex;
  flex: 1 0 21%;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  /* min-width: 300px; */
  flex-direction: row;
  padding: 16px 24px 16px 16px;
}

/* .card-container .card:last-child {
  flex: 0 0 21%;
  min-width: 300px;
} */

.card-container .card .infimation {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.card-container .card .infimation p.additionally {
  margin-top: auto;
}

.card-container .card .icon {
  display: block;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}

/******** Меню ********/
.navbar {
  height: 100vh;
  width: 72px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid;
}

/******** Левый блок ********/
#left_block {
  transition: margin-right 1s;
  overflow-x: hidden;
  margin-right: 48px;
  margin-left: 72px;
}

.block-information #left_block {
  transition: margin-right 1s;
  margin-right: calc(56% + 24px);
}

.container_left {
  padding: 24px;
}

/******** Правй блок ********/
#right_block {
  width: calc(56% - 0px);
  top: 0;
  right: calc(-56% - 0px);
  transition: right 1s;
  position: fixed;
  border-left: 1px solid;
}

.block-information #right_block {
  right: 0px;
  transition: right 1s;
}

.container_right {
  padding: 24px;
}

/******** Кнопки ********/
.btn {
  padding: 16px 8px;
  background-color: black;
  color: aqua;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}