/******** Основной стиль ********/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--bg-main);
}

.overflow-hidden {
  overflow: hidden!important;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: 270px;
  padding-left: 24px;
  padding-right: 24px;
}

.row {
  margin-left: -24px;
  margin-right: -24px;
}

/******** Меню ********/
.navbar {
  height: 100vh;
  /* width: 72px; */
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid var(--border);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.navbar .logo {
  height: 72px;
  width: 270px;
  border-bottom: 1px solid var(--border);
  display: flex;
}

.navbar .navbar_nav {
  padding: 0 16px;  
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.navbar .navbar_nav .nav_item {
  position: relative;
  list-style: none;
  height: 40px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.6s;
}

.navbar .navbar_nav .nav_item:hover {
  cursor: pointer;
  background-color: var(--nav-hover);
  transition: background-color 0.6s;
}

.navbar .navbar_nav .nav_item .nav_link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.navbar .navbar_nav .nav_item:last-child {
  margin-top: auto;
  margin-bottom: 0px;
}

.navbar .navbar_nav .nav_item .nav_link span {
  margin-left: 16px;
}

.navbar .copyright_block {
 padding: 16px;
 margin-top: auto;
}



/******** Карточки ********/
.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -8px;
}

.card_container .card_classes {
  background: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex: 1 0 calc(25% - 56px);
  max-width: calc(25% - 56px);
  /* min-width: 280px; */
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  flex-direction: row;
  padding: 16px 24px 16px 16px;
  transition: max-width 0.6s;
}

.card_container.width_card_50 .card_classes {
  flex: 1 0 calc(50% - 56px);
  max-width: calc(50% - 56px);
  transition: max-width 0.6s;
}

.card_container .card_classes:hover {
  cursor: pointer;
  background-color: var(--card-hover);
}

.card_container .card_classes .infimation {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.card_container .card_classes .infimation p.additionally {
  margin-top: auto;
}

/******** Общее по блокам ********/
.header_block {
  display: flex;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid var(--border);
  padding-left: 24px;
  position: sticky;
  background-color: var(--bg-main);
}

/******** Левый блок ********/
#left_block {
  transition: margin-right 0.6s;
  overflow-x: hidden;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
}

.block_information #left_block {
  transition: margin-right 0.6s;
  margin-right: calc(56vw + 0px);
}

#left_block .container_left {
  height: calc(100vh - 73px);
}

#left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 24px;
}

/******** Правй блок ********/
#right_block {
  width: calc(56vw - 0px);
  top: 0;
  right: calc(-56vw - 1px);
  transition: right 0.6s;
  position: fixed;
  border-left: 1px solid var(--border);
  background-color: var(--bg-secondary);
}

.block_information #right_block {
  right: 0px;
  transition: right 0.6s;
}

#right_block .header_block h3 {
  margin-right: auto;
}

#right_block .header_block .btn_full_screen,
#right_block .header_block .btn_close {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#right_block .header_block .btn_full_screen:hover,
#right_block .header_block .btn_close:hover {
  background-color: var(--card-hover);
  cursor: pointer;
}

#right_block .container_right {
  height: calc(100vh - 73px);
}

#right_block > .container_right  > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 24px;
}

/******** Кнопки ********/
.btn {
  padding: 16px 8px;
  background-color: black;
  color: aqua;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

table {
  width: 100%;
}

table td {
  border:1px solid var(--border);
  height: 30px;
}