h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  color: var(--text-color);
}

h4 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  color: var(--text-color);
}

h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: var(--text-color);
}

p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  margin: 0;
  color: var(--text-color);
}

b {
  font-weight: 400;
  color: var(--text-color);
}

.btn_text {
  font-weight: 500;
  color: var(--text-color);
}

.small_btn {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-color);
}

.caption_text {
  font-size: 11px;
  color: var(--text-g-color);
}

.uppercase_text {
  text-transform: uppercase;
}
