.bookmarks {
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 16px 16px;
    border-bottom: 1px solid var(--hover);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__wrapper {
    padding: 8px 8px;
    display: block;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    overflow: auto;
    flex: 1 1 auto;

    .form-button {
      justify-content: left;
      color: var(--text-color-title);
      cursor: pointer;

      svg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: var(--bg-sub-menu);
        border-radius: 4px;
        color: var(--text-color-title);
        margin-right: 8px;
        padding: 2px;
      }

      &:hover {
        color: var(--text-color-title);
      }
    }
  }

  &__info {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // line-height: 32px;

    &--desc {
      font-size: var(--h5-font-size);
      margin-bottom: 4px;
      width: 200px;
      padding: 0 8px;
    }

    &--title {
      font-weight: 600;
    }

    &--desc,
    &--title {
      color: var(--text-b-color);
    }
  }

  &__new {
    margin-left: auto;
    padding: 3px;

    svg {
      color: var(--text-color);
    }

    &:hover {
      background-color: var(--hover) !important;
    }
  }

  // &__search {
  //     &--icon {
  //         width: 32px;
  //         height: 32px;
  //         padding: 4px;
  //         display: block;
  //     }
  // }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;

    &_head {
      padding: 8px 8px 8px 8px;
      display: flex;
      cursor: pointer;
      align-items: center;
      line-height: 16px;
    }

    &_label {
      color: var(--text-color-title);
      font-size: inherit;
      font-weight: normal;
      letter-spacing: 0.75px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      padding: 0 0 0 8px;
    }

    &_icon {
      @include css_anim();
      
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      padding: 2px;
      border-radius: 4px;
      background: var(--bg-sub-menu);
      color: var(--text-color-title);

      svg {
        @include css_anim();

        transform: rotate(-90deg);
      }

      &.is-active {
        svg {
          transform: none;
        }
      }

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;
        }
      }

      &:hover {
        background: var(--hover);
      }

      & + & {
        margin-left: 4px;  
      }
    }

    &.is-active {
      background: var(--bg-sub-menu);
    }

    &:hover {
      background: var(--hover);

      .bookmarks {
        &__group {
          &_icon {
            &.only-hover {
              opacity: 1;
            }
          }
        }
      }

      &.is-active {
        background: var(--bg-sub-menu);
      }
    }

    &_body {
      padding: 0 8px 0 0px;
    }
  }

  &__cat {
    margin-bottom: 8px;

    &_label {
      padding: 4px 8px 4px 8px;
      text-transform: uppercase;
      font-size: calc(var(--main-font-size) - 4px);
      color: var(--text-g-color);
      letter-spacing: 0.75px;
      position: relative;
      font-weight: 600;
      display: flex;
      width: 100%;

      &_name {
        line-height: 18px;
        opacity: 0.8;
      }

      &_icon {
        @include css_anim();

        flex-shrink: 0;
        width: 18px;
        height: 18px;
        cursor: pointer;
        margin-left: 8px;
        padding: 2px;
        border-radius: 4px;
        background: var(--bg-sub-menu);
        color: var(--text-color-title);

        &.only-hover {
          &:not(.is-active) {
            opacity: 0;
          }
        }

        &:hover {
          background: var(--hover);
        }        
      }

      &:hover {
        .bookmarks {
          &__cat {
            &_label {
              &_icon {
                &.only-hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    &_body {
      padding: 0px 0 0 0px;
    }
  }

  &__item {
    @include css_anim();

    display: flex;
    border-radius: 6px;
    margin-bottom: 4px;

    &_label {
      @include css_anim();

      color: var(--text-color);
      font-weight: 400;
      padding: 4px 8px;
      line-height: 16px;
      width: 100%;
      display: flex;
      border-radius: 6px;
    }

    &_icon {
      @include css_anim();

      width: 24px;
      height: 24px;
      padding: 2px;
      flex-shrink: 0;
      margin-left: 4px;
      border-radius: 6px;

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;
        }
      }

      svg {
        stroke: var(--text-color);
      }

      &:hover {
        background: var(--hover);
      }
    }

    &:hover {
      .bookmarks {
        &__item {
          &_icon {
            &.only-hover {
              opacity: 1;
            }
          }

          &_label,
          &_icon {
            cursor: pointer;
            color: var(--text-btn-color);
          }

          &_label {
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }

  &.is-default {
    .bookmarks {
      &__cat {
        border: 0;

        &_body {
          padding: 0px;
        }
      }

      &__header {
        padding: 16px 16px;
      }

      &__groip {

        &_body {
          padding: 0 8px 0 0px;
        }
      }
    }
  }

  @media (max-width: 550px) {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .bookmarks {
    &__item {
      &_icon {
        &.only-hover {
          opacity: 1 !important;
        }
      }
    }
    
    &__cat {
      &_label {
        &_icon {
          &.only-hover {
            opacity: 1 !important;
          }
        }
      }
    }

    &__group {
      &_icon {
        &.only-hover {
          opacity: 1 !important;
        }
      }
    }
  }    
}
