<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" prefix="og: http://ogp.me/ns#">
	<head>
		<th:block th:replace="layouts/layout :: mainLayout"/>
		<link rel="stylesheet" th:href="@{/resources/css/datatables/searchPanes.dataTables.min.css}" />
		<link rel="stylesheet" th:href="@{/resources/css/datatables/jquery.dataTables.min.css}" />

		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/searchpanes/dataTables.searchPanes.min.js}"></script>
		<script th:src="@{/webjars/datatables-select/1.3.3/js/dataTables.select.min.js}"></script>
		<script th:src="@{/resources/js/datatables/pageLoader/dataTables.pageLoadMore.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.spring-friendly.js}"></script>
	</head>
	<body id="body" class="d-flex overflow-hidden">
		<div th:replace="fragments/menu :: menu"></div>
		<div id="container" class="container">
			<div class="row">
				<div layout:fragment="content"></div>
			</div>
		</div>
	</body>
	<script th:src="@{/resources/js/scripts.js}"></script>
	<script th:src="@{/resources/js/sidebar-menu.js}"></script>
	<script th:src="@{/resources/js/scheme.js}"></script>
	<script th:src="@{/resources/js/simplebar.min.js}"></script>
	<script th:src="@{/resources/js/tipped.min.js}"></script>

	<script layout:fragment="js-script"></script>
	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(86582536, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/86582536" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WXD97L1HCX"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-WXD97L1HCX');
	</script>
	<script>
		var __rm__config = {
			projectId: '-Mot7MEuC2C8v9zqrFGU',
			locale: 'ru',
			contextWidget: 1,
			embedBtn: 0,
			floatingBtn: 0,
		};
	</script>
	<script src="https://widget.revisionme.com/app.js" defer id="rm_app_script"></script>
</html>