<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" >
	<head>
		<th:block th:replace="layouts/layout :: mainLayout"/>
		<link rel="stylesheet" th:href="@{/resources/css/datatables/searchPanes.dataTables.min.css}" />
		<link rel="stylesheet" th:href="@{/resources/css/datatables/jquery.dataTables.min.css}" />

		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/searchpanes/dataTables.searchPanes.min.js}"></script>
		<script th:src="@{/webjars/datatables-select/1.3.3/js/dataTables.select.min.js}"></script>
		<script th:src="@{/resources/js/datatables/pageLoader/dataTables.pageLoadMore.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.spring-friendly.js}"></script>
	</head>
	<body id="body">
		<div th:replace="fragments/menu :: menu"></div>
		<div id="container" class="container">
			<div layout:fragment="content"></div>
		</div>
	</body>
	<th:block th:replace="layouts/layout :: mainJS"/>
	<script layout:fragment="js-script"></script>

	<script>
		var __rm__config = {
		projectId: '-Ms6CvRDwD8pqBnxRD_F',
		locale: 'ru',
		contextWidget: 1,
		embedBtn: 0,
		floatingBtn: 0,		
		
		};
	</script>
	<script src="https://widget.revisionme.com/app.js" defer id="rm_app_script"></script>
</html>