<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="description" content="" />
		<meta name="author" content="Peterko - https://www.behance.net/peterko" />
		<title>DnD5 Club</title>
				
		<!-- Simplebar -->
		<link rel="stylesheet" th:href="@{/resources/css/simplebar.css}" />

		<!-- Tipped -->
		<link rel="stylesheet" th:href="@{/resources/css/tipped.css}" />

		<!-- Modal -->
		<link rel="stylesheet" th:href="@{/resources/css/magnific-popup.css}" />

		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" th:href="@{/resources/assets/favicon.svg}" />

		<!-- Core theme CSS -->
		<link rel="stylesheet" type="text/css"media="all" th:href="@{|/resources/css/${session.theme eq null ? 'light': session.theme}.css|}" id="theme_css" th:class="${session.theme}" />
		<link rel="stylesheet" th:href="@{/resources/css/typography.css}" />
		<link rel="stylesheet" th:href="@{/resources/css/styles.css}" />
		
		<!-- Menu -->
		<link rel="stylesheet" th:href="@{/resources/css/sidebar-menu.css}" />

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>
	</head>

	<body id="body" class="d-flex overflow-hidden">
		<div th:replace="fragments/menu :: menu"></div>
		<div id="container" class="container">
			<div class="row">
				<div layout:fragment="content"></div>
			</div>
		</div>
	</body>

	<script th:src="@{/resources/js/simplebar.min.js}"></script>
	<script th:src="@{/resources/js/scripts.js}"></script>
	<script th:src="@{/resources/js/sidebar-menu.js}"></script>
	<script th:src="@{/resources/js/scheme.js}"></script>
	<script th:src="@{/resources/js/tipped.min.js}"></script>
	<script layout:fragment="js-script"></script>
</html>