target/
/src/main/resources/application-local.properties
/src/main/resources/robot.txt
.factorypath

# Frontend Build
/src/main/resources/static/

# IDE Settings
.idea
.vscode
dnd5.iml

# System files
.DS_Store
.folder-for-tests/

.project

.settings/org.eclipse.jdt.core.prefs

app/.env.dev.example
