.nav-item {
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &:nth-child(n+2) {
    margin-top: 8px;
  }

  &.is-bottom {
    margin-top: 8px;
  }

  &__trigger {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__name {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
  }

  &__arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: var(--text-color);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__submenu {
    display: none;

    &.is-disabled {
      pointer-events: none;
    }
  }

  &__sub-title {
    display: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 16px 10px 40px;
    cursor: default;
  }

  &__sub-item {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-g-color);
    display: block;
    padding: 10px 16px 10px 40px;
  }

  &.is-opened {
    background-color: var(--bg-sub-menu);

    .nav-item {
      &__arrow {
        svg {
          transform: rotate(-180deg);
        }
      }

      &__submenu {
        display: block;
        padding-bottom: 8px;
      }
    }
  }

  @include media-min($md) {
    width: 40px;
    overflow: visible;

    &__trigger {
      justify-content: center;
    }

    &__name {
      display: none;
    }

    &__arrow {
      display: none;
    }

    &__sub-title {
      display: block;
      padding: 10px 16px;
    }

    &__sub-item {
      padding: 10px 16px;

      @include media-min($md) {
        &:hover {
          color: var(--text-color);
          background-color: var(--hover);
        }
      }
    }

    &.is-opened {
      background-color: transparent;

      .nav-item {
        &__submenu {
          display: none;
        }
      }
    }

    @include media-min($md) {
      &:hover {
        border-radius: 8px 0 0 8px;
        background-color: var(--bg-sub-menu);

        .nav-item {
          &__submenu {
            display: block;
            position: absolute;
            left: 100%;
            top: -9px;
            padding: 8px 0;
            background-color: var(--bg-sub-menu);
            border-radius: 8px;
            width: 228px;
            z-index: 2;

            &.is-bottom {
              top: initial;
              bottom: -8px;
            }
          }
        }
      }
    }
  }

  @include media-min($xl) {
    &:not(.is-minified) {
      overflow: hidden;
      width: 100%;

      .nav-item {
        &__trigger {
          justify-content: initial;
        }

        &__name {
          display: block;
        }

        &__arrow {
          display: flex;
        }

        &__sub-title {
          display: none;
        }

        &__sub-item {
          padding: 10px 16px 10px 40px;
        }
      }

      @include media-min($md) {
        &:hover {
          border-radius: 8px;

          .nav-item {
            &__submenu {
              display: none;
              position: initial;
              left: initial;
              top: initial;
              padding: 0 0 8px 0;
              background-color: transparent;
              border-radius: 0;
              width: 100%;
              z-index: initial;

              &.is-bottom {
                top: initial;
                bottom: initial;
              }
            }
          }
        }
      }

      &.is-opened {
        &:not(.router-link-active) {
          background-color: var(--bg-sub-menu);
        }

        .nav-item {
          &__submenu {
            display: block;
          }
        }
      }
    }
  }

  &.router-link-active {
    background-color: var(--primary-hover);

    .nav-item {
      &__icon {
        color: var(--text-btn-color);
      }

      &__name {
        color: var(--text-btn-color);
      }

      &__arrow {
        color: var(--text-btn-color);
      }

      &__submenu {
        background-color: var(--primary-hover);
      }

      &__sub-title {
        color: var(--text-btn-color);
      }

      &__sub-item {
        color: var(--text-btn-color);
        opacity: .6;

        &.router-link-active,
        &.router-link-exact-active {
          color: var(--text-btn-color);
          background-color: var(--hover);
          opacity: 1;
        }

        @include media-min($md) {
          &:hover {
            background-color: var(--hover);
            opacity: 1;
          }
        }
      }
    }
  }
}
