<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page_list">
						<div class="short_news" th:each="article : ${articles}">
							<div class="header">
								<h3 class="title" th:text="${article.title}">Заголовое</h3>
								<h5 class="subtitle" th:text="${article.description}">Краткое описание</h5>
							</div>
							<div class="description" th:utext="${article.shortText}">
							</div>
							<div class="bottom">
								<time th:datetime="${article.created}" th:text="${article.lastDate}">05 марта 2022</time>
								<span class="status" th:appendclass="${article.status}" th:text="${article.status.name}">Статус</span>
								<div class="btn_cont">
									<a href="№">Предпросмотр</a>
									<a th:href="@{|/profile/articles/${article.id}|}" class="btn">Редактировать</a>
								</div>
							</div>
						</div>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>