<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <script th:src="@{/resources/js/editorjs/editor.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/checklist.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/code.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/delimiter.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/embed.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/header.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/image.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/inline-code.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/link.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/list.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/marker.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/paragraph.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/personality.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/quote.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/table.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/warning.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/dnd5club-markers-dice-text.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/dnd5club-markers-saving-throw.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/dnd5club-markers-advantage.js}"></script>
    <script th:src="@{/resources/js/editorjs/plugins/dnd5club-markers-disadvantage.js}"></script>
</head>
<body id="body" class="overflow-hidden">
<div id="container" class="container">
    <div class="row">
        <div layout:fragment="content" class="article page_main" data-simplebar>
            <form id="article_edit" th:action="@{|/profile/articles/|}" th:object="${article}" method="post">
                <div class="news_wrapper">
                    <div class="left"></div>
                    <div class="news_page">
                        <div class="header">
                            <input type="number" hidden="true" th:field="*{id}">
                            <input type="text" hidden="true" th:field="*{created}">
                            <input type="text" hidden="true" th:field="*{creator}">
                            <input type="text" hidden="true" th:field="*{status}">
                            <div class="row_input">
                                <input type="text"
                                       required="required"
                                       aria-required="true"
                                       minlength="3"
                                       maxlength="255"
                                       placeholder="Название"
                                       th:field="*{title}"
                                >
                            </div>
                            <div class="row_input">
                                <input type="text" placeholder="Описание" th:field="*{description}">
                            </div>
                        </div>
                        <div class="main editor_text">
                            <textarea id="text"
                                      class="hide_block"
                                      name="text"
                                      required="required"
                                      aria-required="true"
                                      minlength="200"
                                      th:field="*{text}"
                            ></textarea>
                            <div id="text-faker"></div>
                        </div>
                        <div class="bottom">
                            <label for="link_access" class="check_block">
                                <input class="toggle"
                                       type="checkbox"
                                       th:field="*{linkAccess}">
                                <span>Доступ по ссылке</span>
                            </label>

                            <div class="row_input">
                                <input type="text" name="tags" placeholder="Теги" th:field="*{tags}">
                            </div>
                            <div class="row_input">
                                <input class="hide_block" type="text" placeholder="Автор" th:field="*{author}">
                                <input type="text" placeholder="Автор перевода" th:field="*{translation}">
                                <input type="text" placeholder="Автор оригинала" th:field="*{originalAuthor}">
                            </div>
                            <div class="row_input">
                                <input type="text" name="article_link_original" placeholder="Ссылка на оригинал"
                                       th:field="*{originalUrl}">
                                <input type="text" name="article_source_name"
                                       placeholder="Название оригинального источника" th:field="*{originalName}">
                            </div>
                            <div class="row_input">
                                <input type="text" placeholder="Ссылка на картинку для сетей" th:field="*{imageUrl}">
                                <input type="text" placeholder="Автор картинки" th:field="*{imageAuthor}">
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="btn_block">
                            <button id="publishe"
                                    sec:authorize="hasAnyRole('ADMIN','MODERATOR', 'WRITER')"
                                    class="btn"
                                    name="publishe"
                                    value="publishe"
                            >
                                Опубликовать
                            </button>

                            <button th:if="*{status eq 'MODERATION'}"
                                    id="reject"
                                    sec:authorize="hasAnyRole('ADMIN','MODERATOR')"
                                    class="btn"
                                    name="reject"
                                    value="reject"
                            >
                                Отклонить
                            </button>

                            <button id="moderate"
                                    class="btn"
                                    name="moderate"
                                    value="moderate"
                            >
                                На проверку
                            </button>

                            <button id="save"
                                    type="submit"
                                    class="btn secondary"
                                    name="save"
                                    value="save"
                            >
                                Сохранить черновик
                            </button>

                            <button id="preview"
                                    class="btn secondary"
                                    name="preview"
                                    value="preview"
                            >
                                Предпросмотр
                            </button>

                            <button id="delete"
                                    th:unless="*{id eq null}"
                                    class="btn secondary"
                                    name="delete"
                                    value="delete"
                            >
                                Удалить
                            </button>

                            <button id="cancel"
                                    class="btn secondary"
                                    name="cancel"
                                    value="cancel"
                            >
                                Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script th:src="@{|/resources/js/articlesForm.js?v=${version}|}" layout:fragment="js-script"></script>
</html>
