@import "theme-dark";
@import "theme-light";

:root {
  --max-vh: 100vh;
  --max-content: 1320px;

  // Colors
  --discord-base: #5865F2;
  --discord-hover: #3f4cd9;
  --patreon-base: #FF424D;
  --patreon-hover: #E62934;
  --vk-base: #0077FF;
  --vk-hover: #005EE6;
  --boosty-base: #F15F2C;
  --boosty-hover: #D84613;

  --success: #3fa444;
  --warning: #fb862d;
  --error: #cf3838;

  // Backgrounds
  --bg-img-bestiary-forest: url("/img/bg-forest.webp");
  --bg-img-bard: url("/img/bg-bard.webp");
}
