@import "theme-dark";
@import "theme-light";

:root {
  --max-vh: 100vh;

  // Colors
  --discord-base: #5865F2;
  --discord-hover: #3f4cd9;
  --patreon-base: #FF424D;
  --patreon-hover: #E62934;
  --vk-base: #0077FF;
  --vk-hover: #005EE6;
  --boosty-base: #F15F2C;
  --boosty-hover: #D84613;

  // Backgrounds
  --bg-img-bestiary-forest: url("/app/img/bg-forest.webp");
  --bg-img-bard: url("/app/img/bg-bard.webp");
}
