:root[data-theme="theme-light"] {
  --bg-transparent: #ffffff00;
  --bg-light-main: rgba(249, 246, 235, 0.3);
  --bg-main: #F9F6EB;
  --bg-secondary: #F3F1DB;
  --bg-sub-menu: #F2EACD;
  --bg-dice: #3567C9;
  --bg-homebrew: #319f52;
  --bg-homebrew-gradient: linear-gradient(50deg, var(--bg-table-list), var(--bg-homebrew) 140%);
  --bg-homebrew-gradient-left: linear-gradient(-50deg, var(--bg-table-list), var(--bg-homebrew) 140%);
  --bg-advantage: #0cb70c;
  --bg-disadvantage: #ff3e3e;
  --bg-saving_throw: #fe5e00;
  --bg-blockquote: #e3dfd3;
  --bg-inpur-hover: rgba(3, 3, 3, 0.15);
  --bg-inpur-focus: #bebebe;
  --bg-details-title: #f3e9cb;
  --bg-table-list: #ebe7d9;
  --bg-liner-main-page: linear-gradient(to right, #ebe6d7, transparent);
  --bg-liner-list: linear-gradient(to right, var(--bg-table-list), transparent);
  --bg-liner-menu: linear-gradient(to bottom, var(--bg-main), transparent);
  --bg-liner-divider: linear-gradient(to right, var(--primary), var(--hover));
  --text-color: #404040;
  --text-color-active: #922610;
  --text-color-title: #922610;
  --text-b-color: #313131;
  --text-g-color: #6a6a6a;
  --text-s-color: #922610;
  --text-a-color: #744e09;
  --text-btn-color: #f8f8f8;
  --text-print-color: #000;
  --link-color: #3567C9;
  --hover: rgba(00, 00, 00, 0.08);
  --bg-table-row: rgba(00, 00, 00, 0.05);
  --border: #EEE2BA;
  --primary: #5e5446;
  --primary-hover: #796e5e;
  --primary-active: #696052;
  --primary-select: #6960522a;
  --logo-base-color: #2C2D34;
  --logo-additional-color: #ce0000;

  --common: #fff;
  --uncommon: #6fd575;
  --rare: #58d5eb;
  --very_rare: #e770ff;
  --legendary: #d1d900;
  --artifact: #ff8900;

  /********* IMG BG *********/
  --bg-img-main: url("/img/light/bg-main.webp");

  /********* SCROLL *********/
  --background-color-thumb: rgba(0, 0, 0, 0.6);
  --background-color-thumb-hover: rgba(0, 0, 0, 0.8);
}
