:root[data-theme="theme-dark"] {
  --bg-transparent: #ffffff00;
  --bg-light-main: rgba(19, 26, 32, 0.3);
  --bg-main: #131A20;
  --bg-secondary: #252B32;
  --bg-sub-menu: #293137;
  --bg-dice: #88aef9;
  --bg-homebrew: #5d7e17;
  --bg-homebrew-gradient: linear-gradient(50deg, var(--bg-table-list), var(--bg-homebrew) 240%);
  --bg-homebrew-gradient-left: linear-gradient(-50deg, var(--bg-table-list), var(--bg-homebrew) 240%);
  --bg-advantage: #3dd13d;
  --bg-disadvantage: #d36363;
  --bg-saving_throw: #fe5e00;
  --bg-blockquote: #1e2226;
  --bg-inpur-hover: rgba(255, 255, 255, 0.1);
  --bg-inpur-focus: #3a3e42;
  --bg-details-title: #343a40;
  --bg-table-list: #1a2127;
  --bg-liner-main-page: linear-gradient(to right, #0f151b, transparent);
  --bg-liner-list: linear-gradient(to right, var(--bg-table-list), transparent);
  --bg-liner-menu: linear-gradient(to bottom, var(--bg-main), transparent);
  --bg-liner-divider: linear-gradient(to right, var(--primary), var(--hover));
  --text-color: #ffffff99;
  --text-color-active: #fff;
  --text-color-title: #fff;
  --text-b-color: #fff;
  --text-g-color: #A4A4A4;
  --text-s-color: #c4c5ff;
  --text-a-color: #34bb3e;
  --text-btn-color: #f8f8f8;
  --text-print-color: #000;
  --link-color: #88aef9;
  --hover: rgba(255, 255, 255, 0.05);
  --bg-table-row: rgba(255, 255, 255, 0.03);
  --border: #35393D;
  --primary: #3567C9;
  --primary-hover: #325CAB;
  --primary-active: #2552a5;
  --primary-select: #2552a52a;
  --logo-base-color: #ffffff;
  --logo-additional-color: #ce0000;

  --common: #fff;
  --uncommon: #8aff91;
  --rare: #a5f1ff;
  --very_rare: #e770ff;
  --legendary: #f6ff00;
  --artifact: #ff8900;

  /********* IMG BG *********/
  --bg-img-main: url("/img/dark/bg-main.webp");

  /********* SCROLL *********/
  --background-color-thumb: rgba(255, 255, 255, 0.6);
  --background-color-thumb-hover: rgba(255, 255, 255, 0.8);
}
