<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<th:block th:fragment="traits" th:object="${beastForm}">
		<div class="opportunities" th:each="feat, featStat : *{feats}">
			<th:block th:fragment="trait">
				<div class="control">
					<div class="icon tip add_trait" title="Добавить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 12H12M12 12V7M12 12L12 17M12 12L17 12" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
						</i>
					</div>
					<div class="icon tip remove_trait" title="Удалить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path
									d="M7 6H10M17 6L14 6M10 6L11.1056 5.44721C11.6686 5.16569 12.3314 5.16569 12.8944 5.44721L14 6M10 6L14 6M16.7857 9.17889L15.2986 17.3578C15.1257 18.3088 14.2974 19 13.3308 19H10.6692C9.70258 19 8.87432 18.3087 8.70141 17.3578L7.21434 9.17889C7.10274 8.56505 7.57527 8 8.19917 8C11.0107 8 12.9893 8 15.8008 8C16.4247 8 16.8973 8.56505 16.7857 9.17889Z"
									stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"
								/></svg>
						</i>
					</div>
				</div>
				<div class="content">
					<input hidden th:if="${feat}" th:field="*{feats[__${featStat.index}__].id}"/>
					<input th:if="${feat}" type="text" name="trait_name" placeholder="Название способности" th:field="*{feats[__${featStat.index}__].name}">
					<textarea th:if="${feat}" name="trait_description" rows="4" placeholder="Описание" th:field="*{feats[__${featStat.index}__].description}"></textarea>
					<input th:unless="${feat}" type="text" name="trait_name" placeholder="Название способности">
					<textarea class="html_text" th:unless="${feat}" name="trait_description" rows="4" placeholder="Описание"></textarea>
				</div>
			</th:block>
		</div>
	</th:block>
	<th:block th:fragment="actions" th:object="${beastForm}">
		<div class="opportunities" th:each="action, actionStat : *{actions}">
			<th:block th:fragment="action">
				<div class="control">
					<div class="icon tip add_action" title="Добавить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 12H12M12 12V7M12 12L12 17M12 12L17 12" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
						</i>
					</div>
					<div class="icon tip remove_action" title="Удалить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path
									d="M7 6H10M17 6L14 6M10 6L11.1056 5.44721C11.6686 5.16569 12.3314 5.16569 12.8944 5.44721L14 6M10 6L14 6M16.7857 9.17889L15.2986 17.3578C15.1257 18.3088 14.2974 19 13.3308 19H10.6692C9.70258 19 8.87432 18.3087 8.70141 17.3578L7.21434 9.17889C7.10274 8.56505 7.57527 8 8.19917 8C11.0107 8 12.9893 8 15.8008 8C16.4247 8 16.8973 8.56505 16.7857 9.17889Z"
									stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"
								/>
											</svg>
						</i>
					</div>
				</div>
				<div class="content">
					<input hidden th:if="${action}" th:field="*{actions[__${actionStat.index}__].id}"/>
					<input hidden th:if="${action}" th:field="*{actions[__${actionStat.index}__].actionType}"/>
					<input th:if="${action}" type="text" placeholder="Название Действия" th:field="*{actions[__${actionStat.index}__].name}">
					<textarea class="html_text" th:if="${action}" rows="4" placeholder="Описание" th:field="*{actions[__${actionStat.index}__].description}"></textarea>
					<input th:unless="${action}" type="text" name="action_name" placeholder="Название Действия">
					<textarea class="html_text" th:unless="${action}" name="action_description" rows="4" placeholder="Описание"></textarea>
				</div>
			</th:block>
		</div>
	</th:block>
	<th:block th:fragment="bonuses" th:object="${beastForm}">
		<div class="opportunities" th:each="bonus, bonusStat : *{bonuses}">
			<th:block th:fragment="bonus">
				<div class="control">
					<div class="icon tip add_bonus" title="Добавить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 12H12M12 12V7M12 12L12 17M12 12L17 12" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
						</i>
					</div>
					<div class="icon tip remove_bonus" title="Удалить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path
									d="M7 6H10M17 6L14 6M10 6L11.1056 5.44721C11.6686 5.16569 12.3314 5.16569 12.8944 5.44721L14 6M10 6L14 6M16.7857 9.17889L15.2986 17.3578C15.1257 18.3088 14.2974 19 13.3308 19H10.6692C9.70258 19 8.87432 18.3087 8.70141 17.3578L7.21434 9.17889C7.10274 8.56505 7.57527 8 8.19917 8C11.0107 8 12.9893 8 15.8008 8C16.4247 8 16.8973 8.56505 16.7857 9.17889Z"
									stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"
								/>
											</svg>
						</i>
					</div>
				</div>
				<div class="content">
					<input hidden th:if="${bonus}" th:field="*{bonuses[__${bonusStat.index}__].id}"/>
					<input hidden th:if="${bonus}" th:field="*{bonuses[__${bonusStat.index}__].actionType}"/>
					<input th:if="${bonus}" type="text" name="bonus_name" placeholder="Название бонусного действия" th:field="*{bonuses[__${bonusStat.index}__].name}">
					<textarea class="html_text" th:if="${bonus}" name="bonus_description" rows="4" placeholder="Описание" th:field="*{bonuses[__${bonusStat.index}__].description}"></textarea>
					<input th:unless="${bonus}" type="text" name="bonus_name" placeholder="Название бонусного действия">
					<textarea class="html_text" th:unless="${bonus}" name="bonus_description" rows="4" placeholder="Описание"></textarea>
				</div>
			</th:block>
		</div>
	</th:block>
	<th:block th:fragment="reactions" th:object="${beastForm}">
		<div class="opportunities" th:each="reaction, reactionStat : *{reactions}">
			<th:block th:fragment="reaction">
				<div class="control">
					<div class="icon tip add_reaction" title="Добавить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 12H12M12 12V7M12 12L12 17M12 12L17 12" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
						</i>
					</div>
					<div class="icon tip remove_reaction" title="Удалить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path
									d="M7 6H10M17 6L14 6M10 6L11.1056 5.44721C11.6686 5.16569 12.3314 5.16569 12.8944 5.44721L14 6M10 6L14 6M16.7857 9.17889L15.2986 17.3578C15.1257 18.3088 14.2974 19 13.3308 19H10.6692C9.70258 19 8.87432 18.3087 8.70141 17.3578L7.21434 9.17889C7.10274 8.56505 7.57527 8 8.19917 8C11.0107 8 12.9893 8 15.8008 8C16.4247 8 16.8973 8.56505 16.7857 9.17889Z"
									stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"
								/>
											</svg>
						</i>
					</div>
				</div>
				<div class="content">
					<input hidden th:if="${reaction}" th:field="*{reactions[__${reactionStat.index}__].id}"/>
					<input hidden th:if="${reaction}" th:field="*{reactions[__${reactionStat.index}__].actionType}"/>
					<input th:if="${reaction}" type="text" name="opportunity_name_1" placeholder="Название реакции" th:field="*{reactions[__${reactionStat.index}__].name}">
					<textarea th:if="${reaction}" name="opportunity_description_1" rows="4" placeholder="Описание" th:field="*{reactions[__${reactionStat.index}__].description}"></textarea>
					<input th:unless="${reaction}" type="text" name="opportunity_name_1" placeholder="Название реакции">
					<textarea class="html_text" th:unless="${reaction}" name="opportunity_description_1" rows="4" placeholder="Описание"></textarea>
				</div>
			</th:block>
		</div>
	</th:block>
	<th:block th:fragment="legendaries" th:object="${beastForm}">
		<div class="opportunities" th:each="legendary, legendaryStat : *{legendaries}">
			<th:block th:fragment="legendary">
				<div class="control">
					<div class="icon tip add_legendary" title="Добавить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 12H12M12 12V7M12 12L12 17M12 12L17 12" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
						</i>
					</div>
					<div class="icon tip remove_legendary" title="Удалить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path
									d="M7 6H10M17 6L14 6M10 6L11.1056 5.44721C11.6686 5.16569 12.3314 5.16569 12.8944 5.44721L14 6M10 6L14 6M16.7857 9.17889L15.2986 17.3578C15.1257 18.3088 14.2974 19 13.3308 19H10.6692C9.70258 19 8.87432 18.3087 8.70141 17.3578L7.21434 9.17889C7.10274 8.56505 7.57527 8 8.19917 8C11.0107 8 12.9893 8 15.8008 8C16.4247 8 16.8973 8.56505 16.7857 9.17889Z"
									stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"
								/>
											</svg>
						</i>
					</div>
				</div>
				<div class="content">
					<input hidden th:if="${legendary}" th:field="*{legendaries[__${legendaryStat.index}__].id}"/>
					<input hidden th:if="${legendary}" th:field="*{legendaries[__${legendaryStat.index}__].actionType}"/>
					<input th:if="${legendary}" type="text" name="legendary_name" placeholder="Название легендарного действия" th:field="*{legendaries[__${legendaryStat.index}__].name}">
					<textarea th:if="${legendary}" name="legendary_description" rows="4" placeholder="Описание" th:field="*{legendaries[__${legendaryStat.index}__].description}"></textarea>
					<input th:unless="${legendary}" type="text" name="legendary_name" placeholder="Название легендарного действия">
					<textarea class="html_text" th:unless="${legendary}" name="legendary_description" rows="4" placeholder="Описание"></textarea>
				</div>
			</th:block>
		</div>
	</th:block>
</body>
</html>