<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information" layout:fragment="content">
		<div id="left_block" class="full_width_left_block">
			<div class="header_block">
				<h3>Покупка магических вещей</h3>
			</div>
            <div id="scroll_load_simplebar" class="container_left" data-simplebar>
                <p>Мы работаем над переносом.</p>
            </div>
		</div>
		<!-- <div id="right_block" class="backgrounds">
			<div class="header_block">
				<h3 id="background_name">Название опции</h3>
				<div id="btn_full_screen" class="btn_full_screen tip" title="Делаем все что в наших силах">
					<div class="icon_action icon_full_screen"></div>
				</div>
				<div id="btn_close" class="btn_close tip" title="Закрыть">
					<div class="icon_action icon_close"></div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div> -->
		<script type="text/javascript" th:inline="javascript" >
    		var selectedBackground = [[${selectedBackground}]];
		</script>
	</div>
</body>
<script th:src="@{/resources/js/datatables/backgrounds.js}" layout:fragment="js-script"></script>
</html>