<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<h3>Безумие</h3>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div>
					<input type="checkbox" id="short" name="type" value="SHORT"> <label for="coding">кратковременное</label>
					<input type="checkbox" id="long" name="type" value="LONG"> <label for="coding">долговременное</label>
					<input type="checkbox" id="unlimited" name="type" value="UNLIMITED"> <label for="coding">бессрочное</label>
				</div>
				<button id="generate" class="btn btn_primary">Сгенерировать</button>
				<button id="clear" class="btn btn_primary">Очистить</button>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/madness.js}" layout:fragment="js-script"></script>
</html>