<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information" layout:fragment="content">
		<div id="left_block" class="full_width_left_block tools_block madness">
			<div class="header_block">
				<h3>Безумие</h3>
			</div>
			<div class="tools_settings">
				<h5 class="mt-0">Виды бизумия:</h5>
				<div class="check-wrapper">
					<label for="short" class="check_block"><input id="short" class="check" type="radio" name="short" value="SHORT"><span>Кратковременное</span></label>
					<label for="long" class="check_block"><input id="long" class="check" type="radio" name="short" value="LONG"><span>Долговременное</span></label>
					<label for="unlimited" class="check_block"><input id="unlimited" class="check" type="radio" name="short" value="UNLIMITED"><span>Бессрочное</span></label>
				</div>
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Сгенерировать</button>
					<button id="clear" class="btn btn_primary">Очистить</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/madness.js}" layout:fragment="js-script"></script>
</html>