<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" layout:fragment="content">
		<div id="left_block" class="tools_block encounters">
			<div class="header_block">
				<div class="header_row">
					<h1>Случайные столкновения</h1>
				</div>
			</div>
			<div class="tools_settings">
				<h5>Средний уровень группы:</h5>
				<div class="row_input">
					<div class="select js-dropdown">
						<input id="level" type="hidden" name="level" class="js-dropdown__input">
							<i class="icon_arrow">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"	xmlns="http://www.w3.org/2000/svg">
									<path d="M6 9L11.2929 14.2929C11.6834 14.6834 12.3166 14.6834 12.7071 14.2929L18 9" stroke="#4D4DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</i>
						<span class="placeholder js-dropdown__current size">Уровень</span>
						<ul data-simplebar>
							<li th:data-dropdown-value="1">1-4</li>
							<li th:data-dropdown-value="2">5-10</li>
							<li th:data-dropdown-value="3">11-15</li>
							<li th:data-dropdown-value="4">17-20</li>
						</ul>
					</div>
				</div>
				<br />
				<h5>Окружающая среда:</h5>
				<div class="row_input">
					<div class="select js-dropdown">
						<input id="type" type="hidden" name="type" class="js-dropdown__input" value="RANDOM">
							<i class="icon_arrow">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"	xmlns="http://www.w3.org/2000/svg">
									<path d="M6 9L11.2929 14.2929C11.6834 14.6834 12.3166 14.6834 12.7071 14.2929L18 9" stroke="#4D4DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</i>
						<span class="placeholder js-dropdown__current size">Окружающая среда</span>
						<ul data-simplebar>
							<li th:each="type : ${types}" th:text="${type.name}" th:data-dropdown-value="${type}">1</li>
						</ul>
					</div>
				</div>
				<br />
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Сгенерировать</button>
					<button id="clear" class="btn btn_primary">Очистить</button>
					<a id="random_encounter_table" class="btn btn_primary ajax-popup-link" th:href="@{/tools/encounters/table?level=1&type=CITY}">Показать таблицу</a>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="table" class="dnd5-popup-block" data-simplebar>
		<table class="table">
			<thead>
				<tr>
					<th style="width: 5%;text-align: center;">к100</th>
					<th>Столкновение</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="encounter : ${encounters}">
					<td th:text="${encounter.k100}" style="width: 5%;text-align: center;"></td>
					<td th:utext="${encounter.description}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script th:src="@{/resources/js/tools/random_encounters.js?v=0.1.15}" layout:fragment="js-script"></script>
</html>
