<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" layout:fragment="content">
		<div id="left_block" class="full_width_left_block madness">
			<div class="header_block">
				<h3>Таверна</h3>
			</div>
			<div class="tools_settings">
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Сгенерировать</button>
					<button id="clear" class="btn btn_primary">Очистить</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div class="content_block">
					<h5>Название: <span id="content_block_name"></span></h5>
					<p>Территория: <span id="content_block_habitate"></span></p>
				</div>
			</div>
		</div>
	</div>
	<div></div>
</body>
<script th:src="@{/resources/js/tools/tavern.js}" layout:fragment="js-script"></script>
</html>