<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" layout:fragment="content">
		<div id="left_block" class="madness">
			<div class="header_block">
				<div class="header_row">
					<h1>Таверна</h1>
				</div>
			</div>
			<div class="tools_settings">
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Сгенерировать</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div class="content_block">
					<div>
						<p>
							Название: <span id="content_block_name"></span>
						</p>
					</div>
					<div>
						<span id="content_block_habitate"></span>
					</div>
					<div>
						<p><span id="content_block_atmosphere"></span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="habitates">
		<label class="select_box select_arrow"><span>Территория:</span> <select id="habitate_type" class="select">
				<option th:each="habitate : ${habitates}" th:value="${habitate}" th:text="${habitate.name}" th:selected="${selected eq habitate}"></option>
		</select></label>
	</div>
</body>
<script th:src="@{/resources/js/tools/tavern.js?v=0.1.0}" layout:fragment="js-script"></script>
</html>