<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information table_list_left_block" layout:fragment="content">
		<div id="left_block" class="trader">
			<div class="header_block">
				<h3>Торговец</h3>
			</div>
			<div class="tools_settings">
				<label class="select_box select_arrow">
					<span>Количество магии в мире:</span>
					<select id="mageRang" name="mageRang" class="select select">
						<option value="1" th:selected="${mageRang eq 1}">Мало</option>
						<option value="2" th:selected="${mageRang eq 2}" selected="selected">Норма</option>
						<option value="3" th:selected="${mageRang eq 3}">Много</option>
					</select>
				</label>

					<label class="select_box">
						<span>Результат проверки Харизмы (Убеждение):</span>
						<input id="result" type="number" min="1" name="result" class="form-control select" placeholder="Харизма (Убеждение)" />
					</label>

				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Найти торговца</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<table id="trader_content" class="table_list spells_list dataTable">
				</table>
			</div>
		</div>
		<div id="right_block" class="trader">
			<div class="header_block">
				<h3 id="background_name">В продаже</h3>
				<div id="btn_full_screen" class="btn_full_screen tip" title="На всю страницу">
					<div class="icon_action icon_full_screen"></div>
				</div>
				<div id="btn_close" class="btn_close tip" title="Закрыть">
					<div class="icon_action icon_close"></div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/tools/traider.js}" layout:fragment="js-script"></script>
</html>