<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information table_list_block" layout:fragment="content">
		<div id="left_block" class="treasury">
			<div class="header_block">
				<h3>Сокровищница</h3>
			</div>
			<div class="tools_settings">
				<label class="select_box select_arrow"> <span>Показатель опасности монстра:</span> <select id="cr" name="cr" class="select">
						<option value="1">0-4</option>
						<option value="2">5-10</option>
						<option value="3">11-15</option>
						<option value="4">17+</option>
				</select>
				</label>
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Создать сокровищницу</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div id ="generate_content_block"></div>
			</div>
		</div>
		<div id="right_block" class="treasury">
			<div class="header_block">
				<div class="header_row">
					<h1 id="background_name">В сокровищнице</h3>
					<div id="btn_exet_full_screen" class="btn_exet_full_screen tip" title="Свернуть в окно">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 14H6C7.10457 14 8 14.8954 8 16L8 19M8 5V8C8 9.10457 7.10457 10 6 10H3M21 10H18C16.8954 10 16 9.10457 16 8V5M16 19V16C16 14.8954 16.8954 14 18 14L21 14" stroke="#7B61FF"
									stroke-linecap="round" stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="btn_full_screen" class="btn_full_screen tip" title="На всю страницу">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16 7H17C18.1046 7 19 7.89543 19 9V10M19 14V15C19 16.1046 18.1046 17 17 17H16M8 17H7C5.89543 17 5 16.1046 5 15V14M5 10L5 9C5 7.89543 5.89543 7 7 7L8 7" stroke="#7B61FF"
									stroke-linecap="round" stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="btn_close" class="btn_close tip" title="Закрыть">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</i>
					</div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div class="content_block">
					<div id="content_block">
						<p>Список пуст.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="view">
		<h4 class="header_separator">Всего монет</h4>
		<table class="table">
			<tbody>
				<tr>
					<td th:text="|${coper} мм|"></td>
					<td th:text="|${silver} см|"></td>
					<td th:text="|${electrum} эм|"></td>
					<td th:text="|${gold} зм|"></td>
					<td th:text="|${platina} пм|"></td>
				</tr>
			</tbody>
		</table>
		<th:block th:unless="${things.empty}">
			<h4 class="header_separator">Предметов найдено</h4>
			<table class="table_list  dataTable">
				<tbody>
					<tr th:id = "${thing.id}" th:each="thing : ${things}" th:class="|${thing.englishSpellName eq null ? 'item_selected' : 'spell_selected'} |">
						<td>
							<div th:class="|tip info_block ${thing.rarityEnglish}|" th:title="${thing.rarity}" th:text="${thing.shortRarity}"></div>
							<div class="row_name" th:text="${thing.name}"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<th:block th:if="${treasures}">
			<th:block th:unless="${treasures.empty}">
				<div class="table-responsive">
					<h4 class="header_separator">Камни и предметы исскуства</h4>
					<table class="table_list table">
						<tbody>
							<tr th:each="treasure : ${treasures}">
								<td>
									<div class="content">
										<div class="row_name" th:text="${treasure.name}"></div>
										<div class="secondary_name tip" th:text="${treasure.type.name}" title="Тип"></div>
									</div>
								</td>
								<td class="tip" th:text="|${treasure.cost} зм.|" title="Базовая стоимость"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</th:block>
	</div>
</body>
<script th:src="@{/resources/js/tools/treasury.js}" layout:fragment="js-script"></script>
</html>