<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" layout:fragment="content">
		<div id="left_block" class="full_width_left_block tools_block wildmagic">
			<div class="header_block">
				<h3>Дикая магия</h3>
			</div>
			<div class="tools_settings">
				<label for="additional" class="check_block"><input id="additional" class="toggle" type="checkbox" name="toggle"><span>Использовать дополнительные таблицы</span></label>
				<div class="btn-wrapper">
					<button id="generate" class="btn btn_primary">Сгенерировать</button>
					<button id="clear" class="btn btn_primary">Очистить</button>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div class="content_block">
					<div id="content_block">


						<div class="filter_container">
							<div class="filter_block">
								<div class="header">
									<h5>Название фильтра</h5>
									<button>
										<i class="icon_action">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>	
										</i>
									</button>
									<button>
										<i class="icon_action">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>								
										</i>
									</button>
								</div>
								<div class="filter_crumbs_box">
									<label>
										<input type="checkbox">
										<span>
											Game
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
								</div>
							</div>
							<div class="filter_block">
								<div class="header">
									<h5>Название фильтра</h5>
									<button>
										<i class="icon_action">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>	
										</i>
									</button>
									<button>
										<i class="icon_action">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>								
										</i>
									</button>
								</div>
								<div class="filter_crumbs_box">
									<label>
										<input type="checkbox">
										<span>
											Game
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Game
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Game
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Sword
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
									<label>
										<input type="checkbox">
										<span>
											Scull
										</span>
									</label>								
									<label>
										<input type="checkbox" checked>
										<span>
											Aliens
										</span>
									</label>								
									<label>
										<input type="checkbox">
										<span>
											Run
										</span>
									</label>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/wildmagic.js}" layout:fragment="js-script"></script>
</html>