<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="no_close_left_block block_information" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<h3>Дикая магия</h3>
			</div>
			<div id="scroll_load_simplebar" class="container_left" data-simplebar>
				<div>
					<input type="checkbox" id="source_add" name="interest" value="coding"> <label for="coding">Использовать дополнительные таблицы</label>
				</div>
				<button id="generate" class="btn btn_class small_btn">Сгенерировать</button>
				<button id="clear" class="btn btn_class small_btn">Очистить</button>
			</div>
		</div>
		<div id="right_block" class="backgrounds">
			<div class="header_block">
				<h3 id="background_name">Случайная дикая магия</h3>
				<div id="btn_full_screen" class="btn_full_screen">
					<div class="icon_action icon_full_screen"></div>
				</div>
				<div id="btn_close" class="btn_close">
					<div class="icon_action icon_close"></div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/wildmagic.js}" layout:fragment="js-script"></script>
</html>