<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="login_form" class="login_form dnd5-popup-block" layout:fragment="content" th:fragment="form">
		<div class="header">
			<h4>Авторизация</h4>
			<a class="popup-modal-dismiss" href="#">
				<i class="icon_action">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</i>
			</a>
		</div>
		<div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
		<form id="login-form" th:action="@{/login}" method="post" role="form">
			<input type="text" name="username" id="username" class="form-control" placeholder="Имя пользователя"> <input type="password" name="password" id="password" class="form-control"
				placeholder="Пароль"
			>
			<div class="remember_row">
				<label for="remember-me" class="check_block"><input id="remember-me" class="check" type="checkbox" name="remember-me"><span>Запомнить меня</span></label>
			</div>
			<div class="bottom">
				<button type="submit" name="submit" class="button" value="Вход">Вход</button> <a class="button" th:href="@{/registration}">Регистрация</a>
			</div>
		</form>
	</div>
</body>
<script th:src="@{|/resources/js/login.js?v=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmssSSS')}|}" layout:fragment="js-script"></script>
</html>
