<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="login_form" class="login_form dnd5-popup-block" layout:fragment="content" th:fragment="form">
		<div class="header">
			<h4>Авторизация</h4>
		</div>
		<div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
		<form id="login-form" th:action="@{/login}" method="post" role="form">
			<input type="text" name="username" id="username" class="form-control" placeholder="Имя пользователя"> <input type="password" name="password" id="password" class="form-control"
				placeholder="Пароль"
			>
			<div class="remember_row">
				<label for="remember-me" class="check_block"><input id="remember-me" class="check" type="checkbox" name="remember-me"><span>Запомнить меня</span></label>
			</div>
			<div class="bottom">
				<button type="submit" name="submit" class="button" value="Вход">Вход</button> <a class="button" th:href="@{/registration}">Регистрация</a>
			</div>
		</form>
	</div>
</body>
<script th:src="@{/resources/js/login.js?v=1.0.17}" layout:fragment="js-script"></script>
</html>
