<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="container_card" class="profile" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<div class="header_row">
					<div class="title">
						<h1>Профиль</h1>
						<h2>Profile</h2>
					</div>
				</div>
			</div>
			<div class="container_left" data-simplebar>
				<div class="cont">
					<div class="row info_block">
						<div class="avatar">
							<img src="/resources/assets/icon/avatar.png" alt="Аватар">
						</div>
						<div class="name row column">
							<h3>Name</h3>
							<p>mail</p>
							<p><span>Status 1,</span> <span>Status 2,</span> <span>Status 3</span></p>
						</div>
					</div>

					<div class="row column">
						<a sec:authorize="hasRole('ADMIN')" href="/admin/users" class="card">Список пользователей</a>
						<a sec:authorize="hasRole('ADMIN')" href="/profile/beast" class="card">Добавить монстра</a>
						<a sec:authorize="hasRole('ADMIN')" href="/profile/articles" class="card">Статьи</a>
					</div>

					<div class="block_card">
						<div class="card">
							<h5>Статьи</h5>
							<p>Всего: <span><a href="/profile/articles" th:text="${all_article_count}">0</a></span></p>
							<p>На проверки: <span><a href="#">0</a></span></p>
							<p>Ожидают модерации: <span><a href="#">0</a></span></p>
							<div class="row bottom">
								<a sec:authorize="hasRole('ADMIN')" href="/articles">Посмотреть все</a>
								<a href="/profile/articles/form">Добавить</a>
							</div>
						</div>
						<div class="card">
							<h5>Приключения</h5>
							<p>Всего: <span><a href="#">0</a></span></p>
							<p>На проверки: <span><a href="#">0</a></span></p>
							<p>Ожидают модерации: <span><a href="#">0</a></span></p>
							<div class="row bottom">
								<a href="#">Посмотреть все</a>
								<a href="#">Добавить</a>
							</div>
						</div>
					</div>
					<div class="block_card">
						<div class="card">
							<h5>Новости</h5>
							<p>Всего: <span><a href="#">0</a></span></p>
							<p>На проверки: <span><a href="#">0</a></span></p>
							<p>Ожидают модерации: <span><a href="#">0</a></span></p>
							<div class="row bottom">
								<a href="#">Посмотреть все</a>
								<a href="#">Добавить</a>
							</div>
						</div>
						<div class="card">
							<h5>Пользователи</h5>
							<p>Всего: <span><a href="#">0</a></span></p>
							<p>Писателей: <span><a href="#">0</a></span></p>
							<p>Модераторов: <span><a href="#">0</a></span></p>
							<div class="row bottom">
								<a href="#">Посмотреть все</a>
								<a href="#">Добавить</a>
							</div>
						</div>
					</div>

					<div class="row column">
						<h4 class="header_separator"><span>Изменить данные профиля</span></h4>
						
						<div class="row_input">
							<input type="password" class="old_password" name="old_password" placeholder="Старый пароль">
							<input type="password" class="new_password" name="new_password" placeholder="Новый пароль">
						</div>
					</div>
					<div class="bottom">
						<button class="btn btn_primary">Сохарнить</button>
						<button class="btn">Отмена</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>