<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div class="profile" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<div class="header_row">
					<div class="title">
						<h1>Профиль</h1>
						<h2>Profile</h2>
					</div>
				</div>
			</div>
			<div class="container_left" data-simplebar>
				<div class="cont">
					<div class="row info_block">
						<div class="avatar">
							<img src="/resources/assets/icon/avatar.png" alt="Аватар">
						</div>
						<div class="name row column">
							<h3 th:text="${name}">Name</h3>
							<p th:text="${email}">mail</p>
							<p><span th:each="role, iter : ${roles}" th:text="${iter.last ? role.name : role.name + ', '}">роль</span></p>
						</div>
					</div>

					<div class="row column">
						<a sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" href="/profile/beast" class="card">Добавить монстра</a>
					</div>

					<div class="block_card">
						<div class="card">
							<h5>Статьи</h5>
							<p>Черновики: <span><a href="/profile/articles/created" th:text="${all_article_count}">0</a></span></p>
							<p>На проверке: <span><a href="/profile/articles/moderated" th:text="${moderate_user_article_count}">0</a></span></p>
							<p sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">Ожидают модерации: <span><a href="/profile/articles/moderate" th:text="${moderate_article_count}">0</a></span></p>
							<div class="row bottom">
								<a href="/profile/articles">Все мои статьи</a>
								<a href="/profile/articles/form">Добавить</a>
							</div>
						</div>
						<div sec:authorize="hasAnyRole('ADMIN', 'WRITER')" class="card">
							<h5>Приключения</h5>
							<p>Черновики: <span><a href="#">0</a></span></p>
							<p>На проверке: <span><a href="#">0</a></span></p>
							<p sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">Ожидают модерации: <span><a href="#">0</a></span></p>
							<div class="row bottom">
								<a href="#">Все мои приключения</a>
								<a href="#">Добавить</a>
							</div>
						</div>
					</div>
					<div class="block_card" sec:authorize="hasRole('ADMIN')">
						<div class="card">
							<h5>Новости</h5>
							<p>Черновики: <span><a href="#">0</a></span></p>
							<br/>
							<br/>
							<div class="row bottom">
								<a href="#">Все мои новости</a>
								<a href="#">Добавить</a>
							</div>
						</div>
						<div class="card">
							<h5>Пользователи</h5>
							<p>Всего: <span><a href="/admin/users" th:text="${user_count}">0</a></span></p>
							<p>Писателей: <span><a href="#" th:text="${user_writer}">0</a></span></p>
							<p>Модераторов: <span><a href="#" th:text="${user_moderator}">0</a></span></p>
							<div class="row bottom">
								<a href="/admin/users">Посмотреть всех</a>
							</div>
						</div>
					</div>
					<div class="row column">
						<h4 class="header_separator"><span>Изменить данные профиля</span></h4>
						
						<div class="row_input">
							<input type="password" class="old_password" name="old_password" placeholder="Старый пароль">
							<input type="password" class="new_password" name="new_password" placeholder="Новый пароль">
						</div>
					</div>
					<div class="bottom">
						<button class="btn btn_primary">Сохарнить</button>
						<button class="btn">Отмена</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>