<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="container_card" class="profile" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<div class="header_row">
					<div class="title">
						<h1>Профиль</h1>
						<h2>Profile</h2>
					</div>
				</div>
			</div>
			<div class="container_left" data-simplebar>
				<div class="cont">
					<div class="row info_block">
						<div class="avatar">
						</div>
						<div class="name row column">
							<h3>Name</h3>
							<p>mail</p>
							<time datetime="2022-03-05">05 марта 2022</time>
						</div>
					</div>

					<div class="row column">
						<a sec:authorize="hasRole('ADMIN')" href="/admin/users" class="card">Список пользователей</a>
						<a sec:authorize="hasRole('ADMIN')" href="/profile/beast" class="card">Добавить монстра</a>
						<a sec:authorize="hasRole('ADMIN')" href="/profile/articles" class="card">Статьи</a>
					</div>

					<div class="row column">
						<h5 class="header_separator"><span>Изменить данные профиля</span></h5>
						
						<div class="row_input">
							<input type="text" class="old_password tip" name="old_password" placeholder="Старый пароль" title="Старый пароль">
							<input type="text" class="new_password tip" name="new_password" placeholder="Новый пароль" title="Новый пароль">
						</div>
					</div>
					<div class="bottom">
						<button class="btn btn_primary">Сохарнить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>