<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content">
				<form id = "registration_form" autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post" class="m-t mfp-hide" role="form" data-toggle="validator">
					<div class="mb-3">
						<input th:field="*{name}" type="text" class="form-control" placeholder="Имя пользователя" aria-label="Имя пользователя" aria-describedby="basic-addon1" />
						<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Неверное имя</div>
					</div>
					<div class="mb-3">
						<input th:field="*{email}" type="text" class="form-control" placeholder="Электронный адрес" aria-label="Электронный адрес" aria-describedby="basic-addon1" />
						<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Неверный электронный адрес</div>
					</div>
					<div class="mb-3">
						<input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" aria-label="Пароль" aria-describedby="basic-addon2" />
						<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неверный размер</div>
					</div>
					<div class="mb-3">
						<input th:field="*{passwordConfirm}" type="password" class="form-control" placeholder="Повторите пароль" aria-label="Повторите пароль" aria-describedby="basic-addon1" />
						<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Неверный размер</div>
					</div>
					<button type="submit" class="btn">Регистрация</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/registration.js?v=1.0}" layout:fragment="js-script"></script>
</html>