<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="login_form dnd5-popup-block" th:fragment="form">
				<div class="left_block">
				</div>
				<div class="right_block">
					<a class="popup-modal-dismiss" href="#">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</i>
					</a>
					<form id="registration_form" autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post" class="registration_form dnd5-popup-block form" role="form" data-toggle="validator">
						<h4>Регистрация</h4>
						<div>
							<input th:field="*{email}" type="text" class="form-control" placeholder="Электронный адрес" aria-label="Электронный адрес" aria-describedby="basic-addon1" />
							<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Неверный электронный адрес</div>
						</div>
						<div>
							<input th:field="*{name}" type="text" class="form-control" placeholder="Имя пользователя" aria-label="Имя пользователя" aria-describedby="basic-addon1" />
							<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Неверное имя</div>
						</div>
						<div>
							<input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" aria-label="Пароль" aria-describedby="basic-addon2" />
							<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неверный размер</div>
						</div>
						<div>
							<input th:field="*{passwordConfirm}" type="password" class="form-control" placeholder="Повторите пароль" aria-label="Повторите пароль" aria-describedby="basic-addon1" />
							<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Неверный размер</div>
						</div>
						<div class="bottom">
							<button type="submit" class="btn">Регистрация</button>
							<a class="ajax-popup-link button" th:href="@{/loginform}">Вход</a>
						</div>
					</form>
					<script type="text/javascript">
						$('.ajax-popup-link').magnificPopup({
							type: 'ajax',
							closeOnBgClick: true,
							modal: true,
						});
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{|/js/registration.js?v=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmssSSS')}|}" layout:fragment="js-script"></script>
</html>
