@import "normalize.css";
@import "vue-multiselect/dist/vue-multiselect.css";
@import "tippy.js/dist/tippy.css";
@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

[data-tippy-root] {
  display: inline;
  cursor: auto;

  .tippy-box {
    &[data-theme~=dnd5club] {
      background-color: var(--bg-main);
      border: 1px solid var(--border);
      border-radius: 8px;

      & > .tippy-backdrop {
        background-color: var(--bg-main);
      }

      & > .tippy-content {
        max-height: 320px;
        overflow: auto;
        color: var(--text-color);
        line-height: 16px;
        padding: 10px;
      }

      & > .tippy-svg-arrow {
        fill: var(--bg-main);
      }

      &[data-placement^=top] > .tippy-arrow:before {
        border-top-color: var(--bg-main);
      }

      &[data-placement^=bottom] > .tippy-arrow:before {
        border-bottom-color: var(--bg-main);
      }

      &[data-placement^=left] > .tippy-arrow:before {
        border-left-color: var(--bg-main);
      }

      &[data-placement^=right] > .tippy-arrow:before {
        border-right-color: var(--bg-main);
      }
    }

    &[data-theme~=no-padding] {
      & > .tippy-content {
        padding: 0;
      }
    }
  }
}

.ps {
  height: 100%;
  width: 100%;

  &__thumb {
    &-x,
    &-y {
      background-color: var(--primary);
    }
  }

  & &__rail {
    &-x,
    &-y {
      &:hover,
      &:focus,
      &.ps--clicking {
        background-color: transparent;

        .ps {
          &__thumb {
            &-x,
            &-y {
              background-color: var(--primary);
              width: 6px;
            }
          }
        }
      }
    }
  }
}

.vel-modal {
  @include css_anim($item: background-color);

  &.is-bg-hide {
    background-color: var(--bg-main) !important;
  }

  .vel-img-wrapper {
    .vel-img {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .vel-toolbar {
    .vel-icon {
      width: 1.5em;
      height: 1.5em;
      vertical-align: -0.15em;
    }
  }
}

.vfm__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: var(--max-vh);
  width: 100%;
  background-color: var(--bg-light-main);
}

.multiselect {
  @include css_anim();

  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row-reverse;
  background: var(--bg-sub-menu);
  cursor: pointer;
  min-height: 38px;
  border: {
    width: 1px;
    style: solid;
    color: var(--border);
    radius: 8px;
  };

  &:after,
  &:before {
    box-sizing: border-box;
    outline: none;
    appearance: none;
    -webkit-overflow-scrolling: touch;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    outline: none;
    appearance: none;
    -webkit-overflow-scrolling: touch;
  }

  &__tags {
    color: var(--text-color);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    background: transparent;
    min-height: 38px;
    width: 100%;
    padding: 0;
    border: 0;
  }

  &__select {
    @include css_anim();

    width: 38px;
    height: 100%;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    flex-shrink: 0;
    top: initial;
    right: initial;

    &:hover {
      background-color: var(--hover);
    }

    &:before {
      display: none;
    }

    svg {
      @include css_anim();

      color: var(--primary);
    }
  }

  &__spinner {
    width: 38px;
    height: calc(100% - 2px);
    background: var(--bg-secondary);
    right: 0;

    &:before,
    &:after {
      border-color: var(--primary) transparent transparent;
    }
  }

  &__input {
    cursor: text;
  }

  &__single,
  &__tags-wrap,
  &__placeholder {
    padding: 7px 12px 0 12px;
    min-height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: transparent;
    color: var(--text-color);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);

    &::placeholder {
      color: var(--text-color);
      font-size: var(--main-font-size);
      line-height: var(--main-line-height);
    }
  }

  &__content {
    width: 100%;

    &-wrapper {
      background: var(--bg-secondary);
      color: var(--text-color);
      font-size: var(--main-font-size);
      line-height: var(--main-line-height);
      top: 100%;
      left: -1px;
      width: calc(100% + 2px);
      border: {
        width: 0 1px 1px 1px;
        style: solid;
        color: var(--border);
        radius: 0 0 8px 8px;
      };
    }
  }

  &__option {
    background: var(--bg-secondary);
    color: var(--text-color);
    width: 100%;

    span {
      white-space: break-spaces;
      width: 100%;
      display: block;
    }

    &--group {
      background: var(--bg-sub-menu);
      color: var(--text-color);
      font-weight: 600;
    }

    &--disabled {
      background: var(--bg-sub-menu) !important;
      color: var(--text-color) !important;
    }

    &--highlight {
      background-color: var(--primary-hover);
      color: var(--text-btn-color);

      &:after {
        background-color: transparent;
      }
    }

    &--selected {
      font-weight: 400;
      color: var(--text-btn-color);
      background-color: var(--primary-active);

      &.multiselect {
        &__option {
          &--highlight {
            color: var(--text-btn-color);
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }

  &__element {
    width: 100%;
    margin-bottom: initial;
    line-height: initial;
  }

  &--active {
    border-radius: 8px 8px 0 0;

    .multiselect {
      &__placeholder {
        display: inline-block;
      }

      &__select {
        transform: none;

        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    @include css_anim();

    border-color: var(--primary-active);

    .multiselect {
      &__content {
        &-wrapper {
          border-color: var(--primary-active);
        }
      }
    }
  }
}

.Vue-Toastification {
  &__bounce {
    &-leave-active,
    &-enter-active {
      animation-duration: 450ms;
    }

    &-move {
      animation-duration: 250ms;
    }
  }

  &__icon {
    margin: 2px 16px 0 0;
    width: 20px;
    height: 20px;
  }

  &__close-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 0 16px;
  }

  &__toast {
    padding: 12px 16px;
    border-radius: 12px;
    min-height: 48px;

    @media only screen and (max-width: 600px) {
      border-radius: 0;
    }

    .Vue-Toastification {
      &__toast {
        &-component-body,
        &-body {
          display: inline-flex;
          align-items: center;
          font-size: var(--main-font-size);
          line-height: var(--main-line-height);
        }
      }
    }

    &--default,
    &--info,
    &--success,
    &--warning,
    &--error {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                font-weight: bold;

                &:hover {
                  border-bottom: 1px solid currentColor;
                }
              }
            }
          }
        }

        &__close {
          &-button {
            color: currentColor;
          }
        }

        &__progress {
          &-bar {
            background-color: transparent;

            &:before {
              content: '';
              display: block;
              height: 100%;
              width: 100%;
              opacity: .7;
              background-color: currentColor;
            }
          }
        }
      }
    }

    &--default {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: $vt-text-color-default;
              }
            }
          }
        }
      }
    }

    &--info {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: $vt-text-color-info;
              }
            }
          }
        }
      }
    }

    &--success {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: $vt-text-color-success;
              }
            }
          }
        }
      }
    }

    &--warning {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: $vt-text-color-warning;
              }
            }
          }
        }
      }
    }

    &--error {
      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: $vt-text-color-error;
              }
            }
          }
        }
      }
    }
  }
}
