@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-BoldItalic.eot');
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
  url('/fonts/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-BoldItalic.woff2') format('woff2'),
  url('/fonts/Lora-BoldItalic.woff') format('woff'),
  url('/fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.eot');
  src: local('Lora Regular'), local('Lora-Regular'),
  url('/fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-Regular.woff2') format('woff2'),
  url('/fonts/Lora-Regular.woff') format('woff'),
  url('/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-MediumItalic.eot');
  src: local('Lora Medium Italic'), local('Lora-MediumItalic'),
  url('/fonts/Lora-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-MediumItalic.woff2') format('woff2'),
  url('/fonts/Lora-MediumItalic.woff') format('woff'),
  url('/fonts/Lora-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.eot');
  src: local('Lora Bold'), local('Lora-Bold'),
  url('/fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-Bold.woff2') format('woff2'),
  url('/fonts/Lora-Bold.woff') format('woff'),
  url('/fonts/Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Medium.eot');
  src: local('Lora Medium'), local('Lora-Medium'),
  url('/fonts/Lora-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-Medium.woff2') format('woff2'),
  url('/fonts/Lora-Medium.woff') format('woff'),
  url('/fonts/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-SemiBold.eot');
  src: local('Lora SemiBold'), local('Lora-SemiBold'),
  url('/fonts/Lora-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-SemiBold.woff2') format('woff2'),
  url('/fonts/Lora-SemiBold.woff') format('woff'),
  url('/fonts/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Italic.eot');
  src: local('Lora Italic'), local('Lora-Italic'),
  url('/fonts/Lora-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-Italic.woff2') format('woff2'),
  url('/fonts/Lora-Italic.woff') format('woff'),
  url('/fonts/Lora-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Light.woff2') format('woff2'),
  url('/fonts/OpenSans-Light.woff') format('woff'),
  url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('/fonts/OpenSans-Bold.woff') format('woff'),
  url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-SemiBoldItalic.eot');
  src: local('Lora SemiBold Italic'), local('Lora-SemiBoldItalic'),
  url('/fonts/Lora-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
  url('/fonts/Lora-SemiBoldItalic.woff') format('woff'),
  url('/fonts/Lora-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBoldItalic.eot');
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
  url('/fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
  url('/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
  url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBold.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('/fonts/OpenSans-SemiBold.woff') format('woff'),
  url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Medium.eot');
  src: local('Open Sans Medium'), local('OpenSans-Medium'),
  url('/fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Medium.woff2') format('woff2'),
  url('/fonts/OpenSans-Medium.woff') format('woff'),
  url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.eot');
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
  url('/fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-MediumItalic.eot');
  src: local('Open Sans Medium Italic'), local('OpenSans-MediumItalic'),
  url('/fonts/OpenSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-MediumItalic.woff2') format('woff2'),
  url('/fonts/OpenSans-MediumItalic.woff') format('woff'),
  url('/fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBoldItalic.eot');
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
  url('/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
  url('/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('/fonts/OpenSans-Regular.woff') format('woff'),
  url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-LightItalic.eot');
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
  url('/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-LightItalic.woff2') format('woff2'),
  url('/fonts/OpenSans-LightItalic.woff') format('woff'),
  url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-BoldItalic.eot');
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
  url('/fonts/OpenSans-BoldItalic.woff') format('woff'),
  url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neucha';
  src: url('/fonts/Neucha.eot');
  src: local('Neucha'),
  url('/fonts/Neucha.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Neucha.woff2') format('woff2'),
  url('/fonts/Neucha.woff') format('woff'),
  url('/fonts/Neucha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Italic.eot');
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Italic.woff2') format('woff2'),
  url('/fonts/OpenSans-Italic.woff') format('woff'),
  url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

