@media print {
  // body,
  // .content-layout__selected {
  //   overflow: hidden;
  // }

  .content-padding,
  .creature_wrapper,
  .content-layout__selected,
  .content-layout__body,
  .content-detail__body,
  .content-detail {
    overflow: scroll !important;
    height: 100vh !important;
    display: block;
  }

  .scores__stats {
    max-width: calc(15% - 8px);
    flex: 1 0 calc(15% - 8px);
    border: 1px solid rgb(119, 119, 119);
  }

  .navbar,
  .avatar,
  [data-tippy-root],
  .content-layout__list {
    display: none !important;
  }

  h1 a,
  h1,
  h2,
  h3,
  h4,
  h5,
  strong,
  span,
  p,
  .section-header__title--text {
    color: var(--text-print-color) !important;
  }

  h1 a,
  h1,
  h2 {
    margin: 0 !important;
  }

  details {
    display: none;
  }

  details[open] {
    display: block;
  }

}