// Variables
@import "variables";

@media screen and (hover: hover) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    transition: background 100ms ease;

    &:hover {
      background: var(--hover);
    }
  }

  ::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    box-shadow: inset 0 0 0 10px var(--background-color-thumb);

    &:hover {
      box-shadow: inset 0 0 0 10px var(--background-color-thumb-hover);
    }
  }

  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  // overscroll-behavior: contain;

  &::selection {
    background: var(--primary);
    color: var(--text-btn-color);
  }
}

.hidden {
  display: none !important;
}

.schema {
  display: none !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.disable {
  opacity: 0.6 !important;
  cursor: no-drop !important;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--border);
  display: block;
  margin: 14px 0;
}

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-main);
  font-size: var(--main-font-size);
  outline: none;
  color: var(--text-color);
  z-index: 1;
  transition: background-color ease-in-out .2s,
  color ease-in-out .2s;
}

html,
body,
#dnd5club {
  width: 100%;
  min-height: var(--max-vh);
  max-height: var(--max-vh);
  height: var(--max-vh);
  overflow: hidden;
}

#dnd5club {
  overflow: auto;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.become-button {
  @include css_anim($time: .2s);

  padding: 8px 16px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-btn-color);

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    margin-left: 8px;
  }

  & + & {
    margin-left: 8px;
  }

  @include media-min($md) {
    &:hover {
      color: var(--text-btn-color);
    }
  }

  &.is-discord {
    background-color: var(--discord-base);

    @include media-min($md) {
      &:hover {
        background-color: var(--discord-hover);
      }
    }
  }

  &.is-patreon {
    background-color: var(--patreon-base);

    @include media-min($md) {
      &:hover {
        background-color: var(--patreon-hover);
      }
    }
  }

  &.is-vk {
    background-color: var(--vk-base);

    @include media-min($md) {
      &:hover {
        background-color: var(--vk-hover);
      }
    }
  }

  &.is-boosty {
    background-color: var(--boosty-base);

    @include media-min($md) {
      &:hover {
        background-color: var(--boosty-hover);
      }
    }
  }
}

input {
  &[type="text"],
  &[type="number"] {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
