.navbar {
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	width: 100%;
	background: var(--bg-liner-menu);
	display: flex;
	position: relative;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: -10px;
		left: 0;
		background: var(--bg-liner-menu);
		content: '';
	}

	&__head {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 0 24px;
		justify-content: space-between;
		background: var(--bg-liner-menu);

		&__start,
		&__end {
			display: flex;
			align-items: center;
			height: 100%;
		}

		&__start {
			margin-left: -7px;
		}

		&__end {
			margin-right: -7px;
		}

		.btn_nav {
			cursor: pointer;
			height: 40px;
			border-radius: 8px;
			padding: 0 5px;

			&:hover {
				background-color: var(--hover);

				svg,
				path {
					fill: var(--primary-hover);
					stroke: var(--primary-hover);
				}
			}
		}

		.hamburger {
			display: block;
			margin-right: 8px;
			height: auto;
			padding: 7px 9px;
			z-index: 20;

			.line {
				width: 22px;
				height: 2px;
				background-color: var(--text-color);
				display: block;
				margin: 5px auto;
				-webkit-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				border-radius: 2px;
		  	}

			&:hover {
				cursor: pointer;
			}

			&.is-active {

				.line {

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(1) {
						transform: translateY(7px) rotate(45deg);
					}

					&:nth-child(3) {
						transform: translateY(-7px) rotate(-45deg);
					}
				}
			}

			&:hover {
				.line {
					&:nth-child(1) {
						transform: translateX(-6px);
						width: 14px;
					}
				}

				&.is-active {
					.line {
						&:nth-child(1) {
							transform: translateY(7px) rotate(45deg);
							width: 22px;
						}
					}
				}
			}
		}
		  
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			position: relative;

			&:after {
				content: 'β';
				display: block;
				position: absolute;
				top: 0px;
				right: -8px;
				color: var(--primary);
				font-size: 17px;
				font-weight: 600;
			  }
		}

		@media (max-width: 1200px) {
			padding: 0 16px;
		}
	}
}

.club__card {
	background-color: var(--bg-secondary);
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	z-index: 19;
	border-radius: 8px;
	box-shadow: 0px 0px 27px #0006;
	margin: 8px 0 0 16px;
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
	transform-origin: top left;
	visibility: hidden;
	transition: transform 250ms;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
		transform: none;
		transition-delay: 0ms;
		visibility: visible;
	}

	@media (max-width: 1200px) {
		margin: 8px 0 0 8px;
	}

	&__header {
		padding: 50px 20px 20px 20px;
		border-bottom: 1px solid var(--hover);
		display: flex;

		&__logo {

		}

		&__info {
			display: flex;
		}
	}
}
