.navbar {
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	width: 100%;
	background: var(--bg-liner-menu);
	display: flex;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: -10px;
		left: 0;
		background: var(--bg-liner-menu);
		content: '';
	}

	&__head {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 0 24px;
		justify-content: space-between;
		background: var(--bg-liner-menu);

		.btn_nav {
			cursor: pointer;
			height: 40px;
			border-radius: 8px;
			padding: 0 5px;

			&:hover {
				background-color: var(--hover);

				svg,
				path {
					fill: var(--primary-hover);
					stroke: var(--primary-hover);
				}
			}
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			position: relative;

			&:after {
				content: 'β';
				display: block;
				position: absolute;
				top: 0px;
				right: -8px;
				color: var(--primary);
				font-size: 17px;
				font-weight: 600;
			  }
		}
	}
}