<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="|${archetypeName} - ${heroClass.name}|"></title>
</head>
<body>
	<th:block th:fragment="view" th:object="${heroClass}">
		<div th:replace="fragments/class :: classInfo1(${selectedArchetype.englishName})"></div>
		<div class="table-responsive class" >
			<table class="dnd5_table">
				<thead>
					<tr align="center">
						<th rowspan="2" style="width: 24px">Ур.</th>
						<th rowspan="2" style="width: 24px">БМ</th>
						<th rowspan="2" class="align_left">Умения</th>
						<th th:each="featurelevelDefinition : *{featureLevelDefenitions}" align="center" rowspan="2" th:text="${featurelevelDefinition.name}" style="width: 5%">Умения класса</th>
						<th th:each="featurelevelDefinition : ${selectedArchetype.featureLevelDefenitions}" align="center" rowspan="2" th:text="${featurelevelDefinition.name}" style="width: 5%">Умения архетипа</th>
						<th th:unless="${heroClass.levelDefenitions.empty and selectedArchetype.levelDefenitions.empty}" align="center" colspan="9" class="bb">Ячейки заклинаний на уровень заклинаний</th>
					</tr>
					<th:block th:unless="${heroClass.spellcasterType.name() eq 'NONE' or heroClass.spellcasterType.name() eq 'PARTLY'}">
						<tr align="center">
							<th class="mini_lvl">1</th>
							<th class="mini_lvl">2</th>
							<th class="mini_lvl">3</th>
							<th class="mini_lvl">4</th>
							<th:block th:unless="${selectedArchetype.spellcasterType}" class="mini_lvl">
								<th class="mini_lvl">5</th>
								<th:block th:unless="*{spellcasterType.name() eq 'HALF'}" class="mini_lvl">
									<th class="mini_lvl">6</th>
									<th class="mini_lvl">7</th>
									<th class="mini_lvl">8</th>
									<th class="mini_lvl">9</th>
								</th:block>
							</th:block>
						</tr>
					</th:block>
					<th:block th:unless="${selectedArchetype.spellcasterType eq null}">
						<tr align="center">
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
						</tr>
					</th:block>
				</thead>
				<tbody th:with="levelDef=${ {0,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6} }">
					<tr th:each="level : ${#numbers.sequence(1, 20)}" align="center">
						<td align="center" th:text="${level}" />
						<td align="center" th:text="${'+' + levelDef[level]}" />
						<td class="align_left">
                            <a class="text-info tip_scroll archetype_feet"
                               th:each="architypeTrait, iterStat2 : ${heroClass.getArhitypeTraitNames(selectedArchetype.id, level)}"
                               th:text="${iterStat2.last and heroClass.getTraitsClear(level).empty} ? ${#strings.toLowerCase(architypeTrait.name)} : ${#strings.toLowerCase(architypeTrait.name)} + ', '"
                               th:href="|#a${architypeTrait.id}|"
                               th:title="${architypeTrait.name}"
                               th:data-tippy-url="|/classes/archetype/feature/${architypeTrait.id}|"
                               v-tippy="'Думаю...'"
                            ></a>
                            <a class="tip_scroll"
                               th:each="trait, iterStat : ${heroClass.getTraits(level)}"
                               th:unless=${trait.architype}
                               th:href="|#c${trait.child eq null ? trait.id : trait.child}|"
                               th:utext="${iterStat.last} ? ${trait.name.toLowerCase()} : ${trait.name.toLowerCase()} + ', '" th:title="${trait.name}"
                               th:data-tippy-url="|/classes/feature/${trait.id}|"
                               v-tippy="'Думаю...'"
						    ></a>
                        </td>
						<td th:each="featureLevel : *{featureLevelDefenitions}" th:with="byLevel = ${featureLevel.getByLevel(level)}"><th:block th:if="${featureLevel.prefix ne null and byLevel gt 0}"
								th:text="${featureLevel.prefix}"
							/> <th:block th:if="${byLevel gt 0}" th:text="${byLevel}" /> <th:block th:if="${byLevel eq 0}" th:text="'—'" /> <th:block th:if="${byLevel eq -1}" th:text="'Неограниченно'" /> <th:block
								th:if="${featureLevel.sufix ne null and byLevel gt 0}" th:text="${featureLevel.sufix}"
							/></td>
						<td th:each="featureLevel : ${selectedArchetype.featureLevelDefenitions}" th:with="byLevel = ${featureLevel.getByLevel(level)}"><th:block
								th:if="${featureLevel.prefix ne null and byLevel gt 0}" th:text="${featureLevel.prefix}"
							/> <th:block th:if="${byLevel gt 0}" th:text="${byLevel}" /> <th:block th:if="${byLevel eq 0}" th:text="'—'" /> <th:block th:if="${featureLevel.sufix ne null and byLevel gt 0}"
								th:text="${featureLevel.sufix}"
							/></td>
						<th:block th:unless="*{spellcasterType.name() eq 'NONE' or spellcasterType.name() eq 'PARTLY'}">
							<td th:text="${heroClass.levelDefenitions[level - 1].slot1 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot1}" />
                            <td th:text="${heroClass.levelDefenitions[level - 1].slot2 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot2}" />
							<td th:text="${heroClass.levelDefenitions[level - 1].slot3 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot3}" />
							<td th:text="${heroClass.levelDefenitions[level - 1].slot4 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot4}" />
							<td th:text="${heroClass.levelDefenitions[level - 1].slot5 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot5}" />
							<th:block th:unless="*{spellcasterType.name() eq 'HALF'}">
								<td th:text="${heroClass.levelDefenitions[level - 1].slot6 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot6}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot7 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot7}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot8 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot8}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot9 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot9}" />
							</th:block>
						</th:block>
						<th:block th:unless="${selectedArchetype.levelDefenitions.empty}">
							<td th:text="${selectedArchetype.levelDefenitions[level - 1].slot1 eq 0 ? '—' : selectedArchetype.levelDefenitions[level - 1].slot1}" />
                            <td th:text="${selectedArchetype.levelDefenitions[level - 1].slot2 eq 0 ? '—' : selectedArchetype.levelDefenitions[level - 1].slot2}" />
							<td th:text="${selectedArchetype.levelDefenitions[level - 1].slot3 eq 0 ? '—' : selectedArchetype.levelDefenitions[level - 1].slot3}" />
							<td th:text="${selectedArchetype.levelDefenitions[level - 1].slot4 eq 0 ? '—' : selectedArchetype.levelDefenitions[level - 1].slot4}" />
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/class :: classInfo2(${selectedArchetype.englishName})"></div>
		<th:block th:each="feature : ${features}">
			<details th:if="${feature.child eq null}" open th:classappend="${feature.prefix eq 'a'? 'feet_show' : ''}">
				<summary class="h4 header_separator" th:classappend="${feature.prefix eq 'a' or feature.prefix eq 'ad' ? 'archetype_feet' : ''}" th:id="|${feature.prefix}${feature.id}|"><span th:text="${feature.name}"></span></summary>
				<div class="content">
					<div class="caption_text" th:text="${feature.type}"></div>
					<p th:utext="${feature.description}"></p>
					<div th:if="${feature.prefix eq 'ad'}" align="center">
						<table th:unless=${archetypeSpells.empty}>
							<thead>
								<tr>
									<th align="center" th:unless="${heroClass.id eq 5}" class="text-center">Уровень<br>[[${heroClass.genitiveName}]]
									</th>
									<th align="center" th:if="${heroClass.id eq 5}" class="text-center">Уровень<br>заклинания
									</th>
									<th align="left">Заклинания</th>
								</tr>
							</thead>
							<tr th:each="element : ${selectedArchetype.levelSpells}">
								<td align="center" th:text="${element.key}"></td>
								<td>
                                    <th:block th:each="spell, iterStat : ${element.value}">
                                        <spell-tooltip th:url="|/spells/${spell.spell.englishName}|">
                                            <a class="tip_spell" th:href="@{'/spells/' + ${spell.spell.englishName}}" th:title="${spell.spell.name}" th:text="${spell.spell.fullName}"></a>
                                        </spell-tooltip>
										<span th:if="${spell.advenced}" th:text="| (${spell.advenced})|"></span>
										<span th:if="${not iterStat.last}">, </span>
									</th:block>
                                </td>
							</tr>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</details>
		</th:block>
	</th:block>
</body>
</html>
