<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div id="archetypes_list_block" class="sidebar__inner" th:fragment="sub_menu">
		<ul>
			<li class="title_sub_menu">
				<h5 th:text="${archetypeName}" id="title_sub_menu">префикс подклассов</h5>
				<label for="only_archetypes" class="check_block"><input id="only_archetypes" class="toggle" type="checkbox" name="only_archetypes"><span>Только навыки архетипов</span></label>
			</li>
			<li th:class="|sub_menu ${archetype.book.type.name().toLowerCase()}_source|" th:classappend="${archetype.book.type.name() ne 'OFFICAL' ? 'hide_block':''}" th:id="${archetype.englishName.replace(' ', '_')}" th:each="archetype : ${archetypes}"><span th:text="${archetype.capitalizeName}" class="name">Имя</span>
				<div class="sub_info">
					<span class="tip" th:if="${archetype.book.type.name() eq 'CUSTOM'}" title="Homebrew - не является официальным подклассом" >
						<span class="homebrew_text">Homebrew</span> - 
					</span> 
					<span class="tip" th:attr="data-tipped-options=|inline: 'inline-tooltip-source-a-${archetype.id}'|" th:text="${archetype.book.source}"></span>
					<span th:id="|inline-tooltip-source-a-${archetype.id}|" style='display: none' th:text="${archetype.book.name}"></span>
					<span th:text="|&nbsp;/&nbsp;${archetype.englishName}|"></span>
				</div>
				<button class="btn_close icon_action close_archetypes">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>	
				</button></li>
		</ul>
	</div>
</body>
</html>