<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block 	th:object="${armor}" th:fragment="view">
		<p class="row_info">
			<span class="left_info"  th:text="*{type.name}">-</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>

		<div class="grid_stat_block">
			<div class="block">
				<p>Класс Доспеха (AC):</p>
				<span>Класс Доспеха (AC)</span>
			</div>
			<div class="block">
				<p>Стоимость:</p>
				<span>Стоимость</span>
			</div>
			<div class="block">
				<p>Вес (в фунтах):</p>
				<span>Вес (в фунтах)</span>
			</div>
			<div class="block">
				<p>Помеха на Скрытность:</p>
				<span>Помеха на Скрытность</span>
			</div>
			<div class="block">
				<p>Требование к Силе:</p>
				<span>Требование к Силе</span>
			</div>
		</div>

		<p th:utext="*{description}">			
		</p>
	</th:block>
</body>
</html>