<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${armor}" th:fragment="view">
		<p class="row_info">
			<span class="left_info" th:text="*{type.name}">-</span> <span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip"
				th:text="*{book.source}" th:title="*{book.name}"
			>Источник</span></span>
		</p>
		<div class="grid_stat_block">
			<div class="block">
				<p>Класс Доспеха (AC):</p>
				<span th:text="|*{AC} *{type.name() eq 'LIGHT' ? '+ модификатор Лов' : (type.name() eq 'MEDIUM' ? '+ модификатор Лов (макс. 2)' : '')}|">Класс Доспеха (AC)</span>
			</div>
			<div class="block">
				<p>Стоимость:</p>
				<span th:text="|*{cost} зм.|">Стоимость</span>
			</div>
			<div class="block">
				<p>Вес (в фунтах):</p>
				<span th:text="*{weight}">Вес (в фунтах)</span>
			</div>
			<div class="block">
				<p>Помеха на Скрытность:</p>
				<span th:text="*{stelsHindrance ? 'Есть' : 'Нет'}">Помеха на Скрытность</span>
			</div>
			<div class="block">
				<p>Требование к Силе:</p>
				<span th:text="*{forceRequirements eq null ? 'Нет' : forceRequirements}">Требование к Силе</span>
			</div>
			<div class="block">
				<p>Надевание / Снятие:</p>
				<span th:text="|*{type.putting} / *{type.removal}|"></span>
			</div>
		</div>
		<p th:utext="*{description}"></p>
	</th:block>
</body>
</html>