<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${background}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">Англ название</span>
			<span class="tip" th:text="|Источник: *{book.source}|" th:title="*{book.name}">Источник</span>
		</p>

		<p><b>Владение навыками:</b> <span id="traits">-</span></p>
		<p><b>Владение инструментами:</b> <span id="traits_tools">-</span></p>
		<p><b>Языки:</b> <span id="languages">-</span></p>
		<p><b>Снаряжение:</b> <span id="equipments">-</span></p>
		<p><b>Начальный капитал:</b> <span id="start_money">-</span></p>
		<h4 class="header_separator"><span>Описание</span></h4>
		<span th:utext="*{description}"></span>
		<h4 class="header_separator"><span th:text="*{skillName}"></span></h4>
		<div th:utext="*{skillDescription}"></div>
		<h4 th:unless="${tables.empty}" class="header_separator"><span>Персонализация</span></h4>
		<div th:if="*{personalization}" th:utext="*{personalization}"></div>
		<table th:unless="${tables.empty}" class="table">
			<th:block th:each="type : ${tables}">
				<thead>
					<tr>
						<th th:text="|к${type.value.size}|"></th>
						<th class="text-center"><strong th:text="${type.key.name}"></strong></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="value, status : ${type.value}">
						<td th:text="${status.index + 1}"></td>
						<td th:utext="${value.text}"></td>
					</tr>
				</tbody>
			</th:block>
		</table>
	</th:block>
</body>
</html>