<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${background}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info" th:text="*{englishName}">Англ название</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<p><b>Владение навыками:</b> <span th:each="skill, iterStat : *{skills}" th:utext="${iterStat.last? skill.cyrilicName: skill.cyrilicName + ', '}">-</span> <span th:text="*{otherSkills}"></span></p>
		<p th:if="*{toolOwnership}"><b>Владение инструментами:</b> <span th:utext="*{toolOwnership}">-</span></p>
		<p th:if="*{language}"><b>Языки:</b> <span th:text="*{language}">-</span></p>
		<p th:if="*{equipmentsText}"><b>Снаряжение:</b> <span th:utext="*{equipmentsText}">-</span></p>
		<p><b>Начальный капитал:</b> <span th:text="|*{startMoney} зм.|">-</span></p>
		<h4 class="header_separator"><span>Описание</span></h4>
		<span th:utext="*{description}"></span>
		<h4 class="header_separator"><span th:text="*{skillName}"></span></h4>
		<div th:utext="*{skillDescription}"></div>
		<h4 th:unless="${tables.empty}" class="header_separator"><span>Персонализация</span></h4>
		<div th:if="*{personalization}" th:utext="*{personalization}"></div>
		<table th:unless="${tables.empty}" class="table">
			<th:block th:each="type : ${tables}">
				<thead>
					<tr>
						<th th:text="|к${type.value.size}|"></th>
						<th class="text-center"><strong th:text="${type.key.name}"></strong></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="value, status : ${type.value}">
						<td th:text="${status.index + 1}"></td>
						<td th:utext="${value.text}"></td>
					</tr>
				</tbody>
			</th:block>
		</table>
	</th:block>
</body>
</html>