<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<div style="margin-left: 24px;" th:object="${background}" th:fragment="view">
		<div th:utext="*{description}"></div>
		<h4 class="dote" th:text="*{skillName}"></h4>
		<div th:utext="*{skillDescription}"></div>
		<h4 th:unless="${tables.empty}" class="dote">Персонализация</h4>
		<div th:if="*{personalization}" th:utext="*{personalization}"></div>
		<table th:unless="${tables.empty}" class="table">
			<th:block th:each="type : ${tables}">
				<thead>
					<tr>
						<th th:text="|к${type.value.size}|"></th>
						<th class="text-center"><strong th:text="${type.key.name}"></strong></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="value, status : ${type.value}">
						<td th:text="${status.index + 1}"></td>
						<td th:utext="${value.text}"></td>
					</tr>
				</tbody>
			</th:block>
		</table>
	</div>
</body>
</html>