<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${heroClass}" th:fragment="view">
		<table id="options" class="table_list" th:fragment="optionTable">
			<thead style="display: none">
				<tr>
					<th>Название</th>
					<th>Название английское</th>
					<th>Категория</th>
					<th>Требование</th>
					<th>Требование к уровню</th>
				</tr>
			</thead>
		</table>
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables-select/1.3.3/js/dataTables.select.min.js}"></script>
		<script th:src="@{/resources/js/datatables/pageLoader/dataTables.pageLoadMore.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.spring-friendly.js}"></script>
		<script>
			var optionType = '[[${heroClass.optionType.name()}]]'
		</script>
		<script th:src="@{/resources/js/datatables/class_options.js?v=1.2}" layout:fragment="js-script"></script>
	</th:block>
</body>
</html>