<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${heroClass}" th:fragment="view">
		<div class="search_block filter_control">
			<input type="text" id="search" class="search_int" placeholder="Поиск" autocomplete="off">
			<div class="btn_search_icon" title="Поиск">
				<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#7B61FF" stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</i>
			</div>
			<div id="btn_filters" class="btn_filters tip" title="Фильтры">
				<i id="icon_filter" class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
							d="M20.6083 4.64573C21.1579 3.99575 20.6959 3 19.8447 3H4.1553C3.30408 3 2.84207 3.99575 3.39173 4.64573L9.76357 12.1804C9.91623 12.3609 10 12.5897 10 12.8261V19.382C10 19.7607 10.214 20.107 10.5528 20.2764L12.5528 21.2764C13.2177 21.6088 14 21.1253 14 20.382V12.8261C14 12.5897 14.0838 12.3609 14.2364 12.1804L20.6083 4.64573Z"
							stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"
						/>
					</svg>
				</i>
			</div>
			<div id="text_clear" class="btn_text_clear tip" title="Очистить">
				<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</i>
			</div>
		</div>
		<div id="searchPanes" class="search_panes hide_block" data-simplebar>
			<div class="filter_container">
				<div class="filter_block">
					<div class="header">
						<h5>Уровень</h5>
						<button>
							<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
							</i>
						</button>
						<button id="level_clear_btn" class="hide_block">
							<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
							</i>
						</button>
					</div>
					<div class="filter_crumbs_box">
						<label> <input class="level_checkbox filter" type="checkbox" name="level" value="0"><span>заговор</span></label>
						<label th:each="level : ${#numbers.sequence(1, 9)}"> <input class="level_checkbox filter" type="checkbox" name="level" th:value="${level}"
						> <span th:text="${level}"></span></label>
					</div>
				</div>
			</div>
		</div>
		<table id="spells" class="table_list" th:fragment="spellTable">
			<thead style="display: none">
				<tr>
					<th>Уровень</th>
					<th>Школа</th>
					<th>Название</th>
					<th>EnglishName</th>
					<th>Тип урона</th>
					<th>Ритуал</th>
					<th>Концентрация</th>
				</tr>
			</thead>
		</table>
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/searchpanes/dataTables.searchPanes.min.js}"></script>
		<script th:src="@{/webjars/datatables-select/1.3.3/js/dataTables.select.min.js}"></script>
		<script th:src="@{/resources/js/datatables/pageLoader/dataTables.pageLoadMore.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.spring-friendly.js}"></script>
		<script>var classId = [[${heroClass.id}]]</script>
		<script th:src="@{/resources/js/datatables/class_spells.js?v=2.3}" layout:fragment="js-script"></script>
	</th:block>
</body>
</html>