<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
<title th:text="${heroClass.name}"></title>
</head>
<body>
	<th:block th:object="${heroClass}" th:fragment="view">
		<div class="table-responsive class" data-simplebar>
			<table class="dnd5_table">
				<thead>
					<tr align="center">
						<th rowspan="2" style="width: 24px"><span class="tip" title="Уровень в классе">Ур.</span></th>
						<th rowspan="2" style="width: 24px"><span class="tip" title="Бонус мастерства">БМ</span></th>
						<th rowspan="2" class="align_left">Умения</th>
						<th th:each="featurelevelDefinition : *{featureLevelDefenitions}" align="center" rowspan="2" th:text="${featurelevelDefinition.name}" style="width: 5%">Умения</th>
						<th th:unless="*{levelDefenitions.empty}" align="center" colspan="9" class="bb">Ячейки заклинаний на уровень заклинаний</th>
					</tr>
					<th:block th:unless="*{levelDefenitions.empty}">
						<th:block th:unless="${heroClass.spellcasterType.name() eq 'NONE'}">
							<tr align="center">
								<th class="mini_lvl">1</th>
								<th class="mini_lvl">2</th>
								<th class="mini_lvl">3</th>
								<th class="mini_lvl">4</th>
								<th class="mini_lvl">5</th>
								<th:block th:unless="*{spellcasterType.name() eq 'HALF'}" class="mini_lvl">
									<th class="mini_lvl">6</th>
									<th class="mini_lvl">7</th>
									<th class="mini_lvl">8</th>
									<th class="mini_lvl">9</th>
								</th:block>
							</tr>
						</th:block>
					</th:block>
				</thead>
				<tbody th:with="levelDef=${ {0,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6} }">
					<tr th:each="level : ${#numbers.sequence(1, 20)}" align="center">
						<td align="center" th:text="${level}" />
						<td align="center" th:text="${'+' + levelDef[level]}" />
						<td class="align_left"><th:block th:each="trait, iter : ${heroClass.getTraits(level)}">
								<a class="tip_scroll" th:unless=${trait.architype} th:href="|#c${trait.child eq null ? trait.id : trait.child}|" th:utext="|${trait.name.toLowerCase()}${iter.last or iter.size eq 1 ? '': ', '}|"
									th:data-tipped-options="@{ajax: { url: '/classes/feature/{id}'}(id=${trait.id})}"
								></a>
								<a th:if=${trait.architype} th:href="${'#c' + trait.id}" th:utext="|${trait.name.toLowerCase()}${iter.last or iter.size eq 1 ? '': ', '}|"></a>
							</th:block></td>
						<td th:each="featureLevel : *{featureLevelDefenitions}" th:with="byLevel = ${featureLevel.getByLevel(level)}"><th:block th:if="${featureLevel.prefix ne null and byLevel gt 0}"
								th:text="${featureLevel.prefix}"
							/><th:block th:if="${byLevel gt 0}" th:text="${byLevel}" /><th:block th:if="${byLevel eq 0}" th:text="'—'" /><th:block th:if="${byLevel eq -1}" th:text="'Неограниченно'" /> <th:block
								th:if="${featureLevel.sufix ne null and byLevel gt 0}" th:text="${featureLevel.sufix}"
							/></td>
						<th:block th:unless="*{levelDefenitions.empty}">
							<th:block th:unless="*{spellcasterType.name() eq 'NONE'}">
								<td th:text="${heroClass.levelDefenitions[level - 1].slot1 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot1}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot2 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot2}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot3 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot3}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot4 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot4}" />
								<td th:text="${heroClass.levelDefenitions[level - 1].slot5 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot5}" />
								<th:block th:unless="*{spellcasterType.name() eq 'HALF'}">
									<td th:text="${heroClass.levelDefenitions[level - 1].slot6 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot6}" />
									<td th:text="${heroClass.levelDefenitions[level - 1].slot7 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot7}" />
									<td th:text="${heroClass.levelDefenitions[level - 1].slot8 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot8}" />
									<td th:text="${heroClass.levelDefenitions[level - 1].slot9 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot9}" />
								</th:block>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block th:fragment="classInfo(selectedArchetype)">
			<div class="archetype_mobile_selector">
				<div class="select js-dropdown">
					<input type="hidden" name="archetype" id="mobile_selector" class="js-dropdown__input">
					<span class="placeholder js-dropdown__current" th:text="|---*{archetypeName}---|"></span>
					<ul data-simplebar>
						<li th:each="archetype : *{archetypes}" th:data-dropdown-value="${archetype.englishName.replace(' ', '_')}" th:text="|${archetype.name} ${archetype.book.source}|"
						th:selected="${archetype.englishName eq selectedArchetype}" th:class="|${archetype.book.type.name().toLowerCase()}_source|"
						th:classappend="${archetype.book.type.name() ne 'OFFICAL' ? 'hide_block':''}">
						</li>
					</ul>
				</div>
			</div>
			<h4 class="header_separator">Хиты</h4>
			<p class="class_stats">
				<b>Кость Хитов:</b> <span class="dice_text">1к[[*{diceHp}]]</span> за каждый уровень
			</p>
			<p class="class_stats">
				<b>Хиты на 1 уровне:</b> <span th:text="*{diceHp}"></span> + ваш модификатор Телосложения
			</p>
			<p class="class_stats">
				<b>Хиты на следующих уровнях:</b> <span class="dice_text" th:text="|1к*{diceHp}|"></span> (или [[*{diceHp/2 + 1}]]) + модификатор <em>Телосложения</em> за каждый уровень этого класса, после
				первого
			</p>
			<h4 class="header_separator">Владение</h4>
			<p class="class_stats">
				<b>Доспехи:</b> <span th:text="*{armor}"></span>
			</p>
			<p class="class_stats">
				<b>Оружие:</b> <span th:text="*{weapon}"></span>
			</p>
			<p class="class_stats">
				<b>Инструменты:</b> <span th:text="*{tools}"></span>
			</p>
			<p class="class_stats">
				<b>Спаcброски:</b> <span th:text="*{savingThrows}"></span>
			</p>
			<p class="class_stats">
				<b>Навыки:</b> Выберите [[*{skillAvailableCount}]] навыка из следующих:
				<th:block th:if="*{skillAvailableCount == 18}">Выберите [[*{skillAvailableCount}]] любых навыка.</th:block>
				<th:block th:each="skill, iterStat : *{availableSkills}" th:text="${iterStat.last} ? ${skill.cyrilicName} : ${skill.cyrilicName} + ', '" />
			</p>
			<h4 class="header_separator" th:if="*{equipment}">Снаряжение</h4>
			<p th:if="*{equipment}">
				Вы начинаете со следующим снаряжением в дополнение к снаряжению, полученному за вашу предысторию: <span th:utext="*{equipment}"></span>
			</p>
		</th:block>
		<th:block th:each="feature : ${features}">
			<th:block th:if="${feature.child eq null}">
				<h4 class="header_separator" th:text="${feature.name}" th:id="${'c'+feature.id}"></h4>
				<p class="caption_text" th:text="${feature.type}"></p>
				<div th:utext="${feature.description}"></div>
			</th:block>
		</th:block>
		<div th:object="${heroClass}" th:fragment="images">
			<img style="width: 300px; height: auto;" th:each="image : ${images}" th:src="${image}">
		</div>
</body>
</html>