<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
<title th:text="${creature.name}"></title>
</head>
<body>
	<div th:object="${creature}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info" th:text="|*{sizeName} *{type.cyrilicName}*{raceName eq null ? '': ' '+raceName}, *{aligment} / *{size.name().toLowerCase()} *{size.cell}|">Чудовище, хаотично-злое / Огромное (Huge - 3x3 клетки)</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>

		<div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="creatute_href" class="test-popup-link" th:href="@{/resources/assets/style/dark/no_img_best.png}"><img id="creatute_img" th:src="@{/resources/assets/style/dark/no_img_best.png}" alt="Title best"></a>
				<a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}"><img th:if="${iterStat.first}" th:src="${image}"/></a>
			</div>
		</div>
		<div class="beast_info">
			<p>
				<strong>Класс доспеха</strong> <span th:text="*{AC}"></span>
				<th:block th:if="${creature.bonusAC}" th:text="${creature.bonusAC}" />
				<th:block th:unless="${creature.armorTypes.empty}"> (<span th:each="armorType, iterStat : ${creature.armorTypes}"
						th:text="${iterStat.last ? armorType.cyrillicName: armorType.cyrillicName + ', '}"
					></span>)</th:block>
			</p>
			<p>
				<strong>Хиты</strong> <span th:text="${creature.hp}"></span>
			</p>
			<p>
				<strong>Скорость</strong> <span th:utext="${creature.allSpeed}"></span><span th:if="${creature.speedText}" th:text="| ${creature.speedText}|"></span>
			</p>
		</div>
		<div class="scores">
			<div class="scores-strength">
				<h4>
					<strong class="tip" title="Сила">СИЛ</strong>
				</h4>
				<p th:text="${creature.strengthText()}"></p>
			</div>
			<div class="scores-dexterity">
				<h4>
					<strong class="tip" title="Ловкость">ЛОВ</strong>
				</h4>
				<p th:text="${creature.dexterityText()}"></p>
			</div>
			<div class="scores-constitution">
				<h4>
					<strong class="tip" title="Телосложение">ТЕЛ</strong>
				</h4>
				<p th:text="${creature.constitutionText()}"></p>
			</div>
			<div class="scores-intelligence">
				<h4>
					<strong class="tip" title="Интеллект">ИНТ</strong>
				</h4>
				<p th:text="${creature.intellectText()}"></p>
			</div>
			<div class="scores-wisdom">
				<h4>
					<strong class="tip" title="Мудрость">МДР</strong>
				</h4>
				<p th:text="${creature.wizdomText()}"></p>
			</div>
			<div class="scores-charisma">
				<h4>
					<strong class="tip" title="Харизма">ХАР</strong>
				</h4>
				<p th:text="${creature.charismaText()}"></p>
			</div>
		</div>
		<div class="beast_info">
			<p th:unless="${creature.savingThrows.empty}">
				<strong>Спасброски</strong> <span th:each="st, iterStat : ${creature.savingThrows}" th:text="${iterStat.last ? st.text : st.text +', '}"></span>
			</p>
			<p th:unless="${creature.skills.empty}">
				<strong>Навыки</strong> <span th:each="skill, iterStat : ${creature.skills}" th:text="${iterStat.last ? skill.cyrilicText : skill.cyrilicText +', '}"></span>
			</p>
			<p th:unless="${creature.vulnerabilityDamages.empty}">
				<strong>Уязвимость к урону</strong> <span th:each="vulnerability, iterStat : ${creature.vulnerabilityDamages}"
					th:text="${iterStat.last ? vulnerability.cyrilicName : vulnerability.cyrilicName +', '}"
				></span>
			</p>
			<p th:unless="${creature.resistanceDamages.empty}">
				<strong>Сопротивление к урону</strong> <span th:each="resistance, iterStat : ${creature.resistanceDamages}" th:text="${iterStat.last ? resistance.cyrilicName : resistance.cyrilicName +', '}"></span>
			</p>
			<p th:unless="${creature.immunityDamages.empty}">
				<strong>Иммунитет к урону</strong> <span th:each="immunity, iterStat : ${creature.immunityDamages}" th:text="${iterStat.last ? immunity.cyrilicName : immunity.cyrilicName +', '}"></span>
			</p>
			<p th:unless="${creature.immunityStates.empty}">
				<strong>Иммунитет к состояниям</strong> <span th:each="immunity, iterStat : ${creature.immunityStates}" th:text="${iterStat.last ? immunity.cyrilicName : immunity.cyrilicName +', '}"></span>
			</p>
			<p>
				<strong>Чувства</strong> <span th:text="|${creature.sense}${creature.sense.empty ? '': ', '}пассивная Внимательность ${creature.passivePerception}|"></span>
			</p>
			<p>
				<strong>Языки</strong> <span th:if="${creature.languages.empty}"> — </span><span th:each="language, iterStat : ${creature.languages}" th:text="${iterStat.last ? language.name : language.name + ', '}"></span>
			</p>
			<p>
				<strong>Уровень опасности</strong> <span th:text="|*{challengeRating} (*{exp} опыта)|">-</span>
			</p>
		</div>
		<div th:unless="${creature.feats.empty}">
			<h4 class="header_separator"><span>Способности</span></h4>
			<div th:each="feat : ${creature.feats}">
				<span th:id="|f${feat.id}|" class="bestiary_h5">
					<h5 th:text="|${feat.name}.|"></h5>
					<th:block th:utext="${feat.description}" />
				</span>
			</div>
		</div>
		<div th:unless="${creature.getActions('ACTION').empty}">
			<h4 class="header_separator"><span>Действия</span></h4>
			<div th:each="action : ${creature.getActions('ACTION')}">
				<span th:id="|a${action.id}|" class="bestiary_h5">
					<h5 th:text="|${action.name}.|"></h5>
					<th:block th:utext="${action.description}" />
				</span>
			</div>
		</div>
		<div th:unless="${creature.getActions('REACTION').empty}">
			<h4 class="header_separator"><span>Реакции</span></h4>
			<div th:each="action : ${creature.getActions('REACTION')}">
				<span th:id="|a${action.id}|" class="bestiary_h5">
					<h5 th:text="|${action.name}.|"></h5>
					<th:block th:utext="${action.description}" />
				</span>
			</div>
		</div>
		<div th:unless="${creature.bonusActions.empty}">
			<h4 class="header_separator"><span>Бонусные действия</span></h4>
			<div th:each="action : ${creature.getActions('BONUS')}">
				<span th:id="|a${action.id}|" class="bestiary_h5">
					<h5 th:text="|${action.name}.|"></h5>
					<th:block th:utext="${action.description}" />
				</span>
			</div>
		</div>
		<div th:unless="${creature.legendaries.empty}">
			<h4 class="header_separator"><span>Легендарные Действия</span></h4>
			<div th:unless="${creature.legendary eq null}" th:utext="${creature.legendary}"></div>
			<p th:if="${creature.legendary eq null}">
				<span th:text="${creature.name}"></span> может совершить 3 легендарных действия, выбирая из представленных ниже вариантов. За один раз можно использовать только одно легендарное действие, и только
				в конце хода другого существа. <span th:text="${creature.name}"></span> восстанавливает использованные легендарные действия в начале своего хода.
			</p>
			<div th:each="action : ${creature.getActions('LEGENDARY')}">
				<span th:id="|a${action.id}|" class="bestiary_h5">
					<h5 th:text="|${action.name}.|"></h5>
					<th:block th:utext="${action.description}" />
				</span>
			</div>
		</div>
		<th:block th:if="*{lair}">
			<h4 class="header_separator"><span>Логово</span></h4>
			<div th:if="*{lair.description}" th:utext="*{lair.description}"></div>
			<h4 class="header_separator" th:if="*{lair.action}"><span>Действия логова:</span></h4>
			<div th:if="*{lair.action}" th:utext="*{lair.action}"></div>
			<h4 class="header_separator" th:if="*{lair.effect}"><span>Региональные эффекты:</span></h4>
			<div th:if="*{lair.effect}" th:utext="*{lair.effect}"></div>
		</th:block>
		<h4 class="header_separator" th:unless="*{habitates.empty}"><span>Места обитания:</span></h4>
		<p>
			<span th:each="habitat, iter : *{habitates}" th:text="${iter.last ? habitat.name : habitat.name + ', '}"></span>
		</p>
		<details th:if="*{description}">
			<summary class="h4 header_separator"><span>Описание</span></summary>
			<div th:if="*{description}" th:utext="*{description}"></div>
		</details>
		<details th:each="race : *{races}">
			<summary class="h4 header_separator"><span th:text="${race.name}">Описание родительского типа</span></summary>
			<div th:utext="${race.description}"></div>
		</details>
	</div>
</body>
</html>