<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:object="${god}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">Англ название</span>
			<span class="tip" th:text="|Источник: *{book.source}|" th:title="*{book.name}">Источник</span>
		</p>

		<!-- <div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="god_href" class="test-popup-link" th:href="@{/resources/assets/style/dark/no_img_best.png}">
					<img id="god_img" th:src="@{/resources/assets/style/dark/no_img_best.png}" alt="Title god"></a>
				<a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}">
					<img th:if="${iterStat.first}" th:src="${image}"/></a>
			</div>
		</div> -->

		<p><b>Мировоззрение:</b> <span id="alignment">-</span></p>
		<p><b>Ранг:</b> <span id="rank">-</span></p>
		<p><b>Титулы:</b> <span id="title">-</span></p>
		<p><b>Символ:</b> <span id="symbol">-</span></p>
		<p><b>Домены:</b> <span id="domains">-</span></p>
		<p><b>Пантеон:</b> <span id="pantheon">-</span></p>
		<th:block th:utext="*{description}">			
		</th:block>
	</th:block>
</body>
</html>