<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${god}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info" th:text="*{englishName}">Англ название</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="god_href" class="test-popup-link" th:href="@{/style/dark/no_img_best.png}">
					<img id="god_img" th:src="@{/style/dark/no_img_best.png}" alt="Title god"></a>
				<a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}">
					<img th:if="${iterStat.first}" th:src="${image}"/></a>
			</div>
		</div>
		<p><b>Мировоззрение:</b> <span th:text="*{aligment.cyrilicName}">-</span></p>
		<p><b>Ранг:</b> <span th:text="*{prefixName}">-</span></p>
		<p th:if="*{nicknames}"><b>Титулы:</b> <span th:text="*{nicknames}">-</span></p>
		<p><b>Символ:</b> <span th:text="*{symbol}">-</span></p>
		<p th:unless="*{domains.empty}"><b>Домены:</b> <span th:each="domain, iterStat : *{domains}" th:text="${iterStat.last ? domain.cyrilicName : domain.cyrilicName + ', '}">-</span></p>
		<p><b>Пантеон:</b> <span th:text="*{pantheon.name}">-</span></p>
		<th:block th:utext="*{description}">
		</th:block>
	</th:block>
</body>
</html>
