<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${item}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">
				<span th:text="|*{textRarity} *{type.cyrilicName}|">-</span>
				<span th:if="*{special}" th:text="| (*{special})|"></span>
				<span th:unless="*{weapons.empty}">(<span  th:each="weapon, iterStat : *{weapons}" th:text="${iterStat.last ? weapon.name.toLowerCase() : weapon.name.toLowerCase() + ', '}"></span>)</span>
				<span th:unless="*{armors.empty}">(<span th:each="armor, iterStat : *{armors}" th:text="${iterStat.last ? armor.name.toLowerCase() : armor.name.toLowerCase() + ', '}"></span>)</span>
			</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="god_href" class="test-popup-link" th:href="@{/style/dark/no_img_best.png}"> <img id="god_img"
					th:src="@{/style/dark/no_img_best.png}" alt="Title god"
				></a> <a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}"> <img th:if="${iterStat.first}" th:src="${image}" /></a>
			</div>
		</div>
		<p>
			<b>Настройка:</b> <span th:text="*{customization ? 'требуется настройка' : 'Нет'}"></span>
			<span th:unless="*{custClasses.empty}">(<span th:each="class, iterStat : *{custClasses}" th:text="${iterStat.last ? class.ablativeName.toLowerCase() : class.ablativeName.toLowerCase() + ', '}"></span>)</span>
			<span th:if="*{custSpecial}">(<span th:text="*{custSpecial}"></span>)</span>
		</p>
		<p>
			<b>Стоимость по <span class="tip" title="Руководство Мастера">DMG</span>:</b> <span th:text="*{rangeCostDMG}">-</span><br>
			<b>Стоимость по <span class="tip" title="Руководство Зантара обо всем">XGE</span>:</b> <span th:text="*{rangeCostXGE}">-</span>
		</p>
		<th:block th:utext="*{description}"></th:block>
	</th:block>
</body>
</html>
