<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${item}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">Категории: <span th:each="category, iterStat : *{types}" th:text="${iterStat.last ? category.cyrilicName : category.cyrilicName + ', '}">-</span></span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<p th:if="*{currency}"><b>Стоимость:</b> <span th:text="*{textCost}">-</span></p>
		<p th:if = "*{weight}"><b>Вес (в фунтах):</b> <span th:text="*{weight}">-</span></p>
		<th:block th:utext="*{description}"></th:block>
	</th:block>
</body>
</html>
