<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layouts/layout}">
<div class="navbar" th:fragment="menu">
	<div class="nav_head">
		<a sec:authorize="isAnonymous()" th:href="@{/login}" class="user_account ajax-popup-link hide_block" ><i class="icon_user"></i></a>
		<a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="user_account ajax-popup-link hide_block" ><i class="icon_user"></i></a>
		<a class="logo" href="/"></a>
		<button class="close_menu"></button>
		<button class="roll_menu"><i class="icon_menu"></i></button>
	</div>
	<nav>
		<ul class="nav_links sidebar-menu">
			<li class="hidden_li hide_block" sec:authorize="isAnonymous()">
				<a th:href="@{/login}" class="ajax-popup-link">
					<i class="icon_user"></i>
					<span class="link_name">Вход в профиль</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Вход в профиль</span></li>
				</ul>
			</li>
			<li class="hidden_li hide_block" sec:authorize="isAuthenticated()">
				<div class="dropdown">
					<a>
						<i class="icon_user"></i>
						<span class="link_name">Мой профиль</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Мой профиль</span></li>
					<li><a th:href="@{/profile}">Профиль</a></li>
					<li><a th:href="@{/logout}">Выход</a></li>
				</ul>
			</li>
			<li>
				<a th:href="@{/bestiary}">
					<i class="icon_bestiary"></i>
					<span class="link_name">Бестиарий</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Бестиарий</span></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_character"></i>
						<span class="link_name">Персонаж</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Персонаж</span></li>
					<li><a th:href="@{/classes}">Классы</a></li>
					<li><a th:href="@{/races}">Расы</a></li>
					<li><a th:href="@{/options}">Особенности классов</a></li>
					<li><a th:href="@{/backgrounds}">Предыстории</a></li>
					<li><a th:href="@{/traits}">Черты</a></li>
				</ul>
			</li>
			<li>
				<a th:href="@{/spells}">
					<i class="icon_spells"></i>
					<span class="link_name">Заклинания</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Заклинания</span></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_inventory "></i>
						<span class="link_name">Инвентарь</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Инвентарь</span></li>
					<li><a th:href="@{/weapons}">Оружие</a></li>
					<li><a th:href="@{/armors}">Доспехи</a></li>
					<li><a th:href="@{/items}">Снаряжение</a></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_treasures"></i>
						<span class="link_name">Сокровища</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Сокровища</span></li>
					<li><a th:href="@{/treasures}">Драгоценности</a></li>
					<li><a th:href="@{/items/magic}">Магические предметы</a></li>
				</ul>
			</li>
			<li>
				<a th:href="@{/gods}">
					<i class="icon_gods"></i>
					<span class="link_name">Боги</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Боги</span></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_workshop"></i>
						<span class="link_name">Мастерская</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Мастерская</span></li>
					<li><a th:href="@{/screens}">Ширма</a></li>
					<li><a th:href="@{/conditions}">Состояния и болезни</a></li>
					<li><a th:href="@{/rules}">Правила и термины</a></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_instruments"></i>
						<span class="link_name">Инструменты</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Инструменты</span></li>
					<li><a th:href="@{/tools/items/magic}">Покупка магических вещей</a></li>
					<li><a th:href="@{/tools/trader}">Торговец</a></li>
					<li><a th:href="@{/tools/treasury}">Сокровищница</a></li>
					<li><a th:href="@{/tools/tavern}">Таверна</a></li>
					<li><a th:href="@{/tools/wildmagic}">Дикая магия</a></li>
					<li><a th:href="@{/tools/madness}">Безумие</a></li>
					<li><a th:href="@{/tools/encounters}">Случайные столкновения</a></li>
					<li><a th:href="@{/books}">Источники</a></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_information"></i>
						<span class="link_name">Информация</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Информация</span></li>
					<li><a href="https://discord.gg/YGFshpuf9x" target="_blank">Наш Discord</a></li>
					<li><a href="https://boosty.to/dnd5eclub" target="_blank">Мы на Boosty</a></li>
					<li><a href="https://www.patreon.com/dnd5club" target="_blank">Мы на Patreon</a></li>
					<li><a href="https://www.youtube.com/channel/UCMfMw5ZX4_rZ4rv4TlY8j8g" target="_blank">Youtube друзья</a></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_sources"></i>
						<span class="link_name">Источники</span>
					</a>
					<i class="arrow folded"></i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Источники</span></li>
					<li><label for="setting_source" class="check_block"><input id="setting_source" class="toggle" type="checkbox" name="setting_source"><span>Сеттинги</span></label></li>
					<li><label for="homebrew_source" class="check_block"><input id="homebrew_source" class="toggle" type="checkbox" name="homebrew_source"><span>Homebrew</span></label></li>
				</ul>
			</li>
			<li onclick="switchTheme()">
				<a href="#">
					<i class="icon_dark_mod"></i>
					<span id="theme_mode" class="link_name">Dark Mod</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span id="theme_mode_link">Dark Mod</span></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</html>