<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layouts/layout}">
<div class="navbar" th:fragment="menu">
	<div class="nav_head">
		<a sec:authorize="isAnonymous()" th:href="@{/login}" class="user_account ajax-popup-link hide_block" >
			<i class="icon_menu">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</i>
		</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="user_account ajax-popup-link hide_block" >
			<i class="icon_menu">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</i>
		</a>
		<a class="logo" href="/"></a>
		<button class="close_menu icon_menu">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 7L7 12M7 12L12 17M7 12L17 12" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>
		<button id="roll_menu" class="roll_menu">
			<i class="icon_menu">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21 18H3M21 12H3M21 6H3" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</i>
		</button>
	</div>
	<nav>
		<ul class="nav_links sidebar-menu">
			<li class="hidden_li hide_block" sec:authorize="isAnonymous()">
				<a th:href="@{/loginform}" class="ajax-popup-link">
					<i class="icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
					<span class="link_name">Вход в профиль</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Вход в профиль</span></li>
				</ul>
			</li>
			<li sec:authorize="isAuthenticated()">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Мой профиль</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Мой профиль</span></li>
					<li><a th:href="@{/profile}">Профиль</a></li>
					<li><a th:href="@{/logout}">Выход</a></li>
				</ul>
			</li>
			<li id="charachter_item_menu">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8 13.5C8 13.5 8.5 11 12 11C15.5 11 16 13.5 16 13.5M19.4845 16C20.4417 14.5699 21 12.8501 21 11C21 6.02944 16.9706 2 12 2C7.02944 2 3 6.02944 3 11C3 12.8501 3.55827 14.5699 4.51555 16M19.4845 16V16C20.3215 16 21 16.6785 21 17.5155V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V17.5155C3 16.6785 3.67853 16 4.51555 16V16M19.4845 16H4.51555M10 18H18M10 20H14M6 17.5L4.51555 19L6 20.5L7.5 19L6 17.5ZM12 5.5V5.5C13.1046 5.5 14 6.39543 14 7.5V7.5C14 8.60457 13.1046 9.5 12 9.5V9.5C10.8954 9.5 10 8.60457 10 7.5V7.5C10 6.39543 10.8954 5.5 12 5.5Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Персонаж</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Персонаж</span></li>
					<li><a th:href="@{/classes}">Классы</a></li>
					<li><a th:href="@{/races}">Расы</a></li>
					<li><a th:href="@{/traits}">Черты</a></li>
					<li><a th:href="@{/options}">Особенности классов</a></li>
					<li><a th:href="@{/backgrounds}">Предыстории</a></li>
				</ul>
			</li>
			<li id="spells_item_menu">
				<a th:href="@{/spells}">
					<i class="icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 11L3 20M14 12L7.5 18.5M13.5 15.5L16.5 12.5M11 9L8 12M6.5 13.5L3.5 16.5M10.5 6.5L9 8M20 7C20 9.20914 18.2091 11 16 11C13.7909 11 12 9.20914 12 7C12 4.79086 13.7909 3 16 3C18.2091 3 20 4.79086 20 7Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
					<span class="link_name">Заклинания</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Заклинания</span></li>
				</ul>
			</li>
			<li id="items_item_menu">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 11.3293V18.8209C5 19.597 5.20341 20.3802 5.86425 20.7873C6.77333 21.3472 8.56932 22.0011 11.9999 22.0011C15.4305 22.0011 17.2265 21.3473 18.1356 20.7873C18.7965 20.3802 18.9999 19.597 18.9999 18.8208L19 11.3293M10 13V10M14 13V10M10 4.5H6.5C4.567 4.5 3 6.067 3 8V8C3 9.933 4.567 11.5 6.5 11.5H17.5C19.433 11.5 21 9.933 21 8V8C21 6.067 19.433 4.5 17.5 4.5H14M10 4.5C10 4.5 9.99988 2 11.9999 2C14 2 14 4.5 14 4.5M10 4.5H14M15 18V17C15 16.4477 14.5523 16 14 16H10C9.44772 16 9 16.4477 9 17V18C9 18.5523 9.44772 19 10 19H14C14.5523 19 15 18.5523 15 18Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Инвентарь</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Инвентарь</span></li>
					<li><a th:href="@{/weapons}">Оружие</a></li>
					<li><a th:href="@{/armors}">Доспехи</a></li>
					<li><a th:href="@{/items}">Снаряжение</a></li>
				</ul>
			</li>
			<li id="bestiary_item_menu">
				<a th:href="@{/bestiary}">
					<i class="icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 19H16V16C17.8135 14.7351 19 12.3787 19 10C19 6.13401 15.866 3 12 3C8.13401 3 5 6.13401 5 10C5 12.3787 6.18652 14.7351 8 16V20H10V17H11V19H13V17H14V18.5M17 10C17 11.1046 16.1046 12 15 12C13.8954 12 13 11.1046 13 10C13 8.89543 13.8954 8 15 8C16.1046 8 17 8.89543 17 10ZM11 10C11 11.1046 10.1046 12 9 12C7.89543 12 7 11.1046 7 10C7 8.89543 7.89543 8 9 8C10.1046 8 11 8.89543 11 10ZM11.8211 12.3578L11.1447 13.7106C11.0782 13.8435 11.1749 14 11.3236 14H12.6764C12.8251 14 12.9218 13.8435 12.8553 13.7106L12.1789 12.3578C12.1052 12.2104 11.8948 12.2104 11.8211 12.3578Z" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>

					</i>
					<span class="link_name">Бестиарий</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Бестиарий</span></li>
				</ul>
			</li>
			<li id="treasury_item_menu">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 9H21M14 9C14 8.44772 13.5523 8 13 8H11C10.4477 8 10 8.44772 10 9M14 9V11C14 11.5523 13.5523 12 13 12H11C10.4477 12 10 11.5523 10 11V9M3 9H10M3 17V18C3 18.5304 3.21071 19.0391 3.58579 19.4142C3.96086 19.7893 4.46957 20 5 20H6M3 17V11V7C3 4.79086 4.79086 3 7 3H17C19.2091 3 21 4.79086 21 7V11V17M3 17H6V20M6 20H18M21 17V18C21 18.5304 20.7893 19.0391 20.4142 19.4142C20.0391 19.7893 19.5304 20 19 20H18M21 17H18V20" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Сокровища</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Сокровища</span></li>
					<li><a th:href="@{/treasures}">Драгоценности</a></li>
					<li><a th:href="@{/items/magic}">Магические предметы</a></li>
				</ul>
			</li>
			<li id="gods_item_menu">
				<a th:href="@{/gods}">
					<i class="icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 21V3M12 21C9.3345 21 6.93964 19.8412 5.29168 18M12 21C14.6655 21 17.0604 19.8412 18.7083 18M12 3C7.02944 3 3 7.02944 3 12C3 14.3051 3.86656 16.4077 5.29168 18M12 3C16.9706 3 21 7.02944 21 12C21 14.3051 20.1334 16.4077 18.7083 18M5.29168 18C5.29168 18 8 16.5 12 16.5C16 16.5 18.7083 18 18.7083 18M5.29168 6C5.29168 6 8 7.5 12 7.5C16 7.5 18.7083 6 18.7083 6" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
					<span class="link_name">Боги</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span>Боги</span></li>
				</ul>
			</li>
			<li id="workshop_item_menu">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 9H15M9 11.5H13M17 9H20V16M9 14H14M2 6H8H16H22V19H16H8H2V6ZM4 9H7V12H4V9ZM4 14H7V16H4V14Z" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Мастерская</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu">
					<li class="link_name"><span>Мастерская</span></li>
					<li><a th:href="@{/screens}">Ширма</a></li>
					<li><a th:href="@{/conditions}">Состояния и болезни</a></li>
					<li><a th:href="@{/rules}">Правила и термины</a></li>
				</ul>
			</li>
			<li id="instruments_item_menu">
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7 9L12 12M7 9L12 6L17 9M7 9V15L12 18M12 12L17 9M12 12V18M17 9V15L12 18M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Инструменты</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu end">
					<li class="link_name"><span>Инструменты</span></li>
					<li><a th:href="@{/tools/trader}">Торговец</a></li>
					<li><a th:href="@{/tools/encounters}">Случайные столкновения</a></li>
					<li><a th:href="@{/tools/treasury}">Сокровищница</a></li>
					<li><a th:href="@{/tools/tavern}">Таверна (в разработке)</a></li>
					<!-- <li><a th:href="@{/tools/items/magic}">Покупка магических вещей</a></li> -->
					<li><a th:href="@{/tools/wildmagic}">Дикая магия</a></li>
					<li><a th:href="@{/tools/madness}">Безумие</a></li>
					<li><a th:href="@{/books}">Источники</a></li>
				</ul>
			</li>
			<li>
				<div class="dropdown">
					<a>
						<i class="icon_menu">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 11.5V18M21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 14.3051 3.86656 16.4077 5.29168 18C6.93964 19.8412 9.3345 21 12 21C14.6655 21 17.0604 19.8412 18.7083 18C20.1334 16.4077 21 14.3051 21 12ZM12 10L11 9L12 8L13 9L12 10Z" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						<span class="link_name">Информация</span>
					</a>
					<i class="arrow icon_menu">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</div>
				<ul class="sub_menu end">
					<li class="link_name"><span>Информация</span></li>
					<li><a href="https://discord.gg/zqBnMJVf3z" target="_blank">Наш Discord</a></li>
					<li><a href="https://boosty.to/dnd5club" target="_blank">Мы на Boosty</a></li>
					<li><a href="https://boosty.to/dnd5eclub" target="_blank">Мастер на Boosty</a></li>
					<li><a href="https://old.dnd5.club/" target="_blank">Старый сайт</a></li>
				</ul>
			</li>
			<li class="mt-auto" onclick="switchTheme()">
				<a href="#">
					<i id="icon_dark_mod" class="icon_menu"></i>
					<span id="theme_mode" class="link_name">Dark Mod</span>
				</a>
				<ul class="sub_menu blank">
					<li class="link_name"><span id="theme_mode_link">Dark Mod</span></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</html>
