<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${option}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">Требования: <span th:if="*{level}" th:text="|*{level} - уровень|"></span><span th:unless="*{level eq null or prerequisite eq null or prerequisite eq 'Нет'}">,
			</span> <span th:unless="*{prerequisite eq null or (prerequisite eq 'Нет' and level != null)}" th:text="|*{prerequisite}|">-</span></span> <span class="tip" th:text="|Источник: *{book.source}|"
				th:title="*{book.name}"
			>Источник</span>
		</p>
		<th:block th:utext="*{description}">
		</th:block>
		<div class="spell_stat_block_bottom">
			<p>Классы:</p>
			<div class="classes_icon">
				<a th:each="optionType : *{optionTypes}" class="tip" th:title="${optionType.name}" th:href="@{|/classes/${optionType.className}/|}">
				<i class="icon" th:utext="${classIcons.get(optionType.className)}"></i> </a>
			</div>
		</div>
	</th:block>
</body>
</html>
