<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${race.name}"></title>
</head>
<body>
	<th:block th:object="${race}" th:fragment="view">
		<div th:unless="*{subRaces.empty}" class="archetype_mobile_selector">
			<div class="select js-dropdown">
				<input type="hidden" name="archetype" id="mobile_selector" class="js-dropdown__input">
				<i class="icon_arrow">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 9L11.2929 14.2929C11.6834 14.6834 12.3166 14.6834 12.7071 14.2929L18 9" stroke="#4D4DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</i>
				<span class="placeholder js-dropdown__current" th:text="${selectedRaceName}">Выбрать подрасу</span>
				<ul data-simplebar>
					<li th:each="subrace : *{subRaces}" th:data-dropdown-value="${subrace.englishName.replace(' ', '_')}" th:text="|${subrace.name} ${subrace.book.source}|"
					th:class="|${subrace.book.type.name().toLowerCase()}_source|"
					th:classappend="${subrace.book.type.name() ne 'OFFICAL' ? 'hide_block':''}"
					></li>
				</ul>
			</div>
		</div>
		<div th:unless="*{parent eq null}" class="archetype_mobile_selector">
			<div class="select js-dropdown">
				<input type="hidden" name="archetype" id="mobile_selector" class="js-dropdown__input">
				<i class="icon_arrow">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 9L11.2929 14.2929C11.6834 14.6834 12.3166 14.6834 12.7071 14.2929L18 9" stroke="#4D4DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</i>
				<span class="placeholder js-dropdown__current" th:text="${selectedRaceName}">Выбрать подрасу</span>
				<ul data-simplebar>
					<li th:each="subrace : *{parent.subRaces}" th:data-dropdown-value="${subrace.englishName.replace(' ', '_')}" th:text="|${subrace.name} ${subrace.book.source}|"
					th:class="|${subrace.book.type.name().toLowerCase()}_source|"
					th:classappend="${subrace.book.type.name() ne 'OFFICAL' ? 'hide_block':''}"
					></li>
				</ul>
			</div>
		</div>
		<div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="race_href" class="test-popup-link" th:href="@{/resources/assets/style/dark/no_img_best.png}"><img id="race_img" th:src="@{/resources/assets/style/dark/no_img_best.png}" alt="Title best"></a>
				<a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}"><img th:if="${iterStat.first}" th:src="${image}"/></a>
			</div>
		</div>
		<div class="scores">
			<div class="score">
				<h4>
					<strong class="tip" title="Тип существа">ТИП</strong>
				</h4>
				<p th:if="*{type}" th:text="*{type.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Увеличение характеристик">ХАР</strong>
				</h4>
				<p th:text="${race.abilityBonuses}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Размер">РАЗ</strong>
				</h4>
				<p th:text="${race.size.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Скорость">СКР</strong>
				</h4>
				<p th:text="${race.fullSpeed}"></p>
			</div>
			<div th:if="${race.darkvision}" class="score">
				<h4>
					<strong class="tip" title="Темное зрение">ТЗ</strong>
				</h4>
				<p th:text="|${race.darkvision} фт.|"></p>
			</div>
		</div>
		<th:block th:each="feature : ${features}">
			<h4 class="header_separator"><span th:utext="${feature.name}"></span></h4>
			<div th:utext="${feature.description}"></div>
		</th:block>
		<th:block th:each="feature : ${subFeatures}">
			<h4 class="header_separator archetype_feet"><span th:utext="${feature.name}"></span></h4>
			<div th:utext="${feature.description}"></div>
		</th:block>
	</th:block>
</body>
</html>