<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${race.name}"></title>
</head>
<body>
	<th:block th:object="${race}" th:fragment="view">
		<div class="avatar">
			<div class="image-container">
				<a th:if="${images.empty}" id="race_href" class="test-popup-link" th:href="@{/assets/style/dark/no_img_best.png}"><img id="race_img" th:src="@{/assets/style/dark/no_img_best.png}" alt="Title best"></a>
				<a th:each="image, iterStat : ${images}" class="test-popup-link" th:href="${image}"><img th:if="${iterStat.first}" th:src="${image}"/></a>
			</div>
		</div>
		<div class="scores">
			<div class="score">
				<h4>
					<strong class="tip" title="Тип существа">ТИП</strong>
				</h4>
				<p th:if="*{type}" th:text="*{type.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Увеличение характеристик">ХАР</strong>
				</h4>
				<p th:unless = "${race.abilityBonuses.empty}" th:text="${race.abilityBonuses}"></p>
				<p th:if = "${race.abilityBonuses.empty}">—</p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Размер">РАЗ</strong>
				</h4>
				<p th:text="${race.size.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Скорость">СКР</strong>
				</h4>
				<p th:text="${race.fullSpeed}"></p>
			</div>
			<div th:if="${race.darkvision}" class="score">
				<h4>
					<strong class="tip" title="Темное зрение">ТЗ</strong>
				</h4>
				<p th:text="|${race.darkvision} фт.|"></p>
			</div>
		</div>
		<details th:each="feature : ${features}" open>
			<summary class="h4 header_separator"><span th:utext="${feature.name}"></span></summary>
			<div class="content">
				<div th:utext="${feature.description}"></div>
			</div>
		</details>
		<details th:each="feature : ${subFeatures}" open>
			<summary class="h4 header_separator archetype_feet"><span th:utext="${feature.name}"></span></summary>
			<div class="content">
				<div th:utext="${feature.description}"></div>
			</div>
		</details>
		<details th:each="feature : ${notFeatures}">
			<summary class="h4 header_separator">
				<span th:utext="${feature.name}"></span>
			</summary>
			<div class="content">
				<div th:utext="${feature.description}"></div>
			</div>
		</details>
		<details th:unless="*{names.empty}">
			<summary class="h4 header_separator">
				<span>Имена</span>
			</summary>
			<p th:each="nameElement , iterStat: *{names}">
				<th:block th:unless="${nameElement.value.empty}">
					<strong th:text="|${nameElement.key.cyrilicName} имена:|"></strong>
					<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
				</th:block>
			</p>
			<p th:each="nameElement , iterStat: *{nicknamesGroup}">
				<th:block th:unless="${nameElement.value.empty}">
					<strong th:text="${nameElement.key.display}"></strong>
					<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
				</th:block>
			</p>
		</details>
		<details>
			<summary class="h4 header_separator">
				<span>Описание</span>
			</summary>
			<div class="content">
				<th:block th:utext="*{description}"></th:block>
			</div>
		</details>
		<h4 th:unless="*{subRaces.empty}">Разновидности</h4>
		<th:block th:unless="*{subRaces.empty}" th:each="subRace : *{subRaces}">
			<details class="spoiler feet_show" th:classappend="${subRace.book.type.name() eq 'CUSTOM' ? 'custom_source hide_block': subRace.book.type.name() eq 'SETTING' ? 'setting_source hide_block':''}">
				<summary class="h4 header_separator">
					<span th:text="${subRace.name}"></span><span class="tip" th:text="${subRace.book.source}" th:title="${subRace.book.name}"></span>
				</summary>
				<div class="content">
					<div th:utext="${subRace.description}"></div>
					<div th:each="feature : ${subRace.features}">
						<h4 class="header_separator" th:id="${'c'+feature.id}">
							<span th:text="${feature.name}"></span>
						</h4>
						<div th:utext="${feature.description}"></div>
					</div>
					<div th:unless="${subRace.names.empty}">
						<h4 class="header_separator">
							<span>Имена</span>
						</h4>
						<p th:each="nameElement , iterStat: ${subRace.names}">
							<th:block th:unless="${nameElement.value.empty}">
								<strong th:text="|${nameElement.key.cyrilicName} имена:|"></strong>
								<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
							</th:block>
						</p>
						<p th:each="nameElement , iterStat: ${subRace.nicknamesGroup}">
							<th:block th:unless="${nameElement.value.empty}">
								<strong th:text="${nameElement.key.display}"></strong>
								<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
							</th:block>
						</p>
					</div>
				</div>
			</details>
		</th:block>
	</th:block>
</body>
</html>
