<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${race.name}"></title>
</head>
<body>
	<th:block th:object="${race}" th:fragment="view">
		<div class="scores">
				<div class="score">
				<h4>
					<strong class="tip" title="Тип существа">ТИП</strong>
				</h4>
				<p th:if="*{type}" th:text="*{type.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Увеличение характеристик">ХАР</strong>
				</h4>
				<p th:text="${race.abilityBonuses}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Размер">РАЗ</strong>
				</h4>
				<p th:text="${race.size.cyrilicName}"></p>
			</div>
			<div class="score">
				<h4>
					<strong class="tip" title="Скорость">СКР</strong>
				</h4>
				<p th:text="${race.fullSpeed}"></p>
			</div>
			<div th:if="${race.darkvision}" class="score">
				<h4>
					<strong class="tip" title="Темное зрение">ТЗ</strong>
				</h4>
				<p th:text="|${race.darkvision} фт.|"></p>
			</div>
		</div>
		<th:block th:each ="feature : ${features}">
			<h4 class="header_separator" th:utext="${feature.name}"></h4>
			<div th:utext="${feature.description}"></div>
		</th:block>
	</th:block>
</body>
</html>