<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${race.name}"></title>
</head>
<body>
	<th:block th:object="${race}" th:fragment="view">
		<h4 class="header_separator mt--24">Описание</h4>
		<th:block th:utext="*{description}"></th:block>

		<th:block th:each="feature : ${features}">
			<h4 class="header_separator" th:utext="${feature.name}"></h4>
			<div th:utext="${feature.description}"></div>
		</th:block>
		<h4 th:unless="*{names.empty}" class="header_separator">Имена</h4>
		<p th:each="nameElement , iterStat: *{names}">
			<th:block th:unless="${nameElement.value.empty}">
				<strong th:text="|${nameElement.key.cyrilicName} имена:|"></strong>
				<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
			</th:block>
		</p>
		<p th:each="nameElement , iterStat: *{nicknamesGroup}">
			<th:block th:unless="${nameElement.value.empty}">
				<strong th:text="${nameElement.key.display}"></strong>
				<th:block th:each="name , iterStat: ${nameElement.value}" th:text="${iterStat.last} ? ${name} : ${name} + ', '"></th:block>
			</th:block>
		</p>
	</th:block>
</body>
</html>