<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
</head>
<body>
	<th:block th:object="${screen}" th:fragment="view">
		<div class="card_block">
			<th:block th:each="scr : *{chields}">
				<a th:href="|#${scr.englishName.replace(' ', '_')}|" class="open-popup-link block">
					<div class="icon" th:utext="${scr.icon}"></div>
					<div class="description">
						<h5 th:text="${scr.name}"></h5>
						<p><span class="tip" th:text="${scr.book.source}" th:title="${scr.book.name}"></span> / <span th:text="${scr.englishName}"></span></p>
					</div>
				</a>
				<div th:id="${scr.englishName.replace(' ', '_')}" class="dnd5-popup-block mfp-hide" data-simplebar>
					<div class="header"><h4 th:text="${scr.name}"></h4></div>
					<th:block th:utext="${scr.description}"></th:block>
				</div>
			</th:block>
		</div>
	</th:block>
</body>
</html>