<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
</head>
<body>
	<th:block th:fragment="view">
		<th:block th:each="element : ${screens}">
			<h4 th:unless="${element.key.empty}" th:text="${element.key}" class="card_separator_screen"></h4>
			<div class="card_block">
				<th:block th:each="scr : ${element.value}">
					<a th:href="|#${scr.englishName.replace(' ', '_')}|" class="open-popup-link block">
						<div class="icon" th:utext="${scr.icon}"></div>
						<div class="description">
							<h5 th:text="${scr.name}"></h5>
							<p>
								<span class="tip" th:text="${scr.book.source}" th:title="${scr.book.name}"></span> / <span th:utext="${scr.englishName}"></span>
							</p>
						</div>
					</a>
					<div th:id="${scr.englishName.replace(' ', '_')}" class="dnd5-popup-block mfp-hide">
						<div class="header">
							<h4 th:text="${scr.name}"></h4>
						</div>
						<div class="wrapper" data-simplebar>
							<th:block th:utext="${scr.description}"></th:block>
						</div>
					</div>
				</th:block>
			</div>
		</th:block>
	</th:block>
	<th:block th:fragment="viewOne" th:object="${screen}">
		<p class="row_info bg_grey">
			<span class="left_info" th:text="*{englishName}">Англ название</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<div th:utext="*{description}"></div>
	</th:block>
</body>
</html>