<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="sidebar__inner" th:fragment="sub_menu">
		<ul>
			<li class="avatar"><img id="race_img" th:src="${images[0]}" alt="Title races"></li>
			<li th:unless="${subraces.empty}" class="title_sub_menu">
				<h5 id="title_sub_menu">Разновидности</h5>
			</li>
			<li th:class="|sub_menu ${subrace.book.type.name().toLowerCase()}_source|" th:classappend="${subrace.book.type.name() ne 'OFFICAL' ? 'hide_block':''}" th:id="${subrace.englishName.replace(' ', '_')}" th:each="subrace : ${subraces}"><span th:text="${subrace.name}" class="name">Имя</span>
				<div class="sub_info">
					<span class="tip" th:if="${subrace.book.type.name() eq 'CUSTOM'}" title="Homebrew - не является официальным подклассом"><span class="homebrew_text">Homebrew</span> - </span> <span class="tip"
						th:title="${subrace.book.name}" th:text="${subrace.book.source}"
					></span> <span th:text="|&nbsp;/&nbsp;${subrace.englishName}|"></span>
				</div>
				<button class="btn_close icon_action icon_close close_archetypes"></button></li>
		</ul>
	</div>
</body>
</html>