<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="sidebar__inner" th:fragment="sub_menu">
		<ul>
			<li class="title_sub_menu">
				<h5 id="title_sub_menu">Таблицы</h5>
			</li>
			<li class="sub_menu" th:id="${subscreen.englishName.replace(' ', '_')}" th:each="subscreen : ${subscreens}"><span th:text="${subscreen.name}" class="name">Имя</span>
				<div class="sub_info">
					<span class="tip" th:attr="data-tipped-options=|inline: 'inline-tooltip-source-a-${subscreen.id}'|" th:text="${subscreen.book.source}"></span> <span th:id="|inline-tooltip-source-a-${subscreen.id}|"
						style='display: none' th:text="${subscreen.book.name}"
					></span> <span th:text="|&nbsp;/&nbsp;${subscreen.englishName}|"></span>
				</div>
				<button class="btn_close icon_action close_screenss">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>	
				</button>
			</li>
		</ul>
	</div>
</body>
</html>