<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
</head>
<body>
	<th:block th:fragment="view">
		<div id="scroll_load_simplebar" class="container_left table_list">
			<table id="traders" class="table_list spells_list">
				<thead style="display: none">
					<tr>
						<th>Название</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<th>
							<div th:class="|tip spell_lvl ${item.rarityEnglish}|" title="${item.rarity}" th:text="${item.shortRarity}"></div>
							<div class="spell_name" th:text="${item.name}"></div>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</body>
</html>