<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:fragment="view">
		<thead style="display: none">
			<tr>
				<th>Название</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}" th:id = "${item.id}" th:class="|${item.englishSpellName eq null ? 'item_selected' : 'spell_selected'} |">
				<td>
					<div th:class="|tip info_block ${item.rarityEnglish}|" th:title="${item.rarity}" th:text="${item.shortRarity}"></div>
					<h3 class="row_name"><span th:text="${item.name}"></span></h3>
				</td>
			</tr>
		</tbody>
	</th:block>
</body>
</html>
