<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${trait}" th:fragment="view">
		<p class="row_info bg_grey">
			<span class="left_info">Требования: <span th:text="*{requirement}">-</span></span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>

		<th:block th:utext="*{description}">
		</th:block>
	</th:block>
</body>
</html>
