<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${weapon}" th:fragment="view">
		<p class="row_info">
			<span class="left_info" th:text="*{type.name}">-</span>
			<span>Источник: <span class="homebrew_text" th:if="*{book.type.name() eq 'CUSTOM'}">Homebrew</span> <span class="tip" th:text="*{book.source}" th:title="*{book.name}">Источник</span></span>
		</p>
		<div class="grid_stat_block">
			<div class="block">
				<p>Стоимость:</p>
				<span th:text="|*{cost} *{currency.name}|">Стоимость</span>
			</div>
			<div class="block">
				<p>Урон:</p>
				<span th:if="*{damageDice}" class="dice_text" th:text="|*{numberDice}*{damageDice.name}|"><span th:unless="*{damageDice}" class="dice_text">1</span> <span th:text="*{damageType.cyrilicName}"></span>
			</div>
			<div class="block">
				<p>Вес (в фунтах):</p>
				<span th:text="*{weight}">Вес (в фунтах)</span>
			</div>
			<div th:unless="*{properties.empty}" class="block">
				<p>Свойства:</p>
				<span th:each="property, iterStat : *{properties}">
					<a class="tip_scroll" th:title="${property.description}" href="#" th:text="${iterStat.last ? property.name : property.name + ', '}"></a>
					<span class="tip" title="При атаке двумя рукми" th:if="${property.name eq 'Универсальное'}" th:text="|(*{numberDice}*{twoHandDamageDice.name})|"></span>
					<span th:if="${property.name eq 'Боеприпас' or property.name eq 'Метательное'}" th:text="|(дис. *{minDistance}/*{maxDistance})|"></span>
				</span>
			</div>
		</div>
		<th:block th:utext="*{description}"></th:block>
		<p th:if="*{special}"><strong>Особое свойство:</strong> <span th:utext="*{special}"></span></p>
	</th:block>
	<th:block th:object="${property}" th:fragment="property_view">
		<div th:utext="*{description}"></div>
	</th:block>
</body>
</html>
