.bookmarks {
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  user-select: none;

  *, *:before, *:after {
    &:not(input) {
      user-select: none;
    }
  }

  @media (max-width: 550px) {
    width: 100%;
  }

  &__header {
    padding: 0px 16px;
    height: 50px;
    border-bottom: 1px solid var(--hover);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  &__wrapper {
    padding: 8px 8px;
    display: block;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    flex: 1 1 auto;

    .bookmarks__new {
      color: var(--text-color-title) !important;
      cursor: pointer;
      padding: 6px !important;
      justify-content: flex-start !important;

      .ui-button__icon {
        background: var(--bg-sub-menu);
        color: var(--text-color-title);
        border-radius: 4px;
      }

      @include media-min($md) {
        &:hover {
          color: var(--text-color-title);
        }
      }
    }
  }

  &__info {
    height: 16px;

    &--desc {
      font-size: var(--h5-font-size);
      margin-bottom: 4px;
      width: 200px;
      padding: 0 8px;
    }

    &--title {
      font-weight: 600;
    }

    &--desc,
    &--title {
      color: var(--text-b-color);
    }
  }

  &__new {
    justify-content: left;
    width: 100%;
  }

  &__drop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100%;
    background-color: var(--primary);
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;

    &.is-drag-over {
      background-color: var(--primary-hover);
    }

    &_head {
      padding: 6px;
      display: flex;
      cursor: pointer;
      align-items: center;
      line-height: 16px;
    }

    &_label {
      color: var(--text-color-title);
      font-size: inherit;
      font-weight: normal;
      letter-spacing: 0.75px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      padding: 0 0 0 8px;
    }

    &_icon {
      @include css_anim();

      flex-shrink: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      padding: 2px;
      border-radius: 4px;
      background: var(--bg-sub-menu);
      color: var(--text-color-title);

      svg {
        @include css_anim();

        transform: rotate(-90deg);
      }

      &.is-active {
        svg {
          transform: none;
        }
      }

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;

          @media (max-width: 550px) {
            opacity: 1;
          }
        }
      }

      @include media-min($md) {
        &:hover {
          background: var(--hover);
        }
      }

      & + & {
        margin-left: 4px;
      }
    }

    &.is-active {
      background: var(--bg-sub-menu);
    }

    @include media-min($md) {
      &:hover {
        background: var(--hover);

        .bookmarks {
          &__group {
            &_icon {
              &.only-hover {
                opacity: 1;
              }
            }
          }
        }

        &.is-active {
          background: var(--bg-sub-menu);
        }
      }
    }

    &_body {
      padding: 0 6px;
    }
  }

  &__cat {
    margin-bottom: 16px;

    &_label {
      padding: 2px 8px 2px 8px;
      text-transform: uppercase;
      font-size: calc(var(--main-font-size) - 4px);
      color: var(--text-g-color);
      letter-spacing: 0.75px;
      position: relative;
      font-weight: 600;
      display: flex;
      align-items: center;
      height: 20px;
      width: 100%;

      &_name {
        line-height: 18px;
        color: var(--text-color-title)
      }

      &_icon {
        @include css_anim();

        flex-shrink: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        padding: 2px;
        border-radius: 4px;
        background: var(--bg-sub-menu);
        color: var(--text-color-title);

        &.is-left {

          &:hover {
            cursor: grab;
          }

          &:active {
            cursor: grabbing;
          }
        }

        &.is-right {
          margin-left: 2px;
        }

        &.only-hover {
          &:not(.is-active) {
            opacity: 0;

            @media (max-width: 550px) {
              opacity: 1;
            }
          }
        }

        @include media-min($md) {
          &:hover {
            background: var(--hover);
          }
        }
      }

      .is-left {
        margin-left: -6px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }

      @include media-min($md) {
        &:hover {
          .bookmarks {
            &__cat {
              &_label {
                &_icon {
                  &.only-hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    &_body {
      padding: 0;
    }

    &_ghost {
      cursor: grabbing;
      background: var(--hover);
      border-radius: 6px;
    }

    &_chosen {
      cursor: grabbing;
    }

    &_drag {
      cursor: grabbing;
      background: var(--primary);
      border-radius: 6px;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &__item {
    @include css_anim();

    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 4px;

    &_label {
      @include css_anim();

      color: var(--text-color);
      font-weight: 400;
      padding: 6px 8px;
      line-height: 16px;
      width: 100%;
      display: flex;
      border-radius: 6px;
    }

    &_icon {
      @include css_anim();

      width: 24px;
      height: 24px;
      padding: 2px;
      flex-shrink: 0;
      margin-left: 4px;
      border-radius: 6px;

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;

          @media (max-width: 550px) {
            opacity: 1;
          }
        }
      }

      svg {
        stroke: var(--text-color);
      }

      @include media-min($md) {
        &:hover {
          background: var(--hover);
        }
      }
    }

    &_ghost {
      cursor: grabbing;
      background: var(--hover);
      border-radius: 6px;
    }

    &_chosen {
      cursor: grabbing;
      opacity: 0.5;
      background: var(--primary);
    }

    &_drag {
      cursor: grabbing;
      background: var(--primary);
      border-radius: 6px;
    }

    &:hover {
      .bookmarks {
        &__cat {
          &_label {
            &_icon {
              opacity: 1;
            }
          }
        }
      }
    }

    @include media-min($md) {
      &:hover {
        .bookmarks {
          &__item {
            &_icon {
              &.only-hover {
                opacity: 1;
              }
            }

            &_label,
            &_icon {
              cursor: pointer;
              color: var(--text-color-title);
            }

            &_label {
              background-color: var(--hover);
              color: var(--text-color-title);
            }
          }
        }
      }
    }
  }

  &__input {
    display: flex;
    width: 100%;
    padding: 8px 0;

    .ui-input {
      width: initial;
      flex: 1 1 auto;
      margin-right: 8px;
    }

    .ui-button {
      margin-left: 0 !important;
    }
  }

  &.is-default {
    background-color: transparent;

    .bookmarks {
      &__cat {
        border: 0;

        &_body {
          padding: 0;
        }
      }

      &__header {
        padding: 16px 16px;
      }

      &__group {
        &_body {
          padding: 0;
        }

        @include media-min($md) {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
