.navbar {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  width: 100%;
  background: var(--bg-liner-menu);
  position: fixed;
  z-index: 100;
  pointer-events: none;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-liner-menu);
    content: "";
    pointer-events: none;
  }

  &__btn {
    @include css_anim();

    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    align-items: center;
    color: var(--text-color);

    &:hover {
      color: var(--text-b-color);
      background-color: var(--hover);
    }

    &.is-active {
      background-color: var(--hover);
    }
  }

  &__link {
    @include css_anim();

    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;

    &:hover {
      color: var(--text-b-color);
      background-color: var(--hover);
    }
  }

  &__text {
    color: var(--text-color);
    font-weight: 600;

    span {
      padding: 6px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    justify-content: space-between;
    background: var(--bg-liner-menu);

    @media (max-width: 1200px) {
      padding: 0 16px;
    }

    &_left,
    &_right {
      display: flex;
      align-items: center;
      height: 100%;

      * {
        pointer-events: auto;
      }
    }

    &_left {
      margin-left: 0;

      @media (max-width: 1500px) {
        margin-left: -7px;
      }
    }

    &_right {
      margin-left: 8px;

      .btn_nav {
        & + & {
          margin-left: 8px;
        }
      }
    }

    &_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }

  &__section {
    display: flex;
    align-items: center;

    .navbar {
      &__text {
        @include media-max($md) {
          display: none;
        }
      }
    }
  }
}

.hamburger {
  display: block;
  margin-right: 8px;
  height: auto;
  padding: 7px 9px;
  position: relative;

  .line {
    @include css_anim();

    width: 22px;
    height: 2px;
    background-color: var(--text-color);
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }

  &.is-active {
    .line {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg) translate3d(0, 0, 0);
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg) translate3d(0, 0, 0);
      }
    }
  }

  &:hover {
    cursor: pointer;

    .line {
      background-color: var(--text-b-color);

      &:nth-child(1) {
        transform: translateX(-6px) translate3d(0, 0, 0);
        width: 14px;
      }
    }

    &.is-active {
      .line {
        &:nth-child(1) {
          transform: translateY(7px) rotate(45deg) translate3d(0, 0, 0);
          width: 22px;
        }
      }
    }
  }
}
