:root {
  --bg-main: #212529;
  --bg-secondary: #272B2F;
  --bg-sub-menu: #2C3034;
  --bg-dice: #494777;
  --text-color:#e4e4e4;
  --text-g-color:#A4A4A4;
  --link-color:#a397e4;
  --hover: rgba(255, 255, 255, 0.05);
  --border: #35393D;
  --border-table: #35393D;
  --primary: #7B61FF;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/resources/assets/icon/dark/logo.svg);
}

/********* Icon Menu *********/
:root {
  --close-menu: url(/resources/assets/icon/dark/menu/close_menu.svg);
  --icon-character: url(/resources/assets/icon/dark/menu/character.svg);
  --icon-spells: url(/resources/assets/icon/dark/menu/spells.svg);
  --icon-inventory: url(/resources/assets/icon/dark/menu/inventory.svg);
  --icon-treasures: url(/resources/assets/icon/dark/menu/treasures.svg);
  --icon-bestiary: url(/resources/assets/icon/dark/menu/bestiary.svg);
  --icon-workshop: url(/resources/assets/icon/dark/menu/workshop.svg);
  --icon-instruments: url(/resources/assets/icon/dark/menu/instruments.svg);
  --icon-gods: url(/resources/assets/icon/dark/menu/gods.svg);
  --icon-dark-mod: url(/resources/assets/icon/dark/menu/dark_mod.svg);

  --icon-skills: url(/resources/assets/icon/dark/classes/skills.svg);
  --icon-description: url(/resources/assets/icon/dark/classes/description.svg);
}

/********* Icon Action *********/
:root {
--folded: url(/resources/assets/icon/dark/folded.svg);
--icon_full_screen: url(/resources/assets/icon/dark/full_screen.svg);
--icon_close: url(/resources/assets/icon/dark/close.svg);
--icon_search: url(/resources/assets/icon/dark/search.svg);
--icon_filters: url(/resources/assets/icon/dark/filters.svg);
}

/********* Icons Classes *********/
:root {
  --all-classes: url(/resources/assets/icon/dark/classes/all_classes.svg);
  --bard-big: url(/resources/assets/icon/dark/classes/bard_big.svg);
  --barbarian-big: url(/resources/assets/icon/dark/classes/barbarian_big.svg);
  --fighter-big: url(/resources/assets/icon/dark/classes/fighter_big.svg);
  --wizard-big: url(/resources/assets/icon/dark/classes/wizard_big.svg);
  --druid-big: url(/resources/assets/icon/dark/classes/druid_big.svg);
  --cleric-big: url(/resources/assets/icon/dark/classes/cleric_big.svg);
  --artificer-big: url(/resources/assets/icon/dark/classes/artificer_big.svg);
  --warlock-big: url(/resources/assets/icon/dark/classes/warlock_big.svg);
  --monk-big: url(/resources/assets/icon/dark/classes/monk_big.svg);
  --paladin-big: url(/resources/assets/icon/dark/classes/paladin_big.svg);
  --rogue-big: url(/resources/assets/icon/dark/classes/rogue_big.svg);
  --ranger-big: url(/resources/assets/icon/dark/classes/ranger_big.svg);
  --sorcerer-big: url(/resources/assets/icon/dark/classes/sorcerer_big.svg);
  --blood_hunter-big: url(/resources/assets/icon/dark/classes/blood_hunter_big.svg);

  --bard: url(/resources/assets/icon/dark/classes/bard.svg);
  --barbarian: url(/resources/assets/icon/dark/classes/barbarian.svg);
  --fighter: url(/resources/assets/icon/dark/classes/fighter.svg);
  --wizard: url(/resources/assets/icon/dark/classes/wizard.svg);
  --druid: url(/resources/assets/icon/dark/classes/druid.svg);
  --cleric: url(/resources/assets/icon/dark/classes/cleric.svg);
  --artificer: url(/resources/assets/icon/dark/classes/artificer.svg);
  --warlock: url(/resources/assets/icon/dark/classes/warlock.svg);
  --monk: url(/resources/assets/icon/dark/classes/monk.svg);
  --paladin: url(/resources/assets/icon/dark/classes/paladin.svg);
  --rogue: url(/resources/assets/icon/dark/classes/rogue.svg);
  --ranger: url(/resources/assets/icon/dark/classes/ranger.svg);
  --sorcerer: url(/resources/assets/icon/dark/classes/sorcerer.svg);
  --blood_hunter: url(/resources/assets/icon/dark/classes/blood_hunter.svg);
}