:root {
  --bg-main: #212529;
  --bg-secondary: #272B2F;
  --bg-sub-menu: #FBFBFB;
  --text-color:#e4e4e4;
  --text-g-color:#A4A4A4;
  --hover: rgba(255, 255, 255, 0.05);
  --border: #35393D;
  --primary: #7B61FF;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/resources/assets/icon/dark/logo.svg);
}

/********* Icon Menu *********/
:root {
  --close-menu: url(/resources/assets/icon/dark/menu/close_menu.svg);
  --icon-character: url(/resources/assets/icon/dark/menu/character.svg);
  --icon-spells: url(/resources/assets/icon/dark/menu/spells.svg);
  --icon-inventory: url(/resources/assets/icon/dark/menu/inventory.svg);
  --icon-dark-mod: url(/resources/assets/icon/dark/menu/dark_mod.svg);
}

/********* Icon Action *********/
:root {
--folded: url(/resources/assets/icon/dark/folded.svg);
--icon_full_screen: url(/resources/assets/icon/dark/full_screen.svg);
--icon_close: url(/resources/assets/icon/dark/close.svg);
}

/********* Icons Classes *********/
:root {
  --all-classes: url(/resources/assets/icon/dark/classes/all_classes.svg);
  --bard: url(/resources/assets/icon/dark/classes/bard_big.svg);
  --barbarian: url(/resources/assets/icon/dark/classes/barbarian_big.svg);
  --fighter: url(/resources/assets/icon/dark/classes/fighter_big.svg);
  --wizard: url(/resources/assets/icon/dark/classes/wizard_big.svg);
  --druid: url(/resources/assets/icon/dark/classes/druid_big.svg);
  --cleric: url(/resources/assets/icon/dark/classes/cleric_big.svg);
  --artificer: url(/resources/assets/icon/dark/classes/artificer_big.svg);
  --warlock: url(/resources/assets/icon/dark/classes/warlock_big.svg);
  --monk: url(/resources/assets/icon/dark/classes/monk_big.svg);
  --paladin: url(/resources/assets/icon/dark/classes/paladin_big.svg);
  --rogue: url(/resources/assets/icon/dark/classes/rogue_big.svg);
  --ranger: url(/resources/assets/icon/dark/classes/ranger_big.svg);
  --sorcerer: url(/resources/assets/icon/dark/classes/sorcerer_big.svg);
}