:root {
  --bg-transparent: #ffffff00;
  --bg-main: #212529;
  --bg-secondary: #272B2F;
  --bg-sub-menu: #2C3034;
  --bg-dice: #494777;
  --bg-homebrew: #23492e;
  --bg-blockquote: #1e2226;
  --text-color:#cdcdcd;
  --text-color-active:#fff;
  --text-b-color:#fff;
  --text-g-color:#A4A4A4;
  --text-s-color:#c4c5ff;
  --text-a-color:#34bb3e;
  --text-btn-color: #f8f8f8;
  --link-color:#a397e4;
  --link-color-hover:#f8f8f8;
  --hover: rgba(255, 255, 255, 0.05);
  --border: #35393D;
  --border-table: #35393D;
  --primary: #7B61FF;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* IMG BG *********/
:root{
  --common:#fff;
  --uncommon:#8aff91;
  --rare:#a5f1ff;
  --very_rare:#e770ff;
  --legendary:#f6ff00;
  --artifact:#ff8900;
}

/********* IMG BG *********/
:root {
  --border-img:url(/resources/assets/style/dark/border.png);
  --border-title-img:url(/resources/assets/style/dark/border_title.png);
  --border-top:url(/resources/assets/style/dark/border_top.png);
  --border-bottom:url(/resources/assets/style/dark/border_bottom.png);
  --border-left:url(/resources/assets/style/dark/border_left.png);
  --border-blockquote:url(/resources/assets/style/dark/border_blockquote.png);
  --bg-title-img:url(/resources/assets/style/dark/bg_title.png);
  --bg-title-img-2:url(/resources/assets/style/dark/bg_title_2.png);
  --bg-img-row-active:url(/resources/assets/style/dark/bg_row_active.png);
  --bg-img-header-separator:url(/resources/assets/style/dark/header_separator.png);
}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/resources/assets/icon/dark/logo.svg);
}


/********* Icon Action *********/
:root {
--icon_search: url(/resources/assets/icon/dark/search.svg);
--icon_filters: url(/resources/assets/icon/dark/filters.svg);
}


/********* Icons Classes *********/
:root {
  --all-classes: url(/resources/assets/icon/dark/classes/all_classes.svg);
  --bard-big: url(/resources/assets/icon/dark/classes/bard_big.svg);
  --barbarian-big: url(/resources/assets/icon/dark/classes/barbarian_big.svg);
  --fighter-big: url(/resources/assets/icon/dark/classes/fighter_big.svg);
  --wizard-big: url(/resources/assets/icon/dark/classes/wizard_big.svg);
  --druid-big: url(/resources/assets/icon/dark/classes/druid_big.svg);
  --cleric-big: url(/resources/assets/icon/dark/classes/cleric_big.svg);
  --artificer-big: url(/resources/assets/icon/dark/classes/artificer_big.svg);
  --warlock-big: url(/resources/assets/icon/dark/classes/warlock_big.svg);
  --monk-big: url(/resources/assets/icon/dark/classes/monk_big.svg);
  --paladin-big: url(/resources/assets/icon/dark/classes/paladin_big.svg);
  --rogue-big: url(/resources/assets/icon/dark/classes/rogue_big.svg);
  --ranger-big: url(/resources/assets/icon/dark/classes/ranger_big.svg);
  --sorcerer-big: url(/resources/assets/icon/dark/classes/sorcerer_big.svg);
  --blood_hunter-big: url(/resources/assets/icon/dark/classes/blood_hunter_big.svg);

  --bard: url(/resources/assets/icon/dark/classes/bard.svg);
  --barbarian: url(/resources/assets/icon/dark/classes/barbarian.svg);
  --fighter: url(/resources/assets/icon/dark/classes/fighter.svg);
  --wizard: url(/resources/assets/icon/dark/classes/wizard.svg);
  --druid: url(/resources/assets/icon/dark/classes/druid.svg);
  --cleric: url(/resources/assets/icon/dark/classes/cleric.svg);
  --artificer: url(/resources/assets/icon/dark/classes/artificer.svg);
  --warlock: url(/resources/assets/icon/dark/classes/warlock.svg);
  --monk: url(/resources/assets/icon/dark/classes/monk.svg);
  --paladin: url(/resources/assets/icon/dark/classes/paladin.svg);
  --rogue: url(/resources/assets/icon/dark/classes/rogue.svg);
  --ranger: url(/resources/assets/icon/dark/classes/ranger.svg);
  --sorcerer: url(/resources/assets/icon/dark/classes/sorcerer.svg);
  --blood_hunter: url(/resources/assets/icon/dark/classes/blood_hunter.svg);
}

/********* Race Classes *********/
:root {
  --icon-elf-big: url(/resources/assets/icon/dark/race/elf_big.svg);
  --icon-half-elf-big: url(/resources/assets/icon/dark/race/half_elf_big.svg);
  --icon-orc-big: url(/resources/assets/icon/dark/race/orc_big.svg);
  --icon-half-orc-big: url(/resources/assets/icon/dark/race/half_orc_big.svg);
  --icon-dwarf-big: url(/resources/assets/icon/dark/race/dwarf_big.svg);
  --icon-dragonborn-big: url(/resources/assets/icon/dark/race/dragonborn_big.svg);
  --icon-gnome-big: url(/resources/assets/icon/dark/race/gnome_big.svg);
  --icon-goliath-big: url(/resources/assets/icon/dark/race/goliath_big.svg);
  --icon-halfling-big: url(/resources/assets/icon/dark/race/halfling_big.svg);
  --icon-human-big: url(/resources/assets/icon/dark/race/human_big.svg);
  --icon-kenku-big: url(/resources/assets/icon/dark/race/kenku_big.svg);
  --icon-kobold-big: url(/resources/assets/icon/dark/race/kobold_big.svg);
  --icon-tabaxi-big: url(/resources/assets/icon/dark/race/tabaxi_big.svg);
  --icon-tiefling-big: url(/resources/assets/icon/dark/race/tiefling_big.svg);
  --icon-aarakocra-big: url(/resources/assets/icon/dark/race/aarakocra_big.svg);
  --icon-aasimar-big: url(/resources/assets/icon/dark/race/aasimar_big.svg);
  --icon-vedalken-big: url(/resources/assets/icon/dark/race/vedalken_big.svg);
  --icon-goblin-big: url(/resources/assets/icon/dark/race/goblin_big.svg);
  --icon-changeling-big: url(/resources/assets/icon/dark/race/changeling_big.svg);
  --icon-leonin-big: url(/resources/assets/icon/dark/race/leonin_big.svg);
  --icon-loxodon-big: url(/resources/assets/icon/dark/race/loxodon_big.svg);
  --icon-gith-big: url(/resources/assets/icon/dark/race/gith_big.svg);
  --icon-verdan-big: url(/resources/assets/icon/dark/race/verdan_big.svg);
  --icon-bearfolk-big: url(/resources/assets/icon/dark/race/bearfolk_big.svg);
  --icon-simic-hybrid-big: url(/resources/assets/icon/dark/race/simic_hybrid_big.svg);
}