:root {
  --bg-transparent: #ffffff00;
  --bg-main: #F9F6EB;
  --bg-secondary: #F3F1DB;
  --bg-sub-menu: #F2EACD;
  --bg-dice: #8d8be1;
  --bg-homebrew: #319f52;
  --bg-homebrew-gradient: linear-gradient(to right, var(--bg-table-list), #B8D2B2 90%);
  --bg-homebrew-gradient-left: linear-gradient(to left, var(--bg-table-list), #B8D2B2 90%);
  --bg-advantage: #026a02;
  --bg-disadvantage: #d96666;
  --bg-saving_throw: #fe5e00;
  --bg-blockquote: #e3dfd3;
  --bg-inpur-hover: rgba(3, 3, 3, 0.15);
  --bg-inpur-focus: #bebebe;
  --bg-details-title: #f3e9cb;
  --bg-table-list: #ebe7d9;
  --bg-liner-main-page: linear-gradient(to right,#ebe6d7,transparent);
  --bg-liner-list: linear-gradient(to right,var(--bg-table-list),transparent);
  --text-color:#404040;
  --text-color-active:#922610;
  --text-color-title:#922610;
  --text-b-color:#313131;
  --text-g-color:#6a6a6a;
  --text-s-color:#922610;
  --text-a-color:#6060c3;
  --text-btn-color: #f8f8f8;
  --text-print-color:#000;
  --link-color:#c57233;
  --link-color-hover:#9e5924;
  --hover: rgba(00, 00, 00, 0.08);
  --bg-table-row: rgba(00, 00, 00, 0.05);
  --border: #EEE2BA;
  --primary: #5e5446;
  --primary-hover: #796e5e;
  --primary-active: #696052;
}

/********* IMG BG *********/
:root {
  --bg-img-login: url(/assets/img/bg_login.png);
  --bg-img-main: url(/assets/img/light/test.webp);
  --bg-img-bestiary-forest: url(/assets/img/dark/forest.webp);
  --bg-img-bard: url(/assets/style/dark/bard.webp);
  --bg-img-spells: url(/assets/img/light/bg_spells.webp);
  --bg-opacity-spells: 0.20;
}

:root{
  --common:#fff;
  --uncommon:#6fd575;
  --rare:#58d5eb;
  --very_rare:#e770ff;
  --legendary:#d1d900;
  --artifact:#ff8900;

  --copy-link: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8056 14.8611L8.74755 17.9191C7.9665 18.7002 6.70017 18.7002 5.91912 17.9191L4.91421 16.9142C4.13317 16.1332 4.13317 14.8668 4.91421 14.0858L8.47468 10.5253C9.25572 9.74428 10.5221 9.74428 11.3031 10.5253L11.8056 11.0278M10.5278 8.47222L13.5858 5.41421C14.3668 4.63317 15.6332 4.63316 16.4142 5.41421L17.4191 6.41912C18.2002 7.20017 18.2002 8.4665 17.4191 9.24755L13.8587 12.808C13.0776 13.5891 11.8113 13.5891 11.0302 12.808L10.5278 12.3056' stroke='%235e5446' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");

}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/assets/icon/light/logo.svg);
}
