:root {
  --bg-transparent: #ffffff00;
  --bg-main: #ffffff;
  --bg-secondary: #FBFBFB;
  --bg-sub-menu: #F2F2F2;
  --bg-dice: #d2d1f9;
  --bg-homebrew: #b1d9bd;
  --bg-blockquote: #21dbca;
  --text-color:#404040;
  --text-color-active:#222222;
  --text-b-color:#313131;
  --text-g-color:#878787;
  --text-s-color:#922610;
  --text-a-color:#7c6615;
  --text-btn-color: #f8f8f8;
  --link-color:#4D4DAA;
  --link-color-hover:#4b4b66;
  --hover: rgba(00, 00, 00, 0.05);
  --border: #E5E5E5;
  --border-table: #E5E5E5;
  --primary: #4D4DAA;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* IMG BG *********/
:root{
  --common:#fff;
  --uncommon:#6fd575;
  --rare:#58d5eb;
  --very_rare:#e770ff;
  --legendary:#d1d900;
  --artifact:#ff8900;
}

/********* IMG BG *********/
:root {
  --border-img:url(/resources/assets/style/light/border.png);
  --border-title-img:url(/resources/assets/style/light/border_title.png);
  --border-top:url(/resources/assets/style/light/border_top.png);
  --border-bottom:url(/resources/assets/style/light/border_bottom.png);
  --border-left:url(/resources/assets/style/light/border_left.png);
  --border-blockquote:url(/resources/assets/style/light/border_blockquote.png);
  --bg-title-img:url(/resources/assets/style/light/bg_title.png);
  --bg-title-img-2:url(/resources/assets/style/light/bg_title_2.png);
  --bg-img-row-active:url(/resources/assets/style/light/bg_row_active.png);
  --bg-img-header-separator:url(/resources/assets/style/light/header_separator.png);
}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/resources/assets/icon/light/logo.svg);
}


/********* Icons Classes *********/
:root {
  --all-classes: url(/resources/assets/icon/light/classes/all_classes.svg);
  --bard-big: url(/resources/assets/icon/light/classes/bard_big.svg);
  --barbarian-big: url(/resources/assets/icon/light/classes/barbarian_big.svg);
  --fighter-big: url(/resources/assets/icon/light/classes/fighter_big.svg);
  --wizard-big: url(/resources/assets/icon/light/classes/wizard_big.svg);
  --druid-big: url(/resources/assets/icon/light/classes/druid_big.svg);
  --cleric-big: url(/resources/assets/icon/light/classes/cleric_big.svg);
  --artificer-big: url(/resources/assets/icon/light/classes/artificer_big.svg);
  --warlock-big: url(/resources/assets/icon/light/classes/warlock_big.svg);
  --monk-big: url(/resources/assets/icon/light/classes/monk_big.svg);
  --paladin-big: url(/resources/assets/icon/light/classes/paladin_big.svg);
  --rogue-big: url(/resources/assets/icon/light/classes/rogue_big.svg);
  --ranger-big: url(/resources/assets/icon/light/classes/ranger_big.svg);
  --sorcerer-big: url(/resources/assets/icon/light/classes/sorcerer_big.svg);
  --blood_hunter-big: url(/resources/assets/icon/light/classes/blood_hunter_big.svg);

  --bard: url(/resources/assets/icon/light/classes/bard.svg);
  --barbarian: url(/resources/assets/icon/light/classes/barbarian.svg);
  --fighter: url(/resources/assets/icon/light/classes/fighter.svg);
  --wizard: url(/resources/assets/icon/light/classes/wizard.svg);
  --druid: url(/resources/assets/icon/light/classes/druid.svg);
  --cleric: url(/resources/assets/icon/light/classes/cleric.svg);
  --artificer: url(/resources/assets/icon/light/classes/artificer.svg);
  --warlock: url(/resources/assets/icon/light/classes/warlock.svg);
  --monk: url(/resources/assets/icon/light/classes/monk.svg);
  --paladin: url(/resources/assets/icon/light/classes/paladin.svg);
  --rogue: url(/resources/assets/icon/light/classes/rogue.svg);
  --ranger: url(/resources/assets/icon/light/classes/ranger.svg);
  --sorcerer: url(/resources/assets/icon/light/classes/sorcerer.svg);
  --blood_hunter: url(/resources/assets/icon/light/classes/blood_hunter.svg);
}

/********* Race Classes *********/
:root {
  --icon-elf-big: url(/resources/assets/icon/light/race/elf_big.svg);
  --icon-half-elf-big: url(/resources/assets/icon/light/race/half_elf_big.svg);
  --icon-orc-big: url(/resources/assets/icon/light/race/orc_big.svg);
  --icon-half-orc-big: url(/resources/assets/icon/light/race/half_orc_big.svg);
  --icon-dwarf-big: url(/resources/assets/icon/light/race/dwarf_big.svg);
  --icon-dragonborn-big: url(/resources/assets/icon/light/race/dragonborn_big.svg);
  --icon-gnome-big: url(/resources/assets/icon/light/race/gnome_big.svg);
  --icon-goliath-big: url(/resources/assets/icon/light/race/goliath_big.svg);
  --icon-halfling-big: url(/resources/assets/icon/light/race/halfling_big.svg);
  --icon-human-big: url(/resources/assets/icon/light/race/human_big.svg);
  --icon-kenku-big: url(/resources/assets/icon/light/race/kenku_big.svg);
  --icon-kobold-big: url(/resources/assets/icon/light/race/kobold_big.svg);
  --icon-tabaxi-big: url(/resources/assets/icon/light/race/tabaxi_big.svg);
  --icon-tiefling-big: url(/resources/assets/icon/light/race/tiefling_big.svg);
  --icon-aarakocra-big: url(/resources/assets/icon/light/race/aarakocra_big.svg);
  --icon-aasimar-big: url(/resources/assets/icon/light/race/aasimar_big.svg);
  --icon-vedalken-big: url(/resources/assets/icon/light/race/vedalken_big.svg);
  --icon-goblin-big: url(/resources/assets/icon/light/race/goblin_big.svg);
  --icon-changeling-big: url(/resources/assets/icon/light/race/changeling_big.svg);
  --icon-leonin-big: url(/resources/assets/icon/light/race/leonin_big.svg);
  --icon-loxodon-big: url(/resources/assets/icon/light/race/loxodon_big.svg);
  --icon-gith-big: url(/resources/assets/icon/light/race/gith_big.svg);
  --icon-verdan-big: url(/resources/assets/icon/light/race/verdan_big.svg);
  --icon-bearfolk-big: url(/resources/assets/icon/light/race/bearfolk_big.svg);
  --icon-simic-hybrid-big: url(/resources/assets/icon/light/race/simic_hybrid_big.svg);
}