:root {
  --bg-main: #ffffff;
  --bg-secondary: #FBFBFB;
  --bg-sub-menu: #F2F2F2;
  --text-color:#171717;
  --text-g-color:#A4A4A4;
  --hover: rgba(00, 00, 00, 0.05);
  --border: #E5E5E5;
  --primary: #4D4DAA;
  --primary-hover: #44439E;
  --primary-active: #3D3992;
}

/********* Logo *********/
:root {
  --icon-logo-menu: url(/resources/assets/icon/light/logo.svg);
}

/********* Icon Menu *********/
:root {
  --close-menu: url(/resources/assets/icon/light/menu/close_menu.svg);
  --icon-character: url(/resources/assets/icon/light/menu/character.svg);
  --icon-spells: url(/resources/assets/icon/light/menu/spells.svg);
  --icon-spells-w: url(/resources/assets/icon/light/menu/spells-w.svg);
  --icon-inventory: url(/resources/assets/icon/light/menu/inventory.svg);
  --icon-treasures: url(/resources/assets/icon/light/menu/treasures.svg);
  --icon-bestiary: url(/resources/assets/icon/light/menu/bestiary.svg);
  --icon-workshop: url(/resources/assets/icon/light/menu/workshop.svg);
  --icon-gods: url(/resources/assets/icon/light/menu/gods.svg);
  --icon-dark-mod: url(/resources/assets/icon/light/menu/dark_mod.svg);

  --icon-skills: url(/resources/assets/icon/light/classes/skills.svg);
  --icon-description: url(/resources/assets/icon/light/classes/description.svg);
}

/********* Icon Action *********/
:root {
--folded: url(/resources/assets/icon/light/folded.svg);
--icon_full_screen: url(/resources/assets/icon/light/full_screen.svg);
--icon_close: url(/resources/assets/icon/light/close.svg);
}

/********* Icons Classes *********/
:root {
  --all-classes: url(/resources/assets/icon/light/classes/all_classes.svg);
  --bard: url(/resources/assets/icon/light/classes/bard_big.svg);
  --barbarian: url(/resources/assets/icon/light/classes/barbarian_big.svg);
  --fighter: url(/resources/assets/icon/light/classes/fighter_big.svg);
  --wizard: url(/resources/assets/icon/light/classes/wizard_big.svg);
  --druid: url(/resources/assets/icon/light/classes/druid_big.svg);
  --cleric: url(/resources/assets/icon/light/classes/cleric_big.svg);
  --artificer: url(/resources/assets/icon/light/classes/artificer_big.svg);
  --warlock: url(/resources/assets/icon/light/classes/warlock_big.svg);
  --monk: url(/resources/assets/icon/light/classes/monk_big.svg);
  --paladin: url(/resources/assets/icon/light/classes/paladin_big.svg);
  --rogue: url(/resources/assets/icon/light/classes/rogue_big.svg);
  --ranger: url(/resources/assets/icon/light/classes/ranger_big.svg);
  --sorcerer: url(/resources/assets/icon/light/classes/sorcerer_big.svg);
}