.gsc-adBlock {
  display: none !important;
}

.search_row_g {
  height: 71px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  margin-bottom: 16px;
  position: relative;
}

.search .search_row_g {
  position: fixed;
}

.searchresults {
  height: calc(100% - 72px);
  top: 72px;
}

.gsc-input-box,
.gsc-control-cse {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  height: 100%;
}

.gsc-above-wrapper-area {
  display: none;
}

.gsc-control-cse {
  padding: 12px 24px !important;
}

.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
  background: none !important;
  border: none !important;
}

a.gs-title,
a.gs-title b,
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b { 
  color: var(--text-color-title) !important;
}

a.gs-title:hover,
a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:link:hover,
.gs-webResult.gs-result a.gs-title:link:hover b,
.gs-imageResult a.gs-title:link:hover,
.gs-imageResult a.gs-title:link:hover b { 
  color: var(--link-color) !important;
}

.gs-promotion .gs-visibleUrl,
.gs-webResult .gs-visibleUrl {
  color: var(--link-color) !important;
}

.gs-promotion .gs-snippet,
.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,
.gs-fileFormatType {
  color: var(--text-color) !important;
}

table.gsc-search-box td {
  background-color: var(--bg-secondary);
  border: 0 !important;
  height: 71px;
  padding: 0px;
}

.gsib_a {
  padding: 0px !important;
}

.gsib_a input {
  height: 100% !important;
  background-color: var(--bg-secondary) !important;
  font-weight: 300;
}

.gsc-input-box table {
  border: 0 !important;
  margin: 0 !important;
}

.table.gsc-search-box {
  margin: 0 !important;
}

.gsc-input-box table tr td {
  border: 0 !important;
  padding-left: 56px !important;
}

form.gsc-search-box {
  margin: 0 !important;
}

.gsc-input {
  font-size: 20px !important;
}

table.gsc-search-box {
  margin: 0 !important;
  border: 0 !important;
}

.gsc-search-button-v2 {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  position: absolute !important;
  left: 16px;
  top: 18px;
  padding: 6px 6px !important;
}

.gsc-search-button-v2 svg {
  width: 20px;
  height: 20px;
}

.gsc-search-button-v2 svg path {
  fill: var(--text-color-title);
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  background-color: var(--hover) !important;
  border: 0 !important;
  color: var(--text-color) !important;
  padding: 4px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background-color: var(--primary-active) !important;
  border: 0 !important;
  color: var(--text-btn-color) !important;
  padding: 4px !important;
}

.gcsc-more-maybe-branding-root {
  display: none !important;
}

.gs-spelling {
  color: var(--text-color) !important;
}

.gs-spelling a b {
  color: var(--link-color) !important;
}

.gs-spelling a:hover b {
  color: var(--link-color-hover) !important;
}

input#gsc-i-id1::placeholder {
  font-size: 20px !important;
  color: var(--text-color) !important;
}