.main_page_wrapper .search_row_g {
  height: 71px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  margin-bottom: 16px;
  position: relative;
}

.gsc-input-box,
.gsc-control-cse {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  height: 100%;
}

.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
  background: none !important;
  border: none !important;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b { 
  color: var(--primary) !important;
}

.gs-promotion .gs-visibleUrl,
.gs-webResult .gs-visibleUrl {
  color: var(--text-a-color) !important;
}

.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,
.gs-fileFormatType {
  color: var(--text-color) !important;
}

table.gsc-search-box td {
  background-color: var(--bg-secondary);
  border: 0 !important;
  height: 71px;
  padding: 0px;
}

.gsib_a {
  padding: 0px !important;
}

.gsib_a input {
  height: 100% !important;
  background-color: var(--bg-secondary) !important;
}

.gsc-input-box table {
  border: 0 !important;
  margin: 0 !important;
}

.table.gsc-search-box {
  margin: 0 !important;
}

.gsc-input-box table tr td {
  border: 0 !important;
  padding-left: 48px !important;
}

form.gsc-search-box {
  margin: 0 !important;
}

.gsc-input {
  font-size: 20px !important;
}

table.gsc-search-box {
  margin: 0 !important;
  border: 0 !important;
}

.gsc-search-button-v2 {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  position: absolute !important;
  left: 8px;
  top: 16px;
}