/******** Меню ********/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  border-right: 1px solid var(--border);
  z-index: 100;
  /* transition: width 0.3s; */

  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

.compact_menu .navbar {
  width: 72px;
  /* transition: width 0.3s; */
}

.navbar nav {
  height: calc(100vh - 97px);
}

.navbar .nav_head {
  display: flex;
  flex-direction: row;
  background-color: var(--hover);
  border-bottom: 1px solid var(--border);

  border-image-source: var(--border-img);
  border-image-slice: 0 1 1;
  border-image-repeat: repeat round;    
  border-image-width: auto;
  border-image-outset: 0;
}

.navbar .nav_head .logo {
  height: 72px;
  width: 72px;
  display: flex;
  background-image: var(--icon-logo-menu);
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .nav_head .user_account,
.navbar .nav_head .roll_menu {
  display: none;
}

.navbar .nav_head .close_menu {
  height: 26px;
  width: 26px;
  display: block;
  border: 1px solid var(--border);
  background-color: var(--bg-main);
  background-image: var(--close-menu);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  position: absolute;
  right: -12px;
  top: 24px;
  padding: 0;
}

.navbar .nav_head .close_menu:hover,
.compact_menu .navbar .nav_head .close_menu:hover {
  background-color: var(--primary-hover);
}

.compact_menu .navbar .nav_head .close_menu {
  width: 26px;
  height: 26px;
  background-color: var(--bg-main);
  border: 1px solid var(--border);
  border-radius: 16px;
  position: absolute;
  top: 24px;
  left: 60px;
  transform: rotate(-180deg);
  padding: 0;
}

.navbar .nav_links {
  height: 100%;
  padding: 0px;
  margin: 24px 0 0 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.compact_menu .navbar .nav_links {
  overflow: visible;
}

.navbar .nav_links::-webkit-scrollbar {
  display: none;
}

.navbar .nav_links li {
  position: relative;
  list-style: none;
  transition: all 0.3s ease;
  margin-bottom: 18px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar .nav_links li.mt-auto {
  margin-top: auto;
}

.compact_menu .navbar .nav_links > li {
  border-radius: 8px 8px 8px 8px;
}

.compact_menu .navbar .nav_links > li:hover {
  border-radius: 8px 0px 0px 8px;
}

.navbar .nav_links li.showMenu,
.navbar .nav_links li:hover {
  background: var(--hover);
}

.navbar .nav_links li .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compact_menu .navbar .nav_links li .dropdown {
  display: block
}

.navbar .nav_links li .icon_menu {
  text-align: center;
  align-items: center;
  min-width: 40px;
  height: 24px;
}

.navbar .nav_links li .icon_menu.arrow path {
  stroke:var(--text-color);
}

.navbar .nav_links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.compact_menu .navbar .nav_links i.arrow {
  display: none;
}

.navbar .nav_links li label,
.navbar .nav_links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 40px;
}

.navbar .nav_links li label,
.navbar .nav_links li a {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  white-space: nowrap;
}

.compact_menu .navbar .nav_links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.navbar .nav_links li .sub_menu {
  padding: 0px 0px 8px 0px;
  background: var(--bg-sub-menu);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
}

.navbar .nav_links li .sub_menu li {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.navbar .nav_links li.showMenu .sub_menu {
  display: block;
}

.navbar .nav_links li .sub_menu label,
.navbar .nav_links li .sub_menu a {
  color: var(--text-color);
  padding: 0px 16px 0px 40px;
  white-space: nowrap;
  opacity: 0.6;
}

.navbar .nav_links li .sub_menu label {
  padding: 0px 16px 0px 34px;
}

.navbar .nav_links li .sub_menu .link_name {
  color: var(--text-color);
  padding: 0px 16px 0px 16px;
  white-space: nowrap;
  opacity: 0.6;
  text-align: center;
  line-height: 40px;
}
.navbar .nav_links li .sub_menu .link_name:hover {
  background: none;
}

.navbar .nav_links li .sub_menu a:hover {
  opacity: 1;
}

.navbar .nav_links li.active {
  background: var(--primary-active);
}

.navbar .nav_links li.active:hover {
  background: var(--primary-hover);
}

.navbar .nav_links li.active a i.icon_menu path {
  stroke: var(--text-btn-color);
}

.navbar .nav_links li.active a span {
  color: var(--text-btn-color);
}

.navbar .nav_links li.active .sub_menu {
  background: var(--primary-hover);
}

.compact_menu .navbar .nav_links li .sub_menu {
  position: absolute;
  left: 100%;
  margin-top: 0;
  padding: 8px 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.compact_menu .navbar .nav_links li .sub_menu li {
  margin-left: 0px;
  margin-right: 0px;
}

.compact_menu .navbar .nav_links li:hover .sub_menu {
  top: -8px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
  display: block !important;
}

.compact_menu .navbar .nav_links li:hover .sub_menu.end {
  top: auto;
  bottom: -8px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
  display: block !important;
}

.compact_menu .navbar .nav_links li:last-child:hover .sub_menu {
  top: 50%;
  bottom: auto;
}

.compact_menu .navbar .nav_links li:hover .sub_menu label,
.compact_menu .navbar .nav_links li:hover .sub_menu a {
  padding: 0px 16px 0px 16px;
}

.navbar .nav_links li .sub_menu .link_name {
  display: none;
}

.compact_menu .navbar .nav_links li .sub_menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: flex;
}

.navbar .nav_links li .sub_menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 8px 0px 8px 0px;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.navbar .nav_links li:hover .sub_menu.blank {
  top: 50%;
  transform: translateY(-50%);
}



@media (max-width: 1000px) {
  /************ МЕНЮ ************/
  .navbar {
    --height-navbar:73px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    min-height: var(--height-navbar);
    width: 100%;
    border-right:none;
    z-index: 102;
    overflow: hidden;
  }

  .navbar.open {
    height: inherit;
  }

  .navbar nav {
    display: none;
  }

  .navbar.open nav {
    --height-menu:80vh;
    display: block;
    height: var(--height-menu);
  }

  .navbar.open nav:after {
    --height-menu-after:calc(100vh - var(--height-menu));
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--height-menu-after);
    background: var(--bg-main);
    top: calc(0px - var(--height-menu-after));
  }

  .navbar .nav_head {
    border-top: 1px solid var(--border);
    border-bottom: none;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: space-between;
  }

  .navbar .nav_head .close_menu {
    display: none;
  }
  
  .navbar .nav_head .user_account,
  .navbar .nav_head .roll_menu {
    width: 72px;
    height: 72px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar .nav_head .roll_menu i,
  .navbar .nav_head .user_account i {
    display: block;
    width: 24px;
    height: 24px;
  }

  .navbar nav {
    /* display: none; */
    position: absolute;
    bottom: 72px;
    left: 0;
    right: 0;
    background: var(--bg-main) !important;
  }

  .navbar .nav_links {
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
  }

  .navbar .nav_links li {
    margin-bottom: 0px;
  }

  .navbar .nav_links li:last-child {
    margin-top: 0px;
  }

  .navbar .hidden_li {
    display: none;
  }


  /************ ТЕЛО СТРАНИЦЫ ************/
  .container {
    margin-left: 0px;
  }

  #right_block {
    width: calc(100vw - 0px);
    right: calc(-100vw - 0px);
    position: fixed;
    border: none;
    z-index: 101;
  }

  .navbar nav {
    height: calc(100vh - 120px);
  }
}


@media (max-height: 800px) {
  .navbar .nav_links > li {
    margin-bottom: 8px !important;
  }
}
