html {
  box-sizing: border-box;
  height: calc(100% - 0px);
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  html {
    height: calc(100% - 73px);
    overflow-y: scroll;
  }  
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background-color: var(--bg-main);
  font-size: 14px;
  height: calc(100% - 0px);
  outline: none;
  color: var(--text-color);
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: 270px;
  height: 100%;
}

@media (max-width: 1000px) {
  .container {
    margin-left: 0px;
  }
}

.container>div {
  height: 100%;
  overflow-y: hidden;
}

.compact_menu .container {
  margin-left: 72px;
}

hr {
  height: 1px;
  border: none;
  background: var(--border);
}

.mt-0 {
  margin-top: 0px;
}

.mt--24 {
  margin-top: -24px;
}

.hide_block {
  display: none !important;
}

.simplebar-wrapper {
  height: 100%;
}

.simplebar-content {
  height: calc(100% - 0px);
}

.icon_action {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  background-color: inherit;
}

.icon_menu.active:before,
.icon_action.active:before,
.icon_menu.active:after,
.icon_action.active:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
}

.icon_menu.active:after,
.icon_action.active:after {
  top: 15px;
  right: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--primary);
}

.icon_menu.active:after {
  right: 8px;
}

.icon_menu.active:before,
.icon_action.active:before {
  top: 13px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: inherit;
}

.icon_menu.active:before {
  right: 6px;
}

.icon_menu svg path,
.icon_action svg path {
  stroke: var(--primary);
}

.checkbox {
  line-height: 22px;
}

.check[type="checkbox"] {
  --size: 10px;
  --width: 10px;
  display: inline-grid;
  align-items: center;
  width: var(--width);
  height: var(--size);
  cursor: pointer;
  float: left;
}

.check[type="checkbox"]::before {
  content: "";
  grid-area: 1 / -1;
  width: calc(var(--width) + 6px);
  height: calc(var(--size) + 6px);
  margin-left: -1px;
  margin-top: -1px;
  transition: all 250ms ease;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
}

.check[type="checkbox"]::after {
  content: "";
  grid-area: 1 / -1;
  width: calc(var(--size) + 0px);
  height: calc(var(--size) + 0px);
  margin-left: 1px;
  margin-top: -1px;
  transform: translateX(10%);
  transform-origin: center center;
  transition: all 250ms ease;
  border-radius: 3px;
  background: #fff;
}

.check[type="checkbox"]:checked::after {
  border: 1px solid var(--primary);
}

.check[type="checkbox"]:checked::after {
  background-color: var(--primary);
}

.toggle[type="checkbox"] {
  --size: 16px;
  --width: calc(12.8px * 2);
  display: inline-grid;
  align-items: center;
  width: var(--width);
  height: var(--size);
  cursor: pointer;
  float: left;
}

.toggle[type="checkbox"]::before {
  content: "";
  grid-area: 1 / -1;
  width: var(--width);
  height: var(--size);
  transition: all 250ms ease;
  border-radius: var(--width);
  background-color: #444;
}

.check:hover::before,
.toggle[type="checkbox"]:hover::before {
  box-shadow: 0 0 0 2px #aef;
}

.toggle[type="checkbox"]::after {
  content: "";
  grid-area: 1 / -1;
  width: calc(var(--size) * 0.8);
  height: calc(var(--size) * 0.8);
  transform: translateX(10%);
  transform-origin: center center;
  transition: all 250ms ease;
  border-radius: 100%;
  background: #fff;
}

.toggle[type="checkbox"]:checked::before {
  background-color: var(--primary);
}

.toggle[type="checkbox"]:checked::after {
   transform: translateX(calc(var(--width) - var(--size) * 0.8 - 10%));
}

.check:disabled,
.toggle[type="checkbox"]:disabled {
  pointer-events: none;
  filter: grayscale(1);
}

.check:disabled::before,
.toggle[type="checkbox"]:disabled::before {
   background: #2be;
}

label.check_block {
  box-sizing: inherit;
  line-height: 22px;
  color: var(--text-color);
  display: block;
  margin-bottom: 8px;
}

label.check_block span {
  margin-left: 8px;
}

.check-wrapper {
  margin-top: 8px;
  margin-bottom: 16px;
}

.check-wrapper label.check_block {
  display: inline-block;
  margin-right: 16px;
}


/******** Тул типы / tool tip ********/
.tpd-skin-dnd5 .tpd-content .spell_wrapper span,
.tpd-skin-dnd5 .tpd-content .spell_wrapper p {
  font-size: 13px !important;
}

.tpd-skin-dnd5 .tpd-content,
.tpd-skin-dnd5 .tpd-title,
.tpd-skin-dnd5 .tpd-close {
  color: var(--text-color);
}
.tpd-skin-dnd5 .tpd-background-content,
.tpd-skin-dnd5 .tpd-background-title {
  background-color: var(--bg-main);
}
.tpd-skin-dnd5 .tpd-background {
  border-width: 1px;
  border-color: var(--border) !important;
}
/* line below the title */
.tpd-skin-dnd5 .tpd-title-wrapper {
  border-bottom: 1px solid var(--border);
}
/* spinner */
.tpd-skin-dnd5 .tpd-spinner-spin {
  border-color: var(--border);
  border-left-color: var(--text-color);
}
/* links */
.tpd-skin-dnd5 a {
  color: var(--link-color);
}
.tpd-skin-dnd5 a:hover {
  color: var(--link-color-hover);
}


/******** Поля ввода / input ********/
input {
  border-radius: 0px;
  border:1px solid var(--border);
  outline:none;
}

input:hover {
  border:1px solid var(--primary-hover);
}

input:focus {
  border:1px solid var(--primary-active);
}

input::selection {
  background: var(--border);
}

.btn_text_clear {
  display: none;
  width: 45px;
  height: 45px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.btn_filters + .btn_text_clear {
  right: 45px;
}

.btn_text_clear .icon_action {
  margin: 11px auto;
}

.select {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: var(--text-color);
  vertical-align: middle;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.select .placeholder {
  position: relative;
  display: block;
  background-color: var(--bg-main);
  z-index: 1;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
}

.select .placeholder:hover {
  background: var(--hover);
}

.select .placeholder:after {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-family: "FontAwesome";
  content: "";
  z-index: 10;
}

.select.is-open .placeholder:after {
  content: "";
}

.select.is-open ul {
  display: block;
}

.select ul {
  display: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background: var(--bg-sub-menu);
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0px 0 0 0;
  padding: 0;
  z-index: 100;
  min-height: 40px;
  height: auto;
  max-height: 350px;
}

.select ul li {
  display: block;
  text-align: left;
  padding: 8px 12px 8px 12px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
}

.select ul li:hover {
  background: var(--hover);
  color: var(--text-color);
}


/******** Скролл ********/
.tpd-tooltip  .tooltip_scroll{
	overflow-y: auto;
	min-height: 50px;
	max-height: 350px;
	width: 450px;
}

.simplebar-scrollbar:before {
  border-radius: 0 !important;
  background-color: var(--primary) !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top:0px;
  bottom: 0px;
}


/******** Всплывающие окно / popup ********/
.dnd5-popup-block {

}

.dnd5-popup-block {
  width: 50%;
  max-height: 80vh;
  background: var(--bg-main);
  margin: 40px auto;
  padding: 24px 24px 12px 24px;
  position: relative;
}

.dnd5-popup-block .mfp-close {
  color: var(--primary);
  position: absolute;
  top: 12px;
  right: 12px;
}

.dnd5-popup-block .header {
  margin-top: -12px;
  min-height: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.dnd5-popup-block .wrapper {
  max-height: 65vh;
}

.dnd5-popup-block .header h4 {
  margin: 0;
  line-height: 22px;
}

@media (max-width: 1200px) {
  .dnd5-popup-block {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .dnd5-popup-block .mfp-close {
    top: 6px;
    right: 6px;
  }
  
  .dnd5-popup-block {
    width: 90%;
    max-height: 90vh;
    margin: 20px auto;
    padding: 16px 16px 12px 16px;
  }
}

/******** Форма входа / login_form ********/
.login_form {
  max-width: 300px;
  background: var(--bg-main);
  text-align: left;
  margin: 40px auto;
  position: relative;
  color: var(--text-color);
}

.login_form #login-form input.form-control {
  height: 30px;
  background: var(--hover);
  width: calc(100% - 26px);
  padding: 6px 12px;
  color:var(--text-color);
}

.login_form .header {
  border-bottom: 1px solid var(--border);
  display: flex;
}

.login_form .header h4 {
  margin: 0;
  padding: 8px 12px;
}

.login_form .mfp-close i {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
}

.login_form .mfp-close {
  border-left:1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
}

.login_form .remember_row {
  padding: 12px 12px 4px 12px;
}

.login_form .bottom {
  border-top: 1px solid var(--border);
  display: flex;
}

.login_form .bottom input.button {
  height: 44px;
  background: var(--bg-main);
  padding: 12px 12px;
  border:none;
  border-right: 1px solid var(--border);
  cursor: pointer;
  color: var(--text-color);
  margin-right: auto;
}

.login_form .bottom input.button:hover {
  background: var(--hover);
}

.login_form .bottom a {
  line-height: 44px;
  margin-right: 12px;
}

.error_wrapper {
  width: calc(100% - 72px);
  height: 100%;
  position: fixed;
}

.error_wrapper h1 {
  color: var(--primary);
}

.error_wrapper div {
  width: 400px;
  height: 160px;
  margin-top: -80px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  position: relative;
}

/******** Главная ********/
.main_page_wrapper h3 {
  display: flex;
}

.main_page_wrapper .left_block {
  height: 100%;
}

.main_page_wrapper .left_block .left_cont {
  height: 100%;
}

.main_page_wrapper .left_block .left_cont .search_row {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  margin-bottom: 16px;
  position: relative;
}

.main_page_wrapper .left_block .left_cont .search_row .btn_search_icon {
  position: absolute;
  top: 24px;
  left: 24px;
}

.main_page_wrapper .left_block .left_cont .search_row input {
  height: 72px;
  width: calc(100% - 88px);
  padding: 0px 24px 0px 64px;
  background-color: var(--bg-secondary);
  border: none;
  font-size: 20px;
}

.main_page_wrapper .left_block .left_cont .search_row input:focus {
  background-color: var(--hover);
}

.main_page_wrapper .left_block .card_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 24px;
}

.main_page_wrapper .left_block .card_row:first-child {
  margin-top: 16px;
}

.compact_menu .main_page_wrapper .left_block .card_row .card {
  flex: 1 1 calc(20% - 40px);
  min-width: calc(20% - 40px);
  text-decoration: none;
}

.main_page_wrapper .left_block .card_row .card {
  flex: 1 1 calc(20% - 40px);
  min-width: calc(20% - 40px);
  margin: 16px 8px 0px 8px;
  background-color: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px 16px 12px;
  text-decoration: none;
}

.main_page_wrapper .left_block .card_row a.card:hover {
  background-color: var(--hover);
  transition: background-color 0.6s;
  color:var(--text-color-active);
}

.main_page_wrapper .left_block .card_row a.card h4 {
  color:var(--text-color);
  transition: color 0.6s;
  font-size: 20px;
  text-align: center;
}

.main_page_wrapper .left_block .card_row a.card:hover h4 {
  color:var(--text-color-active);
  transition: color 0.6s;
}

.main_page_wrapper .left_block .card_row .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}

.main_page_wrapper .left_block .card_row .card .icon svg path {
  stroke:var(--primary);
}

.main_page_wrapper .left_block .card_row .card h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main_page_wrapper .info_main_block {
  padding: 16px 32px;
}

.main_page_wrapper .info_main_block h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.main_page_wrapper .news_block {
  min-width: 500px;
  max-width: 500px;
  flex:1 1 500px;
  height: 100vh;
  background-color: var(--bg-secondary);
}

@media (max-width: 1200px) {
  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(50% - 40px);
    min-width: calc(50% - 40px);
  }

  .compact_menu .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(33% - 40px);
    min-width: calc(33% - 40px);
  }
}

@media (max-width: 1000px) {
  .main_page_wrapper .news_block {
    display: none;
  }

  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(25% - 40px);
    min-width: calc(25% - 40px);
  }
}

@media (max-width: 500px) {
  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(50% - 40px);
    min-width: calc(50% - 40px);
  }
}


/******** Карточки ********/
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.card_wrapper .card {
  background: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex: 1 0 calc(20% - 50px);
  max-width: calc(20% - 50px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  transition: background 0.3s ease;
  border:1px solid var(--bg-secondary);
  align-items: center;
}

.block_information .card_wrapper .card {
  flex: 1 0 calc(50% - 50px);
  max-width: calc(50% - 50px);
}

@media (max-width: 1800px) {
  .compact_menu .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }

  .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}

@media (max-width: 1500px) {
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}

@media (max-width: 1250px) {
  .card_wrapper .card {
    flex: 1 0 calc(33% - 50px);
    max-width: calc(33% - 50px);
  }
}

@media (max-width: 1000px) {
  .card_wrapper .card {
    flex: 1 0 calc(33% - 50px);
    max-width: calc(33% - 50px);
  }

  .block_information .card_wrapper .card {
    flex: 1 0 calc(33% - 50px);
    max-width: calc(33% - 50px);
  }
}

@media (max-width: 700px) {
  .card_wrapper .card,
  .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}

@media (max-width: 500px) {
  .card_wrapper .card,
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}

.card_wrapper .card:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.card_wrapper .card.active {
  border:1px solid var(--primary);
  color:var(--text-color-active);

}
.card_wrapper .card.active h5 {
  color:var(--text-color-active);
}

.card_wrapper .card .infimation .header_name {
  margin: 0;
}

.card_wrapper .card .infimation {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  min-width: calc(100% - 83px);
}

.card_wrapper .card .infimation p.additionally {
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 13px;
  color: var(--text-g-color);
}

.card_wrapper .card .icon {
  height: 60px;
  min-width: 60px;
}

.card_wrapper .card .icon svg {
  width: 100%;
  height: 100%;
}

.card_wrapper .card .icon svg path {
  stroke: var(--primary);
}


/******** Общее по блокам ********/
.header_block {
  height: 72px;
  position: relative;
  background-color: var(--bg-main);
  background-image: var(--bg-title-img);
  background-position:top left;
  background-repeat:no-repeat;
  border-right: 1px solid var(--border);
}

.header_block .filter_block {
  height: 45px;
  width: auto;
  position: relative;
  border-bottom: 1px solid var(--border);
  display: flex;
}

#left_block .header_block.filters {
  height: 119px;
}

.header_block h1 {
  width: 100%;
  line-height: 72px;
  position: relative;
  padding-left: 24px;
  font-size: 26px;
  border-bottom: 1px solid var(--border);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

.header_block .header_row {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .header_block {
    border-right: none;
  }

  .header_block h3 {
    font-size: 22px;
  }

  .header_block .filter_block {
    border-right: 1px solid var(--border);
  }
}


/******** Левый блок ********/
#left_block {

}

#left_block {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
  height: 100%;
}

#left_block.full_screen_left_block {
  width: calc(100vw - 270px) !important;
}

body.compact_menu #left_block.full_screen_left_block {
  width: calc(100vw - 72px) !important;
}

@media (max-width: 1000px) {
  #left_block.full_screen_left_block,
  body.compact_menu #left_block.full_screen_left_block {
    width: calc(100vw - 0px) !important;
  }
}

body.compact_menu #left_block {
  width: calc(100vw - 72px);
}

body .block_information #left_block {
  width: calc(46vw - 270px);
}

body.compact_menu .block_information #left_block {
  width: calc(41vw - 72px);
}

#left_block .container_left {
  position: relative;
  height: calc(100% - 72px);
  overflow: visible;
}

#left_block .filters+.search_panes+.container_left {
  height: calc(100% - 119px);
}

#container_card #left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 24px;
}

#left_block .header_block .btn_search_icon {
  height: 45px;
  width: 45px;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left_block .header_block .search_int {
  height: 43px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: calc(100% - 0px);
  padding-left: 52px;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  font-size: 15px;
}

#left_block .header_block .search_int:hover  {
  background-color: var(--hover);
}

#left_block .header_block .search_int:focus-visible  {
  outline: none;
  background-color: var(--hover);
}

#left_block .header_block .btn_filters {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  min-width: 44px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#left_block .header_block .btn_filters:hover {
  background-color: var(--primary-hover);
}

#left_block .header_block .btn_filters:hover path {
  stroke: var(--text-btn-color);
}

#left_block .header_block .btn_filters:hover .icon_action:after {
  background-color: var(--text-btn-color);
}

@media (max-width: 1000px) {
  body .block_information #left_block.spells,
  body #left_block {
    width: calc(100vw - 0px) !important;
  }
}


/******** Правй блок ********/
#right_block {

}

#right_block {
  --width-right-block:calc(54vw - 0px);
  width: var(--width-right-block);
  top: 0;
  height: 100%;
  right: calc(-59vw - 1px);
  position: absolute;
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  overflow: hidden;
  
  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

body.compact_menu #right_block {
  --width-right-block:calc(59vw - 0px);
}

#right_block .header_block {
  background-image: var(--bg-title-img-2);
}

.block_information #right_block {
  right: 0px;
  left: auto;
  display: block;
}

#right_block.sub_menu_block .header_block {
  height: 118px;
}

#right_block.sub_menu_block .header_block .header_sub_menu {
  height: 46px;
  width: auto;
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--border);
}

#right_block .header_block .header_sub_menu button {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  height: 46px;
  color: var(--text-color);
  border-right: 1px solid var(--border);
  border-top: 2px solid var(--bg-transparent);
}

#right_block .header_block .header_sub_menu button:hover {
  background-color: var(--bg-sub-menu);
}

#right_block .header_block .header_sub_menu button.active {
  background: var(--primary-active);
  color: var(--text-btn-color);
}

#right_block .header_block .header_sub_menu button:hover.active {
  background: var(--primary-hover);
}

#right_block .header_block .header_sub_menu button.active path {
  stroke: var(--text-btn-color);
}

#right_block .header_block .header_sub_menu button .icon_action {
  margin-right: 16px;
}

.archetype_mobile_selector {
  margin-top: -16px;
  margin-left: -16px;
  top: 134px;
  z-index: 2;
  position: fixed;
  display: none;
  width: calc(100vw - 42% - -10px);
  height: 46px;
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

@media (max-width: 1200px) {
  .archetype_mobile_selector {
    display: block;
  }

  .full_screen_right_block .archetype_mobile_selector {
    display: none;
  }
}

@media (max-width: 1000px) {
  .archetype_mobile_selector {
    width: calc(100vw - 0% - 0px);
  }
}

@media (max-width: 1500px) {
  #right_block .header_block .header_sub_menu button {
    padding: 16px;
  }
}

@media (max-width: 1200px) {
  #right_block .header_block .header_sub_menu button {
    flex: 1 0;
    justify-content: center;
    padding: 0px;
  }

  #right_block .header_block .header_sub_menu button:last-child {
    border-right: none;
  }
}

@media (max-width: 1200px) {
  #right_block.classes .header_block .header_sub_menu button .icon_action {
    margin-right: 0px;
  }

  #right_block.classes .header_block .header_sub_menu button span {
    display: none;
  }

  #right_block.classes .header_block .header_sub_menu button.active {
    padding: 0 16px;
  }

  #right_block.classes .header_block .header_sub_menu button.active .icon_action {
    margin-right: 8px;
  }

  #right_block.classes .header_block .header_sub_menu button.active span {
    display: block;
  }
}

@media (max-width: 600px) {
  #right_block .header_block .header_sub_menu button .icon_action {
    margin-right: 8px;
  }
}

.btn_additional_features {
  flex: 1 0 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.btn_additional_features.mr {
  margin-right: 8px;
}

.btn_additional_features:hover {
  background-color: var(--primary-hover);
}

.btn_additional_features:hover svg path {
  stroke: var(--text-btn-color);
}

#right_block .header_block .btn_exet_full_screen,
#right_block .header_block .btn_full_screen,
#right_block .header_block .btn_close {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  min-width: 72px;
  flex: 1 0 72px;
  height: 71px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#right_block .header_block .btn_exet_full_screen:hover,
#right_block .header_block .btn_full_screen:hover,
#right_block .header_block .btn_close:hover {
  background-color: var(--primary-hover);
}

#right_block .header_block .btn_exet_full_screen:hover .icon_action path,
#right_block .header_block .btn_full_screen:hover .icon_action path,
#right_block .header_block .btn_close:hover .icon_action path {
  stroke: var(--text-btn-color);
}

#right_block .header_block .btn_exet_full_screen {
  display: none;
}

#body.full_screen_right_block #right_block .header_block .btn_exet_full_screen {
  display: flex;
}

#body.full_screen_right_block #right_block .header_block .btn_full_screen {
  display: none;
}

.no_close_left_block.block_information #right_block .header_block .btn_close,
.table_list_block.block_information #right_block .header_block .btn_close {
  display: none;
}

@media (max-width: 1000px) {
  .no_close_left_block.block_information #right_block .header_block .btn_close,
  .table_list_block.block_information #right_block .header_block .btn_close {
    display: flex;
  }
}

#right_block .info_wrapper {
  height: calc(100% - 72px);
}

#right_block.sub_menu_block .info_wrapper {
  height: calc(100% - 118px);
}

#right_block .info_wrapper,
#right_block .info_wrapper .simplebar-content {
  position: relative;
  display: flex;
}

#right_block .info_wrapper .content_block {
  flex: 1 0 calc(100% - 291px);
  height: 100%;
}

#right_block .info_wrapper .sub_menu_list+.content_block,
#right_block .info_wrapper #sub_menu+.content_block {
  border-left: 1px solid var(--border);
}

@media (max-width: 1200px) {
  #right_block .info_wrapper .sub_menu_list+.content_block,
  #right_block .info_wrapper #sub_menu+.content_block {
    border-left: none;
  }

  .full_screen_right_block #right_block .info_wrapper .content_block {
    flex: 1 0 calc(100% - 291px);
  }
}

#right_block .info_wrapper .content_block #content_block {
  padding: 24px;
  position: absolute;
}

#right_block .info_wrapper.options .content_block #content_block,
#right_block .info_wrapper.spells .content_block #content_block {
  padding: 0px;
  width: 100%;
}

#right_block .info_wrapper .content_block #content_block:after {
  content: "";
  display: block;
  position: absolute;
  width: 290px;
  height: 100%;
  background-color: var(--bg-sub-menu);
  left: -291px;
  top: 0;
  z-index: -1;
  border-right: 1px solid var(--border);
}

#right_block .info_wrapper .sub_menu_list #sub_menu {
  width: 100%;
}

#right_block .info_wrapper .sub_menu_list {
  position: relative;
  min-width: 290px;
  max-width: 290px;
  flex: 1 0 290px;
  background: var(--bg-sub-menu);
  border-top: 1px solid var(--border);
  z-index: 2;
}

#right_block .info_wrapper .sub_menu_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border);
}

#right_block .info_wrapper .sub_menu_list li {
  position: relative;
  padding: 10px 16px 10px 16px;
  border-bottom: 1px solid var(--border);
}

#right_block .info_wrapper .sub_menu_list li:last-child {
  border-bottom: none;
}

#right_block .info_wrapper .sub_menu_list li h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-b-color);
}

#right_block .info_wrapper .sub_menu_list li span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
}

#right_block .info_wrapper .sub_menu_list.selector_list {
  height: calc(100vh - 117px);
}

#right_block .info_wrapper .sub_menu_list.sub_spells_inf {
  height: calc(100vh - 72px);
}

#right_block .info_wrapper .sub_menu_list.selector_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#right_block .info_wrapper .sub_menu_list.selector_list li {
  border-left: 3px solid transparent;
  cursor: pointer;
}

#right_block .info_wrapper .sub_menu_list.selector_list li:hover {
  background-color: var(--hover);
  border-left: 3px solid transparent;
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active {
  border-left: 3px solid var(--primary);
  background-color: var(--hover);
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active span.name {
  color:var(--text-color-active);
}

#right_block .info_wrapper .sub_menu_list.selector_list li span.name {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  display: block;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .sub_info {
  display: block;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .sub_info span {
  font-size: 13px;
}

#right_block .info_wrapper .sub_menu_list.selector_list li span {
  color: var(--text-g-color);
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active .btn_close {
  opacity: 1;
  transition: all 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .btn_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 14px;
  right: 8px;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s;
  padding: 4px;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .btn_close:hover {
  background-color: var(--primary-hover);
}

#right_block .info_wrapper .sub_menu_list.selector_list li .btn_close:hover path {
  stroke: var(--text-btn-color);
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu {
  cursor: auto;
  border-bottom: none;
  background-color: var(--hover);
  border-left: 3px solid transparent;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu h5{
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  text-transform: none;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu:hover {
  background-color: var(--hover);
}

@media (max-width: 1000px) {
  #right_block .info_wrapper .content_block {
    border-left: 0;
  }
}

#right_block .info_wrapper li.avatar {
  width: 290px;
  max-height: 400px;
  overflow: hidden;
  padding:0 !important;
  border-image: none !important;
  z-index: 1;
  background: var(--bg-sub-menu);
  position: relative;
}

#right_block .info_wrapper li.avatar:hover {
  background: var(--bg-sub-menu) !important;
  cursor: pointer;
}

#right_block .info_wrapper  li.avatar .image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#right_block .info_wrapper  li.avatar a {
  position: relative;
  height: 100%;
  width: 100%;
}

#right_block .info_wrapper  li.avatar img {
  position: relative;
  left: 50%;
  top: 0%;
  height: 100%;
  width: 100%;
  transform: translate(-50%,0%);
  object-fit: cover;
}


/******** Правый блок во весь экран / Full screen ********/
.full_screen_right_block .block_information #right_block {
  right: 0px;
  width: 100%;
  z-index: 11;
}

.full_screen_right_block .block_information #left_block .container_left {
  overflow: hidden !important;
}

/******** Список из таблицы********/
.table_list {
  border: none;
  width: 100% !important;
  overflow-x: hidden;
}

.table_list thead {
  display: none !important;
}

.table_list tr {
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
}

.table_list tr:hover {
  background-color: var(--hover) !important;
  cursor: pointer;
}

.table_list tr.selected {
  background: var(--bg-main);
  color:var(--text-color-active);
}

.table_list tr td {
  border-right:none;
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  height: auto;
  min-height: 30px;
  align-items: center;
  padding: 8px 10px;
}

.table_list tr:hover.selected td {
  background: var(--primary-hover);
}

.table_list tr.selected td {
  background: var(--primary-active);
}

.table_list tr.selected td .info_block,
.table_list tr.selected td .row_name,
.table_list tr.selected td .secondary_name,
.table_list tr.selected td span {
  color: var(--text-btn-color) !important;
}

.table_list tr td:first-child {
  border-left:3px solid var(--bg-main);
}

.table_list tr:hover td:first-child {
  border-left:3px solid var(--hover);
}

.table_list tr.selected td:first-child {
  border-left:3px solid var(--primary-active);
}

.table_list tr td:nth-child(2) {
  text-align: right;
  padding-right: 16px;
  max-width: 60px;
  justify-content: flex-end;
  font-size: 15px;
}

.table_list tr:hover.selected {
  background: var(--border);

  background-position: top left;
  background-repeat: no-repeat;
}

.table_list tr td .info_block {
  min-width: 42px;
  height: 42px;
  font-size: 17px;
  text-align: center;
  line-height: 42px;
  margin-right: 16px;
  position:relative;
}

.table_list tr .info_block:after {
  content: '';
  position: absolute;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  top: 0px;
  left: 0px;
}

.table_list .table_list tr.selected .info_block:after {
  border:1px solid var(--primary);
}

.table_list tr td .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.table_list tr td .content .content_description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table_list tr td .row_name {
  font-size: 15px;
}

.table_list tr .row_name span {
  color: var(--text-g-color);
  margin-left: 8px;
}

.table_list tr .secondary_name {
  color: var(--text-g-color);
  margin-top: 4px;
  font-size: 13px;
}

.table_list tr td .secondary_name.s2,
.table_list tr td .secondary_name.s3 {
  justify-content: flex-end;
  display: flex;
}

.table_list tr td .secondary_name.alg_left,
.table_list tr td .secondary_name.alg_left {
  justify-content: flex-start;
}

.table_list tr td .secondary_name.s1 {
  flex: 1 1 50%;
}

.table_list tr td .secondary_name.s2 {
  flex: 1 1 30%;
  margin-left: auto;
}

.table_list tr td .secondary_name.s3 {
  flex: 1 1 20%;
  margin-left: auto;
}

@media (max-width: 500px) {
  .table_list tr td .secondary_name.s1 {
    flex: 1 1 100%;
  }
  
  .table_list tr td .secondary_name.s2 {
    flex: 1 1 100%;
    margin-left: auto;
  }
  
  .table_list tr td .secondary_name.s3 {
    flex: 1 1 100%;
    margin-left: auto;
  }

  .table_list tr td .secondary_name.s2,
  .table_list tr td .secondary_name.s3 {
    justify-content: flex-start;
  }
}

.table_list tr td .secondary_name span.excretion {
  color: var(--text-b-color);
  font-weight: 500;
  margin: 0 2px;
}

.table_list tbody div.uncommon.info_block:after {
  border-color: var(--uncommon) !important;
}

.table_list tbody div.rare.info_block:after {
  border-color: var(--rare) !important;
}

.table_list tbody div.very_rare.info_block:after {
  border-color: var(--very_rare) !important;
}

.table_list tbody div.legendary.info_block:after {
  border-color: var(--legendary) !important;
}

.table_list tbody div.artifact.info_block:after {
  border-color: var(--artifact) !important;
}

@media (max-width: 600px) {
  .table_list tr td .row_name {
    display: flex;
    flex-direction: column;
  }
  
  .table_list tr .row_name span {
    margin-left: 0px;
  }
}

/******** Ширма / screens ********/
.screens {

}

#right_block.screens .info_wrapper .content_block {
  border-left: none;
  flex: 1 0 calc(100% - 0px);
}

#right_block.screens .info_wrapper .content_block #content_block {
  padding: 0;
}

.screens .card_wrapper .icon {
  display: none;
}

#right_block.screens .info_wrapper #content_block h4 {
  border-bottom: 1px solid var(--border);
  margin: 0px;
  padding: 8px 0px;
  background: var(--hover);
}

#right_block.screens ul {
  list-style: disc;
}

.screens .card_block {
  display: flex;
  flex-wrap: wrap;
  width: var(--width-right-block);
  overflow-x: hidden;
}

body.full_screen_right_block .screens .card_block {
  width: auto;
}

.screens .card_block .block {
  --width-card-block:calc(33% - 47px);
  display: flex;
  flex: 1 1 var(--width-card-block);
  min-width: var(--width-card-block);
  border-right:1px solid var(--border);
  border-bottom:1px solid var(--border);
  padding: 24px 24px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

body.full_screen_right_block .screens .card_block .block {
  flex: 1 1 calc(20% - 49px);
  min-width: calc(20% - 49px);
}

.screens .card_block .block .icon {
  height: 40px;
  display: block;
  margin-right: 8px;
  flex: 1 1 40px;
  max-width: 40px;
  min-width: 40px;
}

.screens .card_block .block .icon svg {
  width: 40px !important;
  height: 40px !important;
}

.screens .card_block .block .icon svg path {
  fill: var(--primary);
}

.screens .card_block .block h5,
.screens .card_block .block p {
  margin: 0;
}

.screens .card_block .block h5 {
  line-height: inherit;
}

.screens .card_block .block:hover {
  background: var(--hover);
}

@media (max-width: 1200px) {
  .screens .card_block .block {
    flex: 1 1 calc(50% - 49px);
    max-width: calc(50% - 49px);
  }

  body.full_screen_right_block .screens .card_block .block {
    flex: 1 1 calc(33% - 47px);
    min-width: calc(33% - 47px);
  }
}

@media (max-width: 1000px) {
  .screens .card_block .block {
    flex: 1 1 calc(33% - 46px);
    max-width: calc(33% - 46px);
  }
  
  .screens .card_block {
    width: auto;
  }
}

@media (max-width: 900px) {
  .screens .card_block .block {
    flex: 1 1 calc(50% - 49px);
    max-width: calc(50% - 49px);
  }
}


/******** Информация о заклинание / spells ********/
.spells {

}

/* body .block_information #left_block.spells  {
  width: calc(44vw - 270px);
}

body.compact_menu #left_block.spells {
  width: calc(40vw - 72px);
}

#right_block.spells {
  --width-right-block:calc(56vw - 0px);
}

body.compact_menu #right_block.spells {
  --width-right-block:calc(60vw - 0px);
} */

#right_block.spells .content_block #content_block {
  position: relative;
}

.spell_wrapper .row_spell  {
  display: flex;
  margin-top: -6px;
  margin-bottom: 16px;
}

.spell_wrapper .row_spell .spells_level {
  font-style: italic;
  margin-right: auto;
}

.spell_wrapper .spell_stat_block {
  display: flex;
  flex-wrap: wrap;
  background: var(--bg-sub-menu);
  margin-bottom: 16px;
  border-top: 1px solid var(--border);
}

#right_block.spells .spell_wrapper .spell_stat_block {
  margin-left: -24px;
  margin-right: -24px;
}

.spell_wrapper .spell_stat_block .block {
  flex: 1 0 calc(33% - 49px);
  min-width: calc(33% - 49px);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 10px 24px;
}

.tpd-skin-dnd5 .spell_stat_block .block {
  padding: 4px 8px;
}

.tpd-skin-dnd5 .spell_stat_block .block p {
  font-size: 13px;
}

.spell_wrapper .spell_stat_block .block.duration {
  border-right: none;
}

.spell_wrapper .spell_stat_block .block.one_row {
  flex: 1 0 calc(100% - 48px);
  min-width: calc(100% - 48px);
  border-right: none;
}

.spell_wrapper .spell_stat_block .block p {
  margin: 0;
  color: var(--text-color-title);
  font-weight: 500;
}

.spell_wrapper .spell_stat_block_bottom {
  margin: 0 0 12px 0;
}

.spell_wrapper .spell_stat_block_bottom p {
  margin: 0 0 2px 0;
  color: var(--text-color-title);
}

.spell_wrapper .spell_stat_block_bottom .classes_icon {
  display: flex;
}

.spell_wrapper .spell_stat_block_bottom .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hover);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #right_block.spells .spell_wrapper .spell_stat_block {
    margin-left: -16px;
    margin-right: -16px;
  }

  .spell_wrapper .row_spell  {
    margin-bottom: 8px;
  }
}

@media (max-width: 1000px) {
  .spell_wrapper .spells_level {
    margin-top: -2px;
  }

  .spell_wrapper .spell_stat_block .block.distance {
    border-right: none;
  }

  .spell_wrapper .spell_stat_block .block.duration {
    flex: 1 0 calc(100% - 49px);
    min-width: calc(100% - 49px);
  }

  .spell_wrapper .row_spell  {
    margin-bottom: 8px;
  }

  .spell_wrapper .spell_stat_block .block {
    flex: 1 0 calc(50% - 49px);
    min-width: calc(50% - 49px);
    padding: 10px 16px;
  }
}

@media (max-width: 500px) {
  .spell_wrapper .row_spell  {
    flex-direction: column;
  }
}


/******** Классы / classes ********/
.classes {

}

#right_block.classes .content_block h4.mt {
  margin-top: -24px !important;
}

#right_block.classes p.class_stats {
  margin-bottom: 6px;
}


/******** Состояния / conditions ********/
.conditions {

}

.conditions .content_block ul {
  list-style: disc;
}


/******** Расы / races ********/
.races {

}

#right_block.races .info_wrapper .sub_menu_list li.avatar {
  padding: 0 !important;
  border-left: none !important;
}

#right_block.races .info_wrapper .sub_menu_list li.avatar img {
  max-width: 290px;
}

#right_block.races h4.header_separator.mt {
  margin-top: -24px !important;
}

.races .content_block .scores {
  display: flex;
  flex-wrap: wrap;
}

.races .content_block .scores .score {
  text-align: center;
  min-width: calc(20% - 32px);
  flex: 1 1 calc(20% - 32px);
  background-color: var(--hover);
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 8px;
  padding: 0 12px;
}

.races .content_block .scores .score h4 {
  margin: 10px 0 0 2px !important;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-s-color);
}

.races .content_block .scores .score p {
  margin: 0 0 10px 0;
  line-height: 1.2em;
}

@media (max-width: 1500px) {
  .races .content_block .scores .score {
    min-width: calc(33% - 8px);
    flex: 1 1 calc(33% - 8px);
  }

  #body.full_screen_right_block .races .content_block .scores .score {
    min-width: calc(20% - 8px);
    flex: 1 1 calc(20% - 8px);
  }
}


/******** Предыстории / backgrounds ********/
.backgrounds {

}

#right_block.backgrounds .content_block h4:nth-child(1) {
  margin-top: -24px !important;
}


/******** Оружие / Weapons ********/
.weapons {

}

body .block_information #left_block.weapons  {
  width: calc(58vw - 270px);
}

body.compact_menu #left_block.weapons {
  width: calc(52vw - 72px);
}

#right_block.weapons {
  --width-right-block:calc(42vw - 0px);
}

body.compact_menu #right_block.weapons {
  --width-right-block:calc(48vw - 0px);
}


/******** Бестиарий / bestiary ********/
.bestiary {

}

#right_block.bestiary .info_wrapper .simplebar-content {
  display: flex;
}

.bestiary_h5 {
  border-left: 3px solid var(--primary);
  padding-left: 8px;
  margin: 18px 0 6px 0;
}

#right_block.bestiary .scores {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#right_block.bestiary .scores>div {
  text-align: center;
  min-width: calc(16% - 8px);
  flex: 1 0 calc(16% - 8px);
  background-color: var(--hover);
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 1500px) {
  #right_block.bestiary .scores>div {
    max-width: calc(33% - 8px);
    flex: 1 0 calc(33% - 8px);
  }
}

@media (max-width: 1200px) {
  #right_block.bestiary .scores>div {
    max-width: calc(16% - 8px);
    flex: 1 0 calc(16% - 8px);
  }
}

@media (max-width: 500px) {
  #right_block.bestiary .scores>div {
    max-width: calc(33% - 8px);
    flex: 1 0 calc(33% - 8px);
  }
}

@media (max-width: 360px) {
  #right_block.bestiary .scores>div {
    max-width: calc(50% - 8px);
    flex: 1 0 calc(50% - 8px);
  }
}

#right_block.bestiary .scores h4 {
  margin: 10px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-s-color);
}

#right_block.bestiary .scores p {
  margin: 0 0 10px;
  line-height: 1.2em;
}

@media (max-width: 1200px) {
  #right_block.bestiary .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }

  #right_block.items .info_wrapper li.avatar,
  #right_block.bestiary .info_wrapper li.avatar {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 8px;
    top: 8px;
    border: 8px solid var(--border);
    border-radius: 50%;
    overflow: hidden;
    background: var(--bg-main);
    box-shadow: 0px 6px 21px #00000036;
  }

  body.full_screen_right_block #right_block.bestiary .info_wrapper li.avatar {
    position: relative;
    right: 0px;
    top: 0px;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 390px;
    border: none;
  }
}

@media (max-width: 600px) {
  #right_block.items .info_wrapper li.avatar,
  #right_block.bestiary .info_wrapper li.avatar {
    width: 120px;
    height: 120px;
    border: 4px solid var(--border);
  }
}

@media (max-width: 360px) {
  #right_block.items .info_wrapper li.avatar,
  #right_block.bestiary .info_wrapper li.avatar {
    width: 100px;
    height: 100px;
  }
}


/******** Armors / Броня ********/
.armors .filters .filter_block .btn_filters {
  display: none !important;
}

.armors .filters .filter_block .search_int {
  width: calc(100% - 54px) !important;
}

.armors .filters .filter_block .btn_text_clear {
  right: 0px;
}


/******** Filters / Фильтры ********/
.search_panes {
  position: absolute;
  color:var(--text-color);
  z-index: 10;
  width: 100%;
  max-height: calc(100% - 117px); 
}

.search_panes .dtsp-panesContainer {
  box-shadow: 0px 10px 21px #00000036;
  background: var(--bg-main);
  padding: 0px 24px 24px 24px;
  margin-top: 0px;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow {
  width: auto;
  height: 36px;
  border-bottom: 1px solid var(--border);
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow .dtsp-title {
  display: none;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button {
  color: var(--text-btn-color);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  background: var(--primary);
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button:disabled {
  color:var(--text-color);
  opacity: 0.6;
  background: var(--bg-main);
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button:disabled:hover {
  color:var(--text-color);
  opacity: 0.6;
  background: var(--bg-main);
  cursor: not-allowed !important;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button:hover {
  color: var(--text-btn-color);
  background: var(--primary-hover);
}

.search_panes .dtsp-panesContainer .dtsp-titleRow .dtsp-clearAll {
  margin-right: auto;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane {
  flex: 1 1 calc(50% - 8px);
  min-width: calc(50% - 8px);
  margin: 16px 4px 0px 4px !important;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dataTables_wrapper {
  border-radius: 0px;
  border:1px solid var(--border);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dataTables_wrapper:hover {
  border-radius: 0px;
  border:1px solid var(--border);
}

.search_panes table {
  border-radius: 0px;
  border:none;
  background: var(--bg-main);
}

.search_panes .dataTable tbody tr {
  background: var(--bg-main) !important;
}

.search_panes .dataTable tbody tr.selected {
  background: var(--primary-active) !important;
}

.search_panes .dataTable tbody tr:hover {
  background: var(--hover) !important;
}

div.dtsp-panesContainer div.dtsp-searchPanes {
  margin-left: -4px;
  margin-right: -4px;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow {
  border-radius: 0px;
  border:1px solid var(--border);
  flex-direction: row !important;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow:hover {
  background: var(--hover);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow .dtsp-subRow2 .dtsp-buttonGroup button {
  color: var(--primary);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow .dtsp-subRow2 .dtsp-buttonGroup button:disabled {
  color: var(--text-color);
  opacity: 0.6;
}

div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
  height: auto !important;
  max-height: 200px;
}


.filter_container {
  width: 100%;
  height: auto;
  background-color: var(--bg-secondary);
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}

.filter_container .filter_block {
  width: 100%;
  display: block;
  border-top:1px solid var(--border);
  border-bottom:1px solid var(--border);
  margin-top: 16px;
}

.filter_container .filter_block:first-child {
  margin-top: 0px;
}

.filter_container .filter_block .header {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter_container .filter_block .header:hover {
  background-color: var(--hover);
}

.filter_container .filter_block .header h5 {
  margin: 0;
  width: calc(100% - 72px);
  padding: 0 16px;
  color: var(--text-color-title);
}

.filter_container .filter_block .header button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_container .filter_block .header button:hover {
  background-color: var(--primary-hover);
}

.filter_container .filter_block .header button:hover path {
  stroke: var(--text-b-color);
}

.filter_container .filter_block .filter_crumbs_box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px 8px 8px;
}

.filter_container .filter_block .filter_crumbs_box label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}

.filter_container .filter_block .filter_crumbs_box label span {
  position: relative;
  border-radius: 4px;
  transition: 0.4s;
  padding: 0 8px;
  margin: 4px 4px;
  min-height: 22px;
  color: var(--text-color);
  background-color: var(--bg-sub-menu);
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;  
}

.filter_container .filter_block .filter_crumbs_box label span:hover {
  background-color: var(--primary-hover);
  color: var(--text-btn-color);
}

.filter_container .filter_block .filter_crumbs_box label input {
  pointer-events: none;
  display: none;
}

.filter_container .filter_block .filter_crumbs_box label input:checked + span {
  background-color: var(--primary-active);
  color: var(--text-btn-color);
}

.filter_container .filter_block .filter_crumbs_box label input:checked + span:hover {
  background-color: var(--primary-hover);
  color: var(--text-btn-color);
}

.filter_container .filter_block .filter_crumbs_box.hide {
  display: none;
}


/******** Инструменты / tools ********/
#left_block .tools_settings {
  padding: 24px 24px 12px 24px;
  border-bottom: 1px solid var(--border);
  position: relative;
}

body.compact_menu #left_block.tools_block {
  width: calc(100vw - 72px) !important;
}

body #left_block.tools_block {
  width: calc(100vw - 271px) !important;
}

@media (max-width: 1000px) {
  body.compact_menu #left_block.tools_block,
  body #left_block.tools_block {
    width: calc(100vw - 0px) !important;
  }
}

#left_block.wildmagic .container_left {
  height: calc(100% - 195px);
}

#left_block.encounters .container_left {
  height: calc(100% - 249px);
}

#left_block.madness .container_left {
  height: calc(100% - 249px);
}

#left_block.trader .container_left {
  height: calc(100% - 249px);
}

#left_block.treasury .container_left {
  height: calc(100% - 249px);
}

#left_block.treasury h4.header_separator {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
} 

#left_block.encounters .content_block #content_block {
  padding: 24px;
  position: relative;
}

.tools_block_result {
  border-bottom: 1px solid var(--border);
  padding: 12px 24px 0 24px;
}

#left_block.trader .table_list {
  text-align: left;
}

#left_block.trader .table_list .row_name {
  font-size: 15px;
  line-height: 42px;
  font-weight: 400;
  /* margin-left: 58px; */
  vertical-align: middle;
  height: 42px;
  display: table-cell;
}

@media (max-width: 500px) {
  #left_block.trader .container_left {
    height: calc(100% - 341px);
  }

  #left_block.wildmagic .container_left {
    height: calc(100% - 197px);
  }

  #left_block.madness .container_left {
    height: calc(100% - 278px);
  }

  #left_block.encounters .container_left {
    height: calc(100% - 254px);
  }
}

@media (max-width: 360px) {
  #left_block.wildmagic .container_left {
    height: calc(100% - 219px);
  }

  #left_block.encounters .container_left {
    height: calc(100% - 389px);
  }
}


/******** Кнопки ********/
.btn-wrapper {
  padding: 0px 0 8px 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Open Sans';
}

.btn {
  padding: 12px 12px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  margin-bottom: 8px;
}

.btn_primary {
  background-color: var(--primary);
  color:var(--text-btn-color);
}

.btn_primary:hover {
  background-color: var(--primary-hover);
}

.become-patron-button {
  background-color: #FC3D51;
  padding: 10px 16px 10px 46px;
  color: #fff;
  border-radius: 30px;
  display: block;
  max-width: 110px;
  background-image: url(/resources/assets/become-patron-button.svg);
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 26px 26px;
  text-decoration: none;
}

.become-patron-button:hover {
  background-color: #c52a3a;
  color: var(--text-btn-color);
}


/******** Иконки ********/
.icon_bard {
  background-image: var(--bard);
}

.icon_barbarian {
  background-image: var(--barbarian);
}

.icon_fighter {
  background-image: var(--fighter);
}

.icon_wizard {
  background-image: var(--wizard);
}

.icon_druid {
  background-image: var(--druid);
}

.icon_cleric {
  background-image: var(--cleric);
}

.icon_artificer {
  background-image: var(--artificer);
}

.icon_warlock {
  background-image: var(--warlock);
}

.icon_monk {
  background-image: var(--monk);
}

.icon_paladin {
  background-image: var(--paladin);
}

.icon_rogue {
  background-image: var(--rogue);
}

.icon_ranger {
  background-image: var(--ranger);
}

.icon_sorcerer {
  background-image: var(--sorcerer);
}

.icon_blood_hunter {
  background-image: var(--blood_hunter);
}

.races .info_wrapper .content_block .sub_menu_list {
  display: none;
  height: auto !important;
}

/********************** МОБИЛЬНАЯ ВЕРСИЯ **********************/
@media (max-width: 1200px) {
  #right_block .info_wrapper .content_block #content_block {
    width: auto;
    padding: 16px;
    position: relative;
  }

  #right_block .info_wrapper .simplebar-content {
    display: block;
  }

  #right_block .info_wrapper .content_block {
    flex: none;
    height: auto;
    border-left: none;
    width: 100%;
  }

  #body.full_screen_right_block #right_block .info_wrapper .simplebar-content {
    flex-direction: row;
  }
  
  #right_block .info_wrapper .sub_menu_list {
    width: auto;
    min-width: auto;
    max-width: 100%;
    flex:none;
  }

  #body.full_screen_right_block #right_block .info_wrapper .sub_menu_list {
    width: 290px;
    flex: 1 0 290px;
  }

  #right_block.classes .info_wrapper .sub_menu_list {
    display: none;
  }

  #body.full_screen_right_block #right_block.classes .info_wrapper .sub_menu_list {
    display: block;
    min-width: 290px;
  }

  #right_block.classes .content_block h4.mt {
    margin-top: 22px !important;
  }

    #body.full_screen_right_block #right_block.classes .content_block h4.mt {
    margin-top: -24px !important;
  }

  #right_block .header_block .header_sub_menu button {
    flex: 1 0;
    justify-content: center;
    padding: 0px;
  }
  
  .scores {
    justify-content: space-between;
  }

  .archetype_mobile_selector + .scores {
    margin-top: 48px;
  }


  /******** Информация о заклинание / spells ********/
  #right_block.spells .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }


  /******** Расы / races ********/
  .races .content_block .scores .score {
    min-width: calc(50% - 32px);
    flex: 1 1 calc(50% - 32px);
  }

  #body.full_screen_right_block .races .content_block .scores .score {
    min-width: calc(33% - 8px);
    flex: 1 1 calc(33% - 8px);
  }

  .races .info_wrapper > .sub_menu_list {
    display: none;
  }

  .races .info_wrapper .content_block .sub_menu_list {
    display: block;
  }

  #right_block.races .info_wrapper .content_block #content_block {
    width: auto;
  }
}


@media (max-width: 1000px) {
  #right_block .header_block .btn_full_screen{
    display: none;
  }


  /******** Расы / races ********/
  #right_block.races .info_wrapper .content_block .sub_menu_list li.avatar img {
    max-width:100%;
  }

  #right_block.races .info_wrapper .content_block li.avatar {
    width: 100%;
  }
}

.temporary_news {
  margin: 16px 32px 0px 32px;
  background-color: var(--bg-secondary);
  padding: 24px;
  border-radius: 16px;
}

.temporary_news .head {
  width: 100%;
  margin-bottom: 16px;
  color: var(--text-color-title);
}

.rm-capture-active .cont {
  width: 100%;
  margin: 0;
}

.rm-mark {
  background-color: var(--primary-active) !important;
  color: var(--text-btn-color) !important;
}

.rm-capture-active .navbar:after,
.rm-capture-active #container:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--hover);
}