/******** Основной стиль ********/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--bg-main);
  font-size: 13px;
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden !important;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: 270px;
  padding-left: 24px;
  padding-right: 24px;
}

.compact_menu .container {
  margin-left: 72px;
}

.row {
  margin-left: -24px;
  margin-right: -24px;
}

.mt-0 {
  margin-top: 0px;
}

.hide_block {
  display: none !important;
}

.icon_action {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.folded {
  background-image: var(--folded);
}

.icon_full_screen {
  background-image: var(--icon_full_screen);
}

.icon_close {
  background-image: var(--icon_close);
}

.icon_filters {
  background-image: var(--icon_filters);
}

.check-input {
  float: left;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 1px solid var(--border);
}

.check-input+label {
  line-height: 22px;
}


/******** Поля ввода / input ********/
input {
  border-radius: 0px;
  border:1px solid var(--border);
  outline:none;
}

input:hover {
  border:1px solid var(--primary-hover);
}

input:focus {
  border:1px solid var(--primary-active);
}

input::selection {
  background: var(--border);
}


/******** Скролл ********/
.tpd-tooltip  .tooltip_scroll{
	overflow-y: auto;
	min-height: 50px;
	max-height: 350px;
	width: 450px;
}

.simplebar-scrollbar:before {
  border-radius: 0 !important;
  background-color: var(--primary) !important;
}


/******** Форма входа / login_form ********/
.login_form {
  max-width: 300px;
  background: var(--bg-main);
  text-align: left;
  margin: 40px auto;
  position: relative;
  color: var(--text-color);
}

.login_form #login-form input.form-control {
  height: 30px;
  background: var(--hover);
  width: calc(100% - 26px);
  padding: 6px 12px;
  color:var(--text-color);
}

.login_form .header {
  border-bottom: 1px solid var(--border);
  display: flex;
}

.login_form .header h4 {
  margin: 0;
  padding: 8px 12px;
}

.login_form .mfp-close i {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
}

.login_form .mfp-close {
  border-left:1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
}

.login_form .mfp-close:hover {

}

.login_form .remember_row {
  padding: 12px 12px;
}

.login_form .bottom {
  border-top: 1px solid var(--border);
  display: flex;
}

.login_form .bottom input.button {
  height: 44px;
  background: var(--bg-main);
  padding: 12px 12px;
  border:none;
  border-right: 1px solid var(--border);
  cursor: pointer;
  color: var(--text-color);
  margin-right: auto;
}

.login_form .bottom input.button:hover {
  background: var(--hover);
}

.login_form .bottom a {
  line-height: 44px;
  margin-right: 12px;
}


/******** Главная ********/
.main_page_wrapper {
  display: flex;
}

.main_page_wrapper .left_block {
  flex:1 1 auto;
}

.main_page_wrapper .left_block .left_cont {
  height: 100vh;
}

.main_page_wrapper .left_block .card_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 24px;
}

.main_page_wrapper .left_block .card_row:first-child {
  margin-top: 16px;
}

.main_page_wrapper .left_block .card_row .card {
  flex: 1 1 calc(20% - 40px);
  min-width: calc(20% - 40px);
  margin: 16px 8px 0px 8px;
  background-color: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px 16px 12px;
  transition: background-color 0.6s;
}

.main_page_wrapper .left_block .card_row a.card:hover {
  background-color: var(--hover);
  transition: background-color 0.6s;
  color:var(--text-color-active);
}

.main_page_wrapper .left_block .card_row a.card h4 {
  color:var(--text-color);
  transition: color 0.6s;
  font-size: 20px;
  text-align: center;
}

.main_page_wrapper .left_block .card_row a.card:hover h4 {
  color:var(--text-color-active);
  transition: color 0.6s;
}

.main_page_wrapper .left_block .card_row .card .icon {
  display: block;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}

.main_page_wrapper .left_block .card_row .card h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main_page_wrapper .info_main_block {
  padding: 16px 32px;
}

.main_page_wrapper .info_main_block h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.main_page_wrapper .news_block {
  min-width: 500px;
  max-width: 500px;
  flex:1 1 500px;
  height: 100vh;
  background-color: var(--bg-secondary);
}

@media (max-width: 1200px) {
  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(50% - 40px);
    min-width: calc(50% - 40px);
  }
}
@media (max-width: 1000px) {
  .main_page_wrapper .news_block {
    display: none;
  }

  .main_page_wrapper .left_block .left_cont {
    height: calc(100vh - 73px);
  }

  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(25% - 40px);
    min-width: calc(25% - 40px);
  }
}

@media (max-width: 500px) {
  .main_page_wrapper .left_block .card_row .card {
    flex: 1 1 calc(50% - 40px);
    min-width: calc(50% - 40px);
  }
}


/******** Карточки ********/
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0 -8px;
}

.card_wrapper .card {
  background: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex: 1 0 calc(25% - 58px);
  max-width: calc(25% - 58px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  flex-direction: row;
  padding: 16px 24px 16px 16px;
  transition: background 0.3s ease;
  border:1px solid var(--bg-secondary);
}

.block_information .card_wrapper .card {
  flex: 1 0 calc(50% - 58px);
  max-width: calc(50% - 58px);
}

@media (max-width: 1800px) {
  .compact_menu .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }

  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 58px);
    max-width: calc(100% - 58px);
  }
}

@media (max-width: 1500px) {
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 58px);
    max-width: calc(100% - 58px);
  }
}

@media (max-width: 1250px) {
  .card_wrapper .card {
    flex: 1 0 calc(33% - 58px);
    max-width: calc(33% - 58px);
  }
}

@media (max-width: 1000px) {
  .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }

  .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }
}

@media (max-width: 700px) {
  .card_wrapper .card,
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 58px);
    max-width: calc(100% - 58px);
  }
}

.card_wrapper .card:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.card_wrapper .card.active {
  border:1px solid var(--primary);
  color:var(--text-color-active);

}
.card_wrapper .card.active h5 {
  color:var(--text-color-active);
}

.card_wrapper .card .infimation .header_name {
  margin: 0;
}

.card_wrapper .card .infimation {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.card_wrapper .card .infimation p.additionally {
  margin-top: auto;
  margin-bottom: 0px;
}


/******** Классы ********/
.card_wrapper .card .icon {
  display: block;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}


/******** Общее по блокам ********/
.header_block {
  display: flex;
  align-items: center;
  height: 72px;
  padding-left: 24px;
  position: sticky;
  background-color: var(--bg-main);
  background-image: var(--bg-title-img);
  background-position:top left;
  background-repeat:no-repeat;
  border-right: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

.header_block .filter_block {
  height: 46px;
  width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;

  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#left_block .header_block.filters {
  height: 118px;
}

.header_block.filters h3 {
  line-height: 72px;
  top: -24px;
  position: relative;
}


/******** Левый блок ********/
#left_block {
  /* transition: margin-right 0.3s; */
  overflow-x: hidden;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
}

.block_information #left_block {
  /* transition: margin-right 0.6s; */
  margin-right: calc(58vw + 0px);
}

#left_block .filters + .container_left {
  height: calc(100vh - 119px);
}

#left_block .container_left {
  height: calc(100vh - 73px);
  border-top: 1px solid var(--border);

  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0px 0px 0px 0px;
}

#left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 24px;
}

#left_block .header_block .search_int {
  height: 43px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: calc(100% - 102px);
  background-image: var(--icon_search);
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding-left: 52px;
  position: absolute;
  right: 0px;
  left: -1px;
  bottom: 0;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  font-size: 15px;
}

#left_block .header_block .search_int:hover  {
  background-color: var(--hover);
}

#left_block .header_block .search_int:focus-visible  {
  outline: none;
  background-color: var(--hover);
}

#left_block .header_block .btn_filters {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  top: 1px;
  width: 46px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#left_block .header_block .btn_filters:hover {
  background-color: var(--hover);
}


@media (max-width: 1000px) {
  .block_information #left_block {
    /* transition: margin-right 0.3s; */
    margin-right: calc(0vw + 0px);
  }
}


/******** Правй блок ********/
#right_block {
  width: calc(58vw - 0px);
  top: 0;
  right: calc(-58vw - 1px);
  /* transition: width 0.6s; */
  position: fixed;
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  /* overflow: hidden; */
  
  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block .header_block {
  background-image: var(--bg-title-img-2);
}

.block_information #right_block {
  right: 0px;
  /* transition: right 0.3s; */
}

#right_block .header_block.sub_menu_block {
  height: 118px;
}

#right_block .header_block.sub_menu_block .header_sub_menu {
  height: 46px;
  width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  /* background-image: var(--bg-img-row); */

  border-top:1px solid var(--border);
  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;
  border-image-width: auto;
  border-image-outset: 0;
  display: flex;
}

#right_block .header_block.sub_menu_block h3 {
  line-height: 72px;
  top: -24px;
  position: relative;
}

#right_block .header_block .header_sub_menu button {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  height: 46px;
  color: var(--text-color);
  border-right: 1px solid var(--border);
  border-top: 2px solid var(--bg-transparent);
}

#right_block .header_block .header_sub_menu button.active {
  background: var(--bg-img-row-active);
  border-top: 2px solid var(--primary-hover);
  color:var(--text-color-active);
}

#right_block .header_block .header_sub_menu button .icon_action {
  margin-right: 16px;
}

#right_block .header_block .btn_full_screen,
#right_block .header_block .btn_close {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  width: 72px;
  height: 71px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0px;
}

#right_block .header_block .btn_full_screen {
  right: 73px;
  top: 0px;
}

#right_block .header_block .btn_full_screen:hover,
#right_block .header_block .btn_close:hover {
  background-color: var(--hover);
  cursor: pointer;
}

#right_block .info_wrapper {
  height: calc(100vh - 73px);
}

#right_block .sub_menu_block + .info_wrapper {
  height: calc(100vh - 119px);

  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 1px 25px 0px 1px;
}

#right_block .info_wrapper,
#right_block .info_wrapper .simplebar-content {
  position: relative;
  display: flex;
}

#right_block .info_wrapper .content_block {
  border-left: 1px solid var(--border);
  flex: 1 0 calc(100% - 291px);
  height: calc(100vh - 121px);
  border-image-source: var(--border-left);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0px 25px 0px 0px;
}

#right_block .info_wrapper .content_block #content_block {
  padding: 24px;
  position: relative;
}

#right_block .info_wrapper .sub_menu_list #sub_menu {
  width: 100%;
}

#right_block .info_wrapper .sub_menu_list {
  position: relative;
  width: 290px;
  flex: 1 0 290px;
}

#right_block .info_wrapper .sub_menu_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#right_block .info_wrapper .sub_menu_list li {
  position: relative;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block .info_wrapper .sub_menu_list li .classes_icon {
  display:flex;
  flex-direction: row;
}

#right_block .info_wrapper .sub_menu_list li .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hover);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

#right_block .info_wrapper .sub_menu_list.selector_list {
  height: calc(100vh - 119px);
}

#right_block .info_wrapper .sub_menu_list.sub_spells_inf {
  height: calc(100vh - 73px);
}

#right_block .info_wrapper .sub_menu_list.selector_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--border);
}

#right_block .info_wrapper .sub_menu_list.selector_list li {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li:hover {
  background-color: var(--hover);
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active {
  border-left: 3px solid var(--primary);
  background-color: var(--hover);
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active span.name {
  color:var(--text-color-active);
}

#right_block .info_wrapper .sub_menu_list.selector_list li span.name {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  display: block;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .sub_info {
  display: block;
}

#right_block .info_wrapper .sub_menu_list.selector_list li span {
  color: var(--text-g-color);
}

#right_block .info_wrapper .sub_menu_list.selector_list li.active .btn_close {
  opacity: 1;
  transition: all 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .btn_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 8px;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s;
}

#right_block .info_wrapper .sub_menu_list.selector_list li .btn_close:hover {
  background-color: var(--hover);
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu {
  cursor: auto;
  border-bottom: none;
  background-color: var(--bg-sub-menu);
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu h5{
  margin: 0;
}

#right_block .info_wrapper .sub_menu_list.selector_list li.title_sub_menu:hover {
  background-color: var(--bg-sub-menu);
}


/******** Список из таблицы********/
.table_list_left_block #left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 0px;
}

.table_list_left_block .table_list {
  border: none;
  width: 100% !important;
}

.table_list_left_block .table_list tr {
  background: none;
}

.table_list_left_block .table_list tr:hover {
  background: var(--hover);
  cursor: pointer;
}

.table_list_left_block .table_list tr:hover td {
  border-left:3px solid var(--hover);
}

.table_list_left_block .table_list tr.selected {
  background: var(--bg-main);
  color:var(--text-color-active);

  background-image: var(--bg-img-row-active);
  background-position: top left;
  background-repeat: repeat;
}

.table_list_left_block .table_list tr td {
  border-left:3px solid var(--bg-main);
}

.table_list_left_block .table_list tr.selected td {
  border-left:3px solid var(--primary);
}

.table_list_left_block .table_list tr:hover.selected {
  background: var(--border);

  background-image: var(--bg-title-img-2);
  background-position: top left;
  background-repeat: no-repeat;
}


/******** Список из таблицы / заклинания********/
.table_list_left_block .spells_list tr .spell_lvl {
  float: left;
  width: 42px;
  height: 42px;
  display: block;
  font-size: 17px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin-right: 16px;
  border: 1px solid var(--border);
}

.table_list_left_block .table_list tr.selected .spell_lvl {
  border:1px solid var(--primary);
}

.table_list_left_block .spells_list tr .spell_name {
  font-size: 15px;
  line-height: 26px;
}

.table_list_left_block .spells_list tr .spell_name span {
  color: var(--text-g-color);
  margin-left: 8px;
}

.table_list_left_block .spells_list tr .spell_school {
  color: var(--text-g-color);
  text-transform: capitalize;
}

.table_list_left_block.block_information #right_block .header_block .btn_full_screen {
  right: 0;
}

@media (min-width: 1000px) {
  .table_list_left_block.block_information #right_block .header_block .btn_close {
    display: none;
  }
}

tbody div.uncommon {
  border-color: var(--uncommon) !important;
}

tbody div.rare {
  border-color: var(--rare) !important;
}

tbody div.very_rare {
  border-color: var(--very_rare) !important;
}

tbody div.legendary {
  border-color: var(--legendary) !important;
}

tbody div.artifact {
  border-color: var(--artifact) !important;
}


/******** Ширма / screens ********/
.screens {

}

.screens .card_wrapper .icon {
  display: none;
}

#right_block.screens .info_wrapper #content_block h4:first-child {
  margin-top: -24px;
}


/******** Информация о заклинание / spells ********/
.spells {

}

#right_block.spells .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.spells .info_wrapper .sub_menu_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#right_block.spells .info_wrapper .sub_menu_list li {
  position: relative;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block.spells .info_wrapper .sub_menu_list li .classes_icon {
  display:flex;
  flex-direction: row;
}

#right_block.spells .info_wrapper .sub_menu_list li .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hover);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}


/******** Классы / classes ********/
.classes {

}

#right_block.classes .info_wrapper .content_block {
  height: auto;
}

#right_block .info_wrapper li.avatar {
  width: 289px;
  max-height: 400px;
  overflow: hidden;
  padding:0 !important;
  border-bottom: none !important;
  border-image: none !important;
}

#right_block .info_wrapper li.avatar:hover {
  background: none !important;
  cursor: auto !important;
}

#right_block .info_wrapper  li.avatar img {
  position: relative;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%,0%);
}

#right_block.classes .content_block h4.mt {
  margin-top: -24px !important;
}

#right_block.classes .content_block .classes_mobile_selector {
  margin-top: -24px;
  margin-left: -25px;
  z-index: 2;
  position: fixed;
  display: none;
  width: calc(100vw - 42% - 2px);
  height: 46px;
  overflow: hidden;
}

#right_block.classes .content_block .classes_mobile_selector:after {
  content: '\25BC';
  position: absolute;
  top: 0px;
  right: 0;
  padding: 14px 0 0 0;
  background-color: var(--bg-secondary);
  transition: .25s all ease;
  pointer-events: none;
  color: var(--text-color);
  width: 46px;
  height: 31px;
  text-align: center;
  /* border-bottom: 1px solid var(--border); */
}

#right_block.classes .content_block .classes_mobile_selector:hover::after {
  color: var(--text-color-active);
  background-color: var(--primary-hover);
}

#right_block.classes .content_block .classes_mobile_selector select {
  appearance: none;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--border);
  box-shadow: none;
  padding: 0 16px;
  flex: 1;
  color:var(--text-color);
  background-color: var(--bg-main);
  background-image: none;
  cursor: pointer;
}

#right_block.classes .content_block .classes_mobile_selector select:hover {
  color: var(--text-color-active);
}

#right_block.classes .content_block .classes_mobile_selector select::-ms-expand {
  display: none;
}


/******** Состояния / conditions ********/
.conditions {

}

.conditions .content_block ul {
  list-style: disc;
}


/******** Расы / races ********/
.races {

}

#right_block.races .info_wrapper .content_block #content_block {
  width: 100%;
}

#right_block.races .info_wrapper .content_block {
  height: auto;
}

#right_block.races .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.races .info_wrapper .sub_menu_list li.avatar {
  padding: 0 !important;
}

#right_block.races .info_wrapper .sub_menu_list li.avatar img {
  max-width: 290px;
}

#right_block.races h4.header_separator.mt {
  margin-top: -24px !important;
}

.races .content_block .scores {
  display: flex;
  flex-wrap: wrap;
}

.races .content_block .scores .score {
  text-align: center;
  width: auto;
  min-width: 18%;
  max-width: 25%;
  flex: 1 1 auto;
  background-color: var(--hover);
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.races .content_block .scores .score h4 {
  margin: 10px 0 0 2px !important;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-s-color);
}

.races .content_block .scores .score p {
  margin: 0 0 10px 0;
  line-height: 1.2em;
}

@media (max-width: 1500px) {
  .races .content_block .scores .score {
    min-width: 30%;
    max-width: 30%;
  }
}


/******** Бестиарий / bestiary ********/
#right_block.bestiary .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.bestiary .info_wrapper .content_block {
  height:auto;
}

#right_block.bestiary .scores {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#right_block.bestiary .scores>div {
  text-align: center;
  max-width: 15%;
  flex: 1 0 15%;
  background-color: var(--hover);
  border-radius: 4px;
  min-width: 60px;
  max-width: 160px;
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 1500px) {
  #right_block.bestiary .scores>div {
    max-width: 31%;
    flex: 1 0 31%;
  }
}

#right_block.bestiary .scores h4 {
  margin: 10px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-s-color);
}

#right_block.bestiary .scores p {
  margin: 0 0 10px;
  line-height: 1.2em;
}


/******** Фильтры ********/
.search_panes {
  position: absolute;
  color:var(--text-color);
  z-index: 10;
  width: 100%; 
}

.search_panes .dtsp-panesContainer {
  box-shadow: 0px 10px 10px #00000057;
  background: var(--bg-main);
  padding: 0px 24px 24px 24px;
  margin-top: 1px;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow {
  width: auto;
  height: 36px;
  border-bottom: 1px solid var(--border);
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow .dtsp-title {
  display: none;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button {
  color: var(--primary);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button:disabled {
  color:var(--text-color);
  opacity: 0.6;
}

.search_panes .dtsp-panesContainer .dtsp-titleRow button:hover {
  color: var(--primary);
  background: var(--hover);
}

.search_panes .dtsp-panesContainer .dtsp-titleRow .dtsp-clearAll {
  margin-right: auto;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane {
  flex: 0 1 calc(50% - 8px);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dataTables_wrapper {
  border-radius: 0px;
  border:1px solid var(--border);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dataTables_wrapper:hover {
  border-radius: 0px;
  border:1px solid var(--border);
}

.search_panes table {
  border-radius: 0px;
  border:none;
  background: var(--bg-main);
}

.search_panes .dataTable tbody tr {
  background: var(--bg-main) !important;
}

.search_panes .dataTable tbody tr.selected {
  background: var(--primary-active) !important;
}

.search_panes .dataTable tbody tr:hover {
  background: var(--hover) !important;
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow {
  border-radius: 0px;
  border:1px solid var(--border);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow:hover {
  background: var(--hover);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow .dtsp-subRow2 .dtsp-buttonGroup button {
  color: var(--primary);
}

.search_panes .dtsp-panesContainer .dtsp-searchPanes .dtsp-searchPane .dtsp-topRow .dtsp-subRow2 .dtsp-buttonGroup button:disabled {
  color: var(--text-color);
  opacity: 0.6;
}


/******** Кнопки ********/
button {
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 16px 8px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}


/******** Иконки ********/
.icon_menu {
  background-image: var(--icon-menu);
}

.icon_user {
  background-image: var(--icon-user);
}

.icon_character {
  background-image: var(--icon-character);
}

.icon_spells {
  background-image: var(--icon-spells);
}

.icon_inventory {
  background-image: var(--icon-inventory);
}

.icon_treasures {
  background-image: var(--icon-treasures);
}

.icon_bestiary {
  background-image: var(--icon-bestiary);
}

.icon_workshop{
  background-image: var(--icon-workshop);
}

.icon_instruments{
  background-image: var(--icon-instruments);
}

.icon_gods {
  background-image: var(--icon-gods);
}

.icon_information {
  background-image: var(--icon-information);
}

.icon_dark_mod {
  background-image: var(--icon-dark-mod);
}

.icon_all_classes {
  background-image: var(--all-classes);
}

.icon_skills {
  background: var(--icon-skills);
}

.icon_description {
  background: var(--icon-description);
}

.icon_img {
  background: var(--icon-img);
}

.icon_bard {
  background-image: var(--bard);
}

.icon_barbarian {
  background-image: var(--barbarian);
}

.icon_fighter {
  background-image: var(--fighter);
}

.icon_wizard {
  background-image: var(--wizard);
}

.icon_druid {
  background-image: var(--druid);
}

.icon_cleric {
  background-image: var(--cleric);
}

.icon_artificer {
  background-image: var(--artificer);
}

.icon_warlock {
  background-image: var(--warlock);
}

.icon_monk {
  background-image: var(--monk);
}

.icon_paladin {
  background-image: var(--paladin);
}

.icon_rogue {
  background-image: var(--rogue);
}

.icon_ranger {
  background-image: var(--ranger);
}

.icon_sorcerer {
  background-image: var(--sorcerer);
}

.icon_blood_hunter {
  background-image: var(--blood_hunter);
}

.icon_bard_big {
  background-image: var(--bard-big);
}

.icon_barbarian_big {
  background-image: var(--barbarian-big);
}

.icon_fighter_big {
  background-image: var(--fighter-big);
}

.icon_wizard_big {
  background-image: var(--wizard-big);
}

.icon_druid_big {
  background-image: var(--druid-big);
}

.icon_cleric_big {
  background-image: var(--cleric-big);
}

.icon_artificer_big {
  background-image: var(--artificer-big);
}

.icon_warlock_big {
  background-image: var(--warlock-big);
}

.icon_monk_big {
  background-image: var(--monk-big);
}

.icon_paladin_big {
  background-image: var(--paladin-big);
}

.icon_rogue_big {
  background-image: var(--rogue-big);
}

.icon_ranger_big {
  background-image: var(--ranger-big);
}

.icon_sorcerer_big {
  background-image: var(--sorcerer-big);
}

.icon_blood_hunter_big {
  background-image: var(--blood_hunter-big);
}

.icon_elf_big {
  background-image: var(--icon-elf-big);
}

.icon_half-elf_big {
  background-image: var(--icon-half-elf-big);
}

.icon_orc_big {
  background-image: var(--icon-orc-big);
}

.icon_half-orc_big {
  background-image: var(--icon-half-orc-big);
}

.icon_dwarf_big {
  background-image: var(--icon-dwarf-big);
}

.icon_dragonborn_big {
  background-image: var(--icon-dragonborn-big);
}

.icon_gnome_big {
  background-image: var(--icon-gnome-big);
}

.icon_goliath_big {
  background-image: var(--icon-goliath-big);
}

.icon_halfling_big {
  background-image: var(--icon-halfling-big);
}

.icon_human_big {
  background-image: var(--icon-human-big);
}

.icon_kenku_big {
  background-image: var(--icon-kenku-big);
}

.icon_kobold_big {
  background-image: var(--icon-kobold-big);
}

.icon_tabaxi_big {
  background-image: var(--icon-tabaxi-big);
}

.icon_tiefling_big {
  background-image: var(--icon-tiefling-big);
}

.icon_aarakocra_big {
  background-image: var(--icon-aarakocra-big);
}

.icon_aasimar_big {
  background-image: var(--icon-aasimar-big);
}

.icon_vedalken_big {
  background-image: var(--icon-vedalken-big);
}

.icon_goblin_big {
  background-image: var(--icon-goblin-big);
}

.icon_changeling_big {
  background-image: var(--icon-changeling-big);
}

.icon_leonin_big {
  background-image: var(--icon-leonin-big);
}

.icon_loxodon_big {
  background-image: var(--icon-loxodon-big);
}

.icon_gith_big {
  background-image: var(--icon-gith-big);
}

.icon_verdan_big {
  background-image: var(--icon-verdan-big);
}

.icon_bearfolk_big {
  background-image: var(--icon-bearfolk-big);
}

.icon_simic_hybrid_big {
  background-image: var(--icon-simic-hybrid-big);
}

.icon_bestiary_big {
  background-image: var(--icon-bestiary-big);
}

.icon_spells_big {
  background-image: var(--icon-spells-big);
}

.icon_inventory_big {
  background-image: var(--icon-inventory-big);
}

.icon_skills_big {
  background-image: var(--icon-skills-big);
}

.icon_weapons_big {
  background-image: var(--icon-weapons-big);
}

.icon_armors_big {
  background-image: var(--icon-armors-big);
}

.icon_races_big {
  background-image: var(--icon-races-big);
}

.icon_classes_big {
  background-image: var(--icon-classes-big);
}

.races .info_wrapper .content_block .sub_menu_list {
  display: none;
  height: auto !important;
}

/********************** МОБИЛЬНАЯ ВЕРСИЯ **********************/
@media (max-width: 1200px) {
  #right_block .info_wrapper .content_block #content_block {
    width: auto;
  }
  
  #right_block .info_wrapper .simplebar-content {
    flex-direction: column;
  }
  
  #right_block .header_block .btn_full_screen{
    display: none;
  }

  #right_block .info_wrapper .sub_menu_list {
    width: auto;
    flex:1 1 auto;
  }

  #right_block.classes .info_wrapper .sub_menu_list {
    display: none;
  }

  #right_block.classes .content_block .classes_mobile_selector {
    display: flex;
  }

  #right_block.classes .content_block h4.mt {
    margin-top: 22px !important;
  }

  #right_block .header_block .header_sub_menu button {
    flex: 1 0;
    justify-content: center;
    padding: 0px;
  }
  
  .scores {
    justify-content: space-between;
  }


  /******** Бестиарий / bestiary ********/
  #right_block.bestiary .info_wrapper {
    height: calc(100vh - 145px);
  }

  #right_block.bestiary .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }

  #right_block.bestiary .info_wrapper li.avatar {
    width: 100%;
    max-height: 600px;
  }


  /******** Информация о заклинание / spells ********/
  #right_block.spells .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }


  /******** Расы / races ********/
  .races .content_block .scores .score {
    min-width: 45%;
    max-width: 48%;
  }

  .races .info_wrapper > .sub_menu_list {
    display: none;
  }

  .races .info_wrapper .content_block .sub_menu_list {
    display: block;
  }

  #right_block.races .info_wrapper .content_block #content_block {
    width: auto;
  }
}


@media (max-width: 1000px) {
  #left_block .container_left {
    height: calc(100vh - 145px);
  }

  #right_block .info_wrapper {
    height: calc(100vh - 145px);
  }


  /******** Информация о заклинание / spells ********/
  #right_block.spells .info_wrapper {
    height: calc(100vh - 145px);
  }


  /******** Классы / classes ********/
  #right_block.classes .info_wrapper .content_block {
    height: calc(100vh - 192px);
  }

  /******** Расы / races ********/
  #right_block.races .info_wrapper .content_block {
    height: calc(100vh - 192px);
  }

  #right_block.races .info_wrapper .content_block .sub_menu_list li.avatar img {
    max-width:100%;
  }

  #right_block.races .info_wrapper .content_block li.avatar {
    width: 100%;
  }

  #right_block.classes .content_block .classes_mobile_selector {
    width: calc(100vw - 0% - 2px);
  }
}

@media (max-height: 800px) {
  .navbar .nav_links li {
    margin-bottom: 8px !important;
  }
}
