/******** Основной стиль ********/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--bg-main);
  font-size: 13px;
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden !important;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: 270px;
  padding-left: 24px;
  padding-right: 24px;
}

.compact_menu .container {
  margin-left: 72px;
}

.row {
  margin-left: -24px;
  margin-right: -24px;
}

.mt-0 {
  margin-top: 0px;
}

.hide_block {
  display: none !important;
}

.icon_action {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.folded {
  background-image: var(--folded);
}

.icon_full_screen {
  background-image: var(--icon_full_screen);
}

.icon_close {
  background-image: var(--icon_close);
}

.icon_filters {
  background-image: var(--icon_filters);
}

.tpd-tooltip  .tooltip_scroll{
	overflow-y: auto;
	min-height: 50px;
	max-height: 350px;
	width: 450px;
}

.simplebar-scrollbar:before {
  border-radius: 0 !important;
  background-color: var(--primary) !important;
}


/******** Карточки ********/
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -8px;
}

.card_wrapper .card {
  background: var(--bg-secondary);
  border-radius: 16px;
  display: flex;
  flex: 1 0 calc(25% - 58px);
  max-width: calc(25% - 58px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  flex-direction: row;
  padding: 16px 24px 16px 16px;
  transition: background 0.3s ease;
  border:1px solid var(--bg-secondary);
}

@media (max-width: 2000px) {
  .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }
}

@media (max-width: 1500px) {
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 58px);
    max-width: calc(100% - 58px);
  }
}

@media (max-width: 1250px) {
  .card_wrapper .card {
    flex: 1 0 calc(33% - 58px);
    max-width: calc(33% - 58px);
  }
}

@media (max-width: 1000px) {
  .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }

  .block_information .card_wrapper .card {
    flex: 1 0 calc(50% - 58px);
    max-width: calc(50% - 58px);
  }
}

@media (max-width: 700px) {
  .card_wrapper .card,
  .block_information .card_wrapper .card {
    flex: 1 0 calc(100% - 58px);
    max-width: calc(100% - 58px);
  }
}

.card_wrapper .card:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.card_wrapper .card.active {
  border:1px solid var(--primary);
}

.card_wrapper .card .infimation .header_name {
  margin: 0;
}

.card_wrapper .card .infimation {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.card_wrapper .card .infimation p.additionally {
  margin-top: auto;
  margin-bottom: 0px;
}


/******** Классы ********/
.card_wrapper .card .icon {
  display: block;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}


/******** Общее по блокам ********/
.header_block {
  display: flex;
  align-items: center;
  height: 72px;
  padding-left: 24px;
  position: sticky;
  background-color: var(--bg-main);
  background-image: var(--bg-title-img);
  background-position:top left;
  background-repeat:no-repeat;
  border-right: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

.header_block .filter_block {
  height: 46px;
  width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;

  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#left_block .header_block.filters {
  height: 118px;
}

.header_block.filters h3 {
  line-height: 72px;
  top: -24px;
  position: relative;
}


/******** Левый блок ********/
#left_block {
  /* transition: margin-right 0.3s; */
  overflow-x: hidden;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
}

.block_information #left_block {
  /* transition: margin-right 0.6s; */
  margin-right: calc(58vw + 0px);
}

#left_block .filters + .container_left {
  height: calc(100vh - 119px);
}

#left_block .container_left {
  height: calc(100vh - 73px);
  border-top: 1px solid var(--border);

  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0px 0px 0px 0px;
}

#left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 24px;
}

#left_block .header_block .search_int {
  height: 43px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: calc(100% - 102px);
  background-image: var(--icon_search);
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding-left: 52px;
  position: absolute;
  right: 0px;
  left: -1px;
  bottom: 0;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  font-size: 15px;
}

#left_block .header_block .search_int:hover  {
  background-color: var(--hover);
}

#left_block .header_block .search_int:focus-visible  {
  outline: none;
  background-color: var(--hover);
}

#left_block .header_block .btn_filters {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  top: 1px;
  width: 46px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#left_block .header_block .btn_filters:hover {
  background-color: var(--hover);
}


@media (max-width: 1000px) {
  .block_information #left_block {
    /* transition: margin-right 0.3s; */
    margin-right: calc(0vw + 0px);
  }
}


/******** Правй блок ********/
#right_block {
  width: calc(58vw - 0px);
  top: 0;
  right: calc(-58vw - 1px);
  /* transition: width 0.6s; */
  position: fixed;
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  overflow: hidden;
  
  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block .header_block {
  background-image: var(--bg-title-img-2);
}

.block_information #right_block {
  right: 0px;
  /* transition: right 0.3s; */
}

#right_block .header_block.sub_menu_block {
  height: 118px;
}

#right_block .header_block.sub_menu_block .header_sub_menu {
  height: 46px;
  width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  /* background-image: var(--bg-img-row); */

  border-top:1px solid var(--border);
  border-image-source: var(--border-top);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;
  border-image-width: auto;
  border-image-outset: 0;
  display: flex;
}

#right_block .header_block.sub_menu_block h3 {
  line-height: 72px;
  top: -24px;
  position: relative;
}

#right_block .header_block .header_sub_menu button {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  height: 46px;
  color: var(--text-color);
  border-right: 1px solid var(--border);
  border-top: 2px solid var(--bg-transparent);
}

#right_block .header_block .header_sub_menu button.active {
  background: var(--bg-img-row-active);
  border-top: 2px solid var(--primary-hover);
}

#right_block .header_block .header_sub_menu button .icon_action {
  margin-right: 16px;
}

#right_block .header_block .btn_full_screen,
#right_block .header_block .btn_close {
  background-color: var(--bg-secondary);
  border-left: 1px solid var(--border);
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0px;
}

#right_block .header_block .btn_full_screen {
  right: 73px;
  top: 0px;
}

#right_block .header_block .btn_full_screen:hover,
#right_block .header_block .btn_close:hover {
  background-color: var(--hover);
  cursor: pointer;
}

#right_block .info_wrapper {
  height: calc(100vh - 73px);
}

#right_block .sub_menu_block + .info_wrapper {
  height: calc(100vh - 119px);
  border-top: 1px solid var(--border);

  border-image-source: var(--border-img);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 1px 25px 0px 1px;
}

#right_block .info_wrapper,
#right_block .info_wrapper .simplebar-content {
  position: relative;
  display: flex;
}

#right_block .info_wrapper .content_block {
  border-left: 1px solid var(--border);
  flex: 1 1 calc(100% - 290px);
  height: calc(100vh - 121px);
  padding: 24px;
  border-image-source: var(--border-left);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0px 25px 0px 0px;
}

#right_block .info_wrapper .sub_menu_list {
  position: relative;
  flex: 1 1 290px;
}

#right_block .info_wrapper .sub_menu_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#right_block .info_wrapper .sub_menu_list li {
  position: relative;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block .info_wrapper .sub_menu_list li .classes_icon {
  display:flex;
  flex-direction: row;
}

#right_block .info_wrapper .sub_menu_list li .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hover);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

#right_block .info_wrapper .sub_menu_list.archetype {
  height: calc(100vh - 119px);
}

#right_block .info_wrapper .sub_menu_list.sub_spells_inf {
  height: calc(100vh - 73px);
}



/******** Архитипы / archetype ********/
#right_block .info_wrapper .sub_menu_list.archetype ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--border);
}

#right_block .info_wrapper .sub_menu_list.archetype li {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.archetype li:hover {
  background-color: var(--hover);
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.archetype li.active {
  border-left: 3px solid var(--primary);
  background-color: var(--hover);
  transition: background-color 0.3s;
}

#right_block .info_wrapper .sub_menu_list.archetype li span.name {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  display: block;
}

#right_block .info_wrapper .sub_menu_list.archetype li .sub_info {
  display: block;
}

#right_block .info_wrapper .sub_menu_list.archetype li span {
  color: var(--text-g-color);
}

#right_block .info_wrapper .sub_menu_list.archetype li.active .btn_close {
  opacity: 1;
  transition: all 0.3s;
}

#right_block .info_wrapper .sub_menu_list.archetype li .btn_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 8px;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s;
}

#right_block .info_wrapper .sub_menu_list.archetype li .btn_close:hover {
  background-color: var(--hover);
}

#right_block .info_wrapper .sub_menu_list.archetype li.title_sub_menu {
  cursor: auto;
  border-bottom: none;
  background-color: var(--bg-sub-menu);
}

#right_block .info_wrapper .sub_menu_list.archetype li.title_sub_menu h5{
  margin: 0;
}

#right_block .info_wrapper .sub_menu_list.archetype li.title_sub_menu:hover {
  background-color: var(--bg-sub-menu);
}


/******** Список из таблицы********/
.table_list_left_block #left_block > .container_left > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper {
  padding: 0px;
}

.table_list_left_block .table_list {
  border: none;
  width: 100% !important;
}

.table_list_left_block .table_list tr {
  background: none;
}

.table_list_left_block .table_list tr:hover {
  background: var(--hover);
  cursor: pointer;
}

.table_list_left_block .table_list tr:hover td {
  border-left:3px solid var(--hover);
}

.table_list_left_block .table_list tr.selected {
  background: var(--bg-main);

  background-image: var(--bg-img-row-active);
  background-position: top left;
  background-repeat: repeat;
}

.table_list_left_block .table_list tr td {
  border-left:3px solid var(--bg-main);
}

.table_list_left_block .table_list tr.selected td {
  border-left:3px solid var(--primary);
}

.table_list_left_block .table_list tr:hover.selected {
  background: var(--border);

  background-image: var(--bg-title-img-2);
  background-position: top left;
  background-repeat: no-repeat;
}


/******** Список из таблицы / заклинания********/
.table_list_left_block .spells_list tr .spell_lvl {
  float: left;
  width: 42px;
  height: 42px;
  display: block;
  font-size: 17px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin-right: 16px;
  border: 1px solid var(--border);
}

.table_list_left_block .table_list tr.selected .spell_lvl {
  border:1px solid var(--primary);
}

.table_list_left_block .spells_list tr .spell_name {
  font-size: 15px;
  line-height: 26px;
}

.table_list_left_block .spells_list tr .spell_name span {
  color: var(--text-g-color);
  margin-left: 8px;
}

.table_list_left_block .spells_list tr .spell_school {
  color: var(--text-g-color);
  text-transform: capitalize;
}

.table_list_left_block.block_information #right_block .header_block .btn_full_screen {
  right: 0;
}

@media (min-width: 1000px) {
  .table_list_left_block.block_information #right_block .header_block .btn_close {
    display: none;
  }
}

/******** Информация о заклинание / spells ********/
.spells {

}

#right_block.spells .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.spells .info_wrapper .sub_menu_list ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#right_block.spells .info_wrapper .sub_menu_list li {
  position: relative;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border);

  border-image-source: var(--border-bottom);
  border-image-slice: 1 1 1 fill;
  border-image-repeat: repeat repeat;    
  border-image-width: auto;
  border-image-outset: 0;
}

#right_block.spells .info_wrapper .sub_menu_list li .classes_icon {
  display:flex;
  flex-direction: row;
}

#right_block.spells .info_wrapper .sub_menu_list li .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hover);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}


/******** Классы / classes ********/
.classes {

}

#right_block.classes .info_wrapper .content_block {
  height:auto;
}

#right_block .info_wrapper li.avatar {
  width: 289px;
  max-height: 400px;
  overflow: hidden;
  padding:0 !important;
  border-bottom: none !important;
  border-image: none !important;
}

#right_block .info_wrapper li.avatar:hover {
  background: none !important;
  cursor: auto !important;
}

#right_block .info_wrapper  li.avatar img {
  position: relative;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%,0%);
}

#right_block.classes .info_wrapper #content_block h4:first-child {
  margin-top: -24px;
}


/******** Расы / races ********/
.races {

}

#right_block.races .info_wrapper .content_block {
  height:auto;
}

#right_block.races .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.races .info_wrapper .sub_menu_list li.avatar {
  padding: 0 !important;
}

#right_block.races .info_wrapper .sub_menu_list li.avatar img {
  max-width: 290px;
}

#right_block.races .info_wrapper #content_block h4:first-child {
  margin-top: -24px;
}


/******** Бестиарий / bestiary ********/
#right_block.bestiary .info_wrapper .simplebar-content {
  display: flex;
}

#right_block.bestiary .info_wrapper .content_block {
  height:auto;
}

#right_block.bestiary .scores {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#right_block.bestiary .scores>div {
  text-align: center;
  width: 15%;
  background-color: var(--hover);
  border-radius: 4px;
  min-width: 60px;
  max-width: 160px;
  flex: 1 0 15%;
  margin-right: 8px;
  margin-bottom: 8px;
}

#right_block.bestiary .scores h4 {
  margin: 10px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-s-color);
}

#right_block.bestiary .scores p {
  margin: 0 0 10px;
  line-height: 1.2em;
}


/******** Кнопки ********/
button {
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 16px 8px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}


/******** Иконки ********/
.icon_menu {
  background-image: var(--icon-menu);
}

.icon_user {
  background-image: var(--icon-user);
}

.icon_character {
  background-image: var(--icon-character);
}

.icon_spells {
  background-image: var(--icon-spells);
}

.icon_inventory {
  background-image: var(--icon-inventory);
}

.icon_treasures {
  background-image: var(--icon-treasures);
}

.icon_bestiary {
  background-image: var(--icon-bestiary);
}

.icon_workshop{
  background-image: var(--icon-workshop);
}

.icon_instruments{
  background-image: var(--icon-instruments);
}

.icon_gods {
  background-image: var(--icon-gods);
}

.icon_information {
  background-image: var(--icon-information);
}

.icon_dark_mod {
  background-image: var(--icon-dark-mod);
}

.icon_all_classes {
  background-image: var(--all-classes);
}

.icon_skills {
  background: var(--icon-skills);
}

.icon_description {
  background: var(--icon-description);
}

.icon_bard {
  background-image: var(--bard);
}

.icon_barbarian {
  background-image: var(--barbarian);
}

.icon_fighter {
  background-image: var(--fighter);
}

.icon_wizard {
  background-image: var(--wizard);
}

.icon_druid {
  background-image: var(--druid);
}

.icon_cleric {
  background-image: var(--cleric);
}

.icon_artificer {
  background-image: var(--artificer);
}

.icon_warlock {
  background-image: var(--warlock);
}

.icon_monk {
  background-image: var(--monk);
}

.icon_paladin {
  background-image: var(--paladin);
}

.icon_rogue {
  background-image: var(--rogue);
}

.icon_ranger {
  background-image: var(--ranger);
}

.icon_sorcerer {
  background-image: var(--sorcerer);
}

.icon_blood_hunter {
  background-image: var(--blood_hunter);
}

.icon_bard_big {
  background-image: var(--bard-big);
}

.icon_barbarian_big {
  background-image: var(--barbarian-big);
}

.icon_fighter_big {
  background-image: var(--fighter-big);
}

.icon_wizard_big {
  background-image: var(--wizard-big);
}

.icon_druid_big {
  background-image: var(--druid-big);
}

.icon_cleric_big {
  background-image: var(--cleric-big);
}

.icon_artificer_big {
  background-image: var(--artificer-big);
}

.icon_warlock_big {
  background-image: var(--warlock-big);
}

.icon_monk_big {
  background-image: var(--monk-big);
}

.icon_paladin_big {
  background-image: var(--paladin-big);
}

.icon_rogue_big {
  background-image: var(--rogue-big);
}

.icon_ranger_big {
  background-image: var(--ranger-big);
}

.icon_sorcerer_big {
  background-image: var(--sorcerer-big);
}

.icon_blood_hunter_big {
  background-image: var(--blood_hunter-big);
}

.search_panes{
	
}


/********************** МОБИЛЬНАЯ ВЕРСИЯ **********************/
@media (max-width: 1200px) {  
  #right_block .info_wrapper,
  #right_block .info_wrapper .simplebar-content {
    flex-direction: column;
  }
  
  #right_block .header_block .btn_full_screen{
    display: none;
  }

  #right_block .info_wrapper .sub_menu_list {
    flex:1 1 auto;
  }

  #right_block .info_wrapper .sub_menu_list.archetype {
    display: none;
  }

  #right_block .header_block .header_sub_menu button {
    flex: 1 0;
    justify-content: center;
    padding: 0px;
  }
  
  .scores {
    justify-content: space-between;
  }


  /******** Бестиарий / bestiary ********/
  #right_block.bestiary .info_wrapper {
    height: calc(100vh - 145px);
  }

  #right_block.bestiary .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }

  #right_block.bestiary .info_wrapper li.avatar {
    width: 100%;
    max-height: 600px;
  }


  /******** Информация о заклинание / spells ********/
  #right_block.spells .info_wrapper .simplebar-content {
    display: flex;
    flex-direction: column;
  }
  
}

@media (max-width: 1000px) {
  #left_block .container_left {
    height: calc(100vh - 145px);
  }

  #right_block .info_wrapper {
    height: calc(100vh - 145px);
  }


  /******** Информация о заклинание / spells ********/
  #right_block.spells .info_wrapper {
    height: calc(100vh - 145px);
  }
}
