h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  color: var(--text-color);
}

h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 8px 0 8px 0;
  color: var(--text-color);
  position: relative;
  font-family: 'Lora';
}

h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px 0 8px 0;
  color: var(--text-color);
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--link-color-hover);
}

ul {
  color: var(--text-color);
  line-height: 16px;
  padding-left: 24px;
}

ul li {
  line-height: 20px;
}

strong,
b {
  font-weight: 600;
  color: var(--text-b-color);
}

.btn_text {
  font-weight: 500;
  color: var(--text-color);
}

.small_btn {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-color);
}

.caption_text {
  font-size: 11px;
  color: var(--text-g-color);
  line-height: 12px;
  font-weight: 300;
  margin: 0 0 12px 0;
}

h4 + .caption_text {
  margin-top: -6px;
}

.uppercase_text {
  text-transform: uppercase;
}

.capitalize_text {
  text-transform: capitalize;
}

blockquote {
  font-family: 'Neucha', cursive;
  padding: 16px 16px 16px 16px;
  background-color: var(--bg-blockquote);
  border:1px solid var(--border);
  border-radius: 16px;
  
  border-image-source: var(--border-blockquote);
  border-image-slice: 200 90 190 fill;
  border-image-repeat: repeat repeat;
  border-image-width: auto;
  border-image-outset: 10px 10px 10px 10px;
  margin-bottom: 32px;
  margin-top: 32px;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

blockquote p {
  letter-spacing:1.5px;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

.header_separator {
  border-bottom: 1px solid var(--primary-hover);
  background-image: var(--bg-img-header-separator);
  background-position: 0px -19px;
  background-repeat: no-repeat;
  line-height: 50px;
  padding-left: 24px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 32px;
}

summary.h4 {
  font-size: 24px;
  font-weight: 300;
  color: var(--text-color);
  position: relative;
  font-family: 'Lora';
  cursor: pointer;
  margin-bottom: 8px;
}

summary.h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px 0 8px 0;
  color: var(--text-color);
  cursor: pointer;
}

summary.h4:hover,
summary.h5:hover {
  color: var(--text-color-title);
}

h4.separator_card {
  width: 100%;
  margin-left: 8px;
}

.archetype_feet {
  color:var(--text-a-color) !important;
}

.align_left {
  text-align: left !important;
}


/********* Выделение в тексте *********/
span.dice_text,
span.homebrew_text,
span.advantage,
span.disadvantage,
span.saving_throw {
  padding: 0px 3px;
  border-radius: 4px;
  color: var(--text-btn-color);
}

span.dice_text {
  background-color: var(--bg-dice);
}

span.homebrew_text {
  background-color: var(--bg-homebrew);
  text-transform: none;
}

span.advantage {
  background-color: var(--bg-advantage);
}

span.disadvantage {
  background-color: var(--bg-disadvantage);
}

span.saving_throw {
  background-color: var(--bg-saving_throw);
}


/********* Таблицы *********/
.table-responsive {
  overflow-x: auto;
}

.table-responsive .simplebar-content {
  display: block !important;
}

table {
  color: var(--text-color);
  border-spacing: inherit;
  border-radius: 0px;
  border: 1px solid var(--border-table);
  width: 100% !important;
  overflow: scroll;
  margin-bottom: 16px;
}

table thead {
  background-color: var(--bg-sub-menu);
  font-size: 11px;
}

table thead th {
  padding: 4px 4px;
}

table td {
  border-right: 1px solid var(--border-table);
  border-bottom: 1px solid var(--border-table);
  height: 30px;
  padding: 4px 4px;
}

table td:last-child {
  border-right: 0px solid var(--border-table);
}

table.dnd5_table {
  height: 100%;
  margin-bottom: 0px;
}

.table-responsive.class {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
}

@media (max-width: 1200px) {
  .table-responsive.class {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 30px;
  }

  .full_screen_right_block .table-responsive.class {
    margin-top: -16px;
  }
}

.class table.dnd5_table {
  border: none;
}

.class table.dnd5_table td {
  padding: 2px 4px;
  height: auto;
}

.class table.dnd5_table th.bb {
  border-bottom: 1px solid;
}

table tbody tr:hover {
  background-color: var(--hover);
}

table.dataTable tr.dtrg-group td {
  background-color:var(--hover) !important;
  cursor:auto;
  border-left: 3px solid var(--hover);
}


/********************** МОБИЛЬНАЯ ВЕРСИЯ **********************/
@media (max-width: 1200px) {
  .header_separator {
    padding-left: 16px;
    margin-left: -16px;
    margin-right: -16px;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    color: var(--text-color);
  }
  
  h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    color: var(--text-color);
  }
  
  h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    color: var(--text-color);
  }
  
  h4 {
    font-size: 22px;
    font-weight: 300;
    margin: 8px 0 8px 0;
    color: var(--text-color);
    position: relative;
  }

  blockquote {
    margin-left: 12px;
    margin-right: 12px;
  }
}