<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body>
	<ul th:fragment="title_sub_menu">
		<li class="title_sub_menu">
			<h5 th:text = "${archetypeName}" id="title_sub_menu">префикс подклассов</h5>
		</li>
		<li class="sub_menu" th:id = "${archetype.englishName.replace(' ', '_')}" th:each="archetype : ${archetypes}"><span th:text ="${archetype.capitalizeName}" class="name">Имя</span> <span th:text="|${archetype.book.source} / ${archetype.englishName}|">PBH / Bard Valor</span>
			<button class="btn_close icon_action icon_close"></button></li>
	</ul>
	
</body>
</html>