<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper" th:object="${article}">
					<div class="left">
					</div>
					<div class="news_page">
						<div class="header">
							<h1 class="title" th:text="*{title}">Заголовок</h1>
							<h3 class="subtitle" th:text="*{description}">Описание</h3>
							<time datetime="2022-03-05" th:text="*{publishedDate}">05 марта 2022</time>
						</div>
						<th:block th:utext="*{text}"></th:block>
						<div class="bottom">
							<ul class="meta">
								<li th:text="|Автор: *{author}|"></li>
								<li th:text="|Перевод:  *{translation}|"></li>
								<li th:text="|Автор оригинала: *{originalAuthor}|"></li>
								<li>Источник : <a th:href="*{originalUrl}" th:text="*{originalName}"></a></li>
							</ul>
							<div class="similar_articles">
								<a href="#">
									<h4>Запишите десять вещей</h4>
									<p>Подготовка к игре</p>
								</a>
								<a href="#">
									<h4>Классная игра</h4>
									<p>Деритесь динамичным друидом</p>
								</a>
								<a href="#">
									<h4>Разговор по душам</h4>
									<p>Общаемся с NPC как с живыми существами. Часть 2</p>
								</a>
								<a href="#">
									<h4>Клыки и канализация</h4>
									<p>Готовое столкновение (уровни 1-4)</p>
								</a>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="contents" data-simplebar>
							<ul class="list">
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>