<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="page_main" data-simplebar>
				<div class="news_wrapper" th:object="${article}">
					<div class="left">
					</div>
					<div class="news_page">
						<div class="header">
							<h1 class="title" th:text="*{title}">Заголовок</h1>
							<h3 class="subtitle" th:text="*{description}">Описание</h3>
							<time datetime="2022-03-05" th:text="*{publishedDate}">05 марта 2022</time>
						</div>
						<th:block th:utext="*{text}"></th:block>
						<div class="bottom">
							<div class="info">
								<div class="block_1">
									<ul class="meta">
										<li th:text="|Автор: *{author}|"></li>
										<li th:text="|Перевод:  *{translation}|"></li>
										<li th:text="|Автор оригинала: *{originalAuthor}|"></li>
										<li>Источник : <a th:href="*{originalUrl}" th:text="*{originalName}"></a></li>
									</ul>
								</div>
								<div class="block_2">
									<h5>Советуем подписаться, чтобы не пропустить!</h5>
									<a href="#">
										<i class="icon_action">
											<svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z" fill="#4b729f"/></svg>
										</i>
									</a>
									<a href="#">
										<i class="icon_action">
											<svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z" fill="#4b729f"/></svg>
										</i>
									</a>
									<a href="#">
										<i class="icon_action">
											<svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z" fill="#4b729f"/></svg>
										</i>
									</a>
								</div>
							</div>
							<div class="similar_articles">
								<a href="#">
									<h4>Запишите десять вещей</h4>
									<p>Подготовка к игре</p>
								</a>
								<a href="#">
									<h4>Классная игра</h4>
									<p>Деритесь динамичным друидом</p>
								</a>
								<a href="#">
									<h4>Разговор по душам</h4>
									<p>Общаемся с NPC как с живыми существами. Часть 2</p>
								</a>
								<a href="#">
									<h4>Клыки и канализация</h4>
									<p>Готовое столкновение (уровни 1-4)</p>
								</a>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="contents" data-simplebar>
							<ul class="list">
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>