<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article page_main" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page_list">
						<a th:href="@{|/articles/${article.id}|}" class="short_news" th:each="article : ${articles}">
							<div class="header">
								<h3 class="title" th:text="${article.title}">Заголовое</h3>
								<h5 class="subtitle" th:text="${article.description}">Краткое содержание</h5>
							</div>
							<p class="description" th:utext="${article.shortText}"></p>
							<div class="bottom">
								<p>
									<time th:datetime="${article.published}" th:text="${article.publishedDate}">05 марта 2022</time>
								</p>
							</div>
						</a>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>