<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page_list">
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
						<div class="short_news">
							<div class="header">
								<h3 class="title">Раздели партию</h3>
								<h5 class="subtitle">3 причины, почему мы не разделяемся, и как это игнорировать</h5>
							</div>
							<div class="description">
								<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
							</div>
							<div class="bottom">
								<time datetime="2022-03-05">05 марта 2022</time>
								<button class="btn">Подробнее</button>
							</div>
						</div>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>