<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="table_list_left_block block_information" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<h3>Предыстории</h3>
				<input type="text" id="search" class="search_int">
				<div id="btn_filters" class="btn_filters">
					<div class="icon_action icon_filters"></div>
				</div>
			</div>
			<div id= "scroll_load_simplebar" class="container_left table_list">
				<table id="backgrounds" class="table_list spells_list" th:fragment="backgroundsTable">
					<thead style="display: none">
						<tr>
							<th>Название</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="right_block">
			<div class="header_block">
				<h3 id="background_name">Название опции</h3>
				<div id="btn_full_screen" class="btn_full_screen">
					<div class="icon_action icon_full_screen"></div>
				</div>
				<div id="btn_close" class="btn_close">
					<div class="icon_action icon_close"></div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div id="sub_menu" class="sub_menu_list sub_spells_info">
					<ul>
						<li>
							<h5>Владение навыками:</h5> <span id="traits" style="text-transform: capitalize;">-</span>
						</li>
						<li>
							<h5>Владение инструментами:</h5> <span id="traits_tools">-</span>
						</li>
						
						<li>
							<h5>Языки:</h5> <span id="languages">-</span>
						</li>
						<li>
							<h5>Снаряжение:</h5> <span id="equipments">-</span>
						</li>
						<li>
							<h5>Начальный капиталл:</h5> <span id="start_money">-</span>
						</li>
						<li>
							<h5>Источник:</h5> <span id="source">-</span>
						</li>
					</ul>
				</div>
				<div class="content_block"></div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/datatables/backgrounds.js}" layout:fragment="js-script"></script>
</html>