<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body id="body">
	<div id="list_page_two_block" class="table_list_left_block block_information" layout:fragment="content">
		<div id="left_block">
			<div class="header_block filters">
				<h3>Бестиарий</h3>
				<div class="filter_block">
					<input type="text" id="search" class="search_int" placeholder="Поиск">
					<div id="text_clear" class="btn_text_clear tip" title="Очистить">
						<div class="icon_action icon_close"></div>
					</div>
					<div id="btn_filters" class="btn_filters tip" title="Фильтры">
						<div class="icon_action icon_filters"></div>
					</div>
				</div>
			</div>
			<div id = "searchPanes" class="search_panes"></div>
			<div id= "scroll_load_simplebar" class="container_left table_list">
				<table id="creatures" class="table_list spells_list" th:fragment="bestiaryTable">
					<thead style="display: none">
						<tr>
							<th>Уровень опасности</th>
							<th>Название</th>
							<th>Английское Название</th>
							<th>Опасность</th>
							<th>Тип</th>
							<th>Размер</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="right_block" class="bestiary sub_menu_block">
			<div class="header_block">
				<div class="header_row">
					<h3 id="creature_name">Название существа</h3>
					<div id="btn_exet_full_screen" class="btn_exet_full_screen tip" title="Свернуть в окно">
						<div class="icon_action icon_exet_full_screen"></div>
					</div>
					<div id="btn_full_screen" class="btn_full_screen tip" title="На всю страницу">
						<div class="icon_action icon_full_screen"></div>
					</div>
					<div id="btn_close" class="btn_close tip" title="Закрыть">
						<div class="icon_action icon_close"></div>
					</div>
				</div>
				<div class="header_sub_menu">
					<button id="statblock" class="btn_class active">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17 22V20.6667C17 19.9594 16.7366 19.2811 16.2678 18.781C15.7989 18.281 15.163 18 14.5 18H9.5C8.83696 18 8.20107 18.281 7.73223 18.781C7.26339 19.2811 7 19.9594 7 20.6667V22M5.5 7.5L10 4.5M18.5 7.5L14 4.5M8 15L5 11M16 15L19 11M15 13C15 14.6569 13.6569 16 12 16C10.3431 16 9 14.6569 9 13C9 11.3431 10.3431 10 12 10C13.6569 10 15 11.3431 15 13ZM14 4C14 5.10457 13.1046 6 12 6C10.8954 6 10 5.10457 10 4C10 2.89543 10.8954 2 12 2C13.1046 2 14 2.89543 14 4ZM6 9C6 10.1046 5.10457 11 4 11C2.89543 11 2 10.1046 2 9C2 7.89543 2.89543 7 4 7C5.10457 7 6 7.89543 6 9ZM22 9C22 10.1046 21.1046 11 20 11C18.8954 11 18 10.1046 18 9C18 7.89543 18.8954 7 20 7C21.1046 7 22 7.89543 22 9Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>								
						</i>
						<span>Статблок</span>
					</button>
					<button id="description" class="btn_class">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 6L20 6M12 12L20 12M5 18L20 18M3 9L6 6L9 9L6 12L3 9Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>								
						</i>
						<span>Описание</span>
					</button>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div id="sub_menu" class="sub_menu_list">
					<ul>
						<li class="avatar">
							<img id="creatute_img" th:src="@{/resources/assets/style/dark/no_img_best.png}" alt="Title best">
						</li>
						<li>
							<h5>Уровень опасности:</h5> <span id="cr" style="text-transform: capitalize;">-</span>
						</li>
						<li>
							<h5>Тип:</h5> <span id="type">-</span>
						</li>
						<li>
							<h5>Размер:</h5> <span id="size">-</span>
						</li>
						<li>
							<h5>Источник:</h5> <span id="source">-</span>
						</li>
					</ul>
				</div>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
    		var selectedCreature = [[${selectedCreature}]];
		</script>
	</div>
</body>
<script th:src="@{/resources/js/datatables/bestiary.js}" layout:fragment="js-script"></script>
</html>