<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
<script th:src="@{/resources/js/datatables/rowGroup/dataTables.rowGroup.js}"></script>
</head>
<body id="body">
	<div id="list_page_two_block" class="table_list_block block_information" layout:fragment="content">
		<div id="left_block">
			<div class="header_block filters">
				<div class="header_row">
					<h1>Источники</h1>
				</div>
				<div class="search_block">
					<input type="text" id="search" class="search_int" placeholder="Поиск" autocomplete="off">
					<div class="btn_search_icon" title="Поиск">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
					</div>
					<div id="text_clear" class="btn_text_clear tip" title="Очистить">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>	
						</i>
					</div>
				</div>
			</div>
			<div id="searchPanes" class="search_panes"></div>
			<div id="scroll_load_simplebar" class="container_left table_list">
				<table id="books" class="table_list" th:fragment="table">
					<thead style="display: none">
						<tr>
							<th>Название</th>
						</tr>
						<tr>
							<th>Английское Название</th>
						</tr>
						<tr>
							<th>Категория</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="right_block">
			<div class="header_block">
				<div class="header_row">
					<h1 id="book_name">Название источника</h1>
					<div id="btn_exet_full_screen" class="btn_exet_full_screen tip" title="Свернуть в окно">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 14H6C7.10457 14 8 14.8954 8 16L8 19M8 5V8C8 9.10457 7.10457 10 6 10H3M21 10H18C16.8954 10 16 9.10457 16 8V5M16 19V16C16 14.8954 16.8954 14 18 14L21 14" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>								
						</i>
					</div>
					<div id="btn_full_screen" class="btn_full_screen tip" title="На всю страницу">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16 7H17C18.1046 7 19 7.89543 19 9V10M19 14V15C19 16.1046 18.1046 17 17 17H16M8 17H7C5.89543 17 5 16.1046 5 15V14M5 10L5 9C5 7.89543 5.89543 7 7 7L8 7" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>							
						</i>
					</div>
					<div id="btn_close" class="btn_close tip" title="Закрыть">
						<i class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>								
						</i>
					</div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div id="sub_menu" class="sub_menu_list">
					<ul>
						<li>
							<h5>Категория:</h5> <span id="type">-</span>
						</li>
						<li>
							<h5>Аббревиатура:</h5> <span id="source">-</span>
						</li>
					</ul>
				</div>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/datatables/books.js?v=1.5}" layout:fragment="js-script"></script>
</html>