<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
<div layout:fragment="content">
    <page-layout>
        <template #title>Инструкция по закладкам</template>

        <template #subtitle>Как создавать группы, категории и пользоваться закладками</template>

        <template #default>
            <blockquote>
                Проще иметь один список, чем десятки вкладок.
            </blockquote>

            <p>
                Для начала нужно знать: закладки, когда вы не вошли в профиль на сайте, сохраняются только у вас в
                браузере. Закладки, которые у вас после авторизации, хранятся у нас на сервере и вы можете получить к
                ним доступ с любого устройства. Если у вас возникнут затруднения с инструкцией, вы всегда можете
                обратиться за помощью на нашем <a href="https://discord.gg/zqBnMJVf3z" target="_blank">Discord</a>сервере
                или в группе <a href="https://vk.com/ttgclub" target="_blank">ВКонтакте</a>.
            </p>

            <h4>Термины</h4>

            <ul>
                <li>Группа - это разделы закладок такие как "Общая", в нее входят категории.</li>
                <li>Категории - это разделы в группах такие как: "Заклинания", "Классы", "Расы" и т.д.</li>
            </ul>

            <h3>Инструкция:</h3>

            <ul>
                <li>Чтобы была возможность управлять группами и категориям закладок, вам нужно зарегистрироваться и
                    авторизоваться на сайте.
                </li>
                <li>После чего вы можете создать нужные группы закладок.</li>
                <li>В момент добавления закладки, вы можете нажать на стрелку рядом с "флажком" и выбрать нужную группу
                    — закладка будет добавлена в нее.
                </li>
                <li>Вы можете перетаскивать закладки между группами и категориями, а также выполнять перетаскивание
                    категории целиком (между группами).
                </li>
                <li>В мобильной версии для перетаскивания и удаления закладок, нужно перейти в режим редактирования.
                </li>
            </ul>

            <p>
                <b>Ниже будет приведен видеоролик подготовки игрока перед игрой, а именно "создание" персонажа.</b>
            </p>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/FsO4EVLzEyI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <br/>

            <p>С уважением, команда <a href="https://ttg.club">TTG Club</a>.</p>
        </template>
    </page-layout>
</div>
</body>
</html>
