<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body>
	<div id="container_card" class="" layout:fragment="content">
		<div id="left_block">
			<div class="header_block">
				<h3>Классы</h3>
			</div>
			<div class="container_left" data-simplebar>
				<div id="card_wrapper" class="card_wrapper">
					<div th:id="${class.englishName}" class="card" th:each="class : ${classes}">
						<div class="infimation">
							<h5 id="header_class_name" th:text="${class.capitalazeName}">Class name</h5>
							<p th:text="${class.englishName}" class="en_title encaption_text">English class name</p>
							<p th:text="|${class.book.source} / к${class.diceHp}|" class="additionally uppercase_text">Source / HIT Dice</p>
						</div>
						<div class="icon" th:classappend="|icon_${class.englishName.toLowerCase().replace(' ', '_')}|"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="right_block">
			<div class="header_block">
				<h3 id="class_name">Название класса</h3>
				<div class="header_sub_menu">
					<button class="active">
						<i class="icon_action icon_skills"></i><span>Навыки</span>
					</button>
					<button>
						<i class="icon_action icon_description"></i><span>Описание</span>
					</button>
					<button>
						<i class="icon_action icon_spells-w"></i><span>Заклинания</span>
					</button>
				</div>
				<div id="btn_full_screen" class="btn_full_screen">
					<div class="icon_action icon_full_screen"></div>
				</div>
				<div id="btn_close" class="btn_close">
					<div class="icon_action icon_close"></div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div id="title_sub_menu" class="sub_menu_list"></div>
				<div class="content_block"></div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/resources/js/classes.js}" layout:fragment="js-script"></script>
</html>