<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="main_page_wrapper">
				<div class="error_wrapper">
					<div>
						<h1>403</h1>
						<h4>
							Вы не прокинули проверку Расследования, у вас нет доступа к этой тайне, стоит вернуться к <a href="/">началу</a>.
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>