<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page">
						<div class="header">
							<h1 class="title">Раздели партию</h1>
							<time datetime="2022-03-05">05 марта 2022</time>
						</div>
						<p>На заре хобби, когда мастера выступали в качестве рефери, а игроки выбирали сложность по уровню подземелья, решение никогда не разделять партию было хорошей стратегией. Группы обеспечивали себе безопасность за счёт количества. В подземелье, изобилующем столкновениями, подходящими для укомплектованной партии, разделение ставило под угрозу всех.</p>
						<div class="data_image_wrapper">
							<img class="" src="https://longstoryshort.app/static/e57f91688e70a4b154553b18ab8c4bbc/dfb75/1.avif" alt="">
						</div>
						<p>Сейчас персонажи игроков занимаются не только штурмом подземелий. Иногда эльфу и волшебнику нужно убедить посла, вору и магу — проникнуть в поместье, а барду и благородному паладину — завоевать расположение гостей на балу. Они могли бы лучше работать по отдельности, но игроки настаивают на том, чтобы члены группы оставались вместе. Итак, дварф оскорбляет посла, громыхание доспехов паладина настораживает стражу поместья, а разношёрстная банда убийц портит бал. Затем наступает полночь, и зло торжествует.</p>
						<p>Даже когда разделение партии кажется логичным, персонажи держатся вместе по трём метагеймовым причинам.</p>
						<h3>Игроки опасаются столкновений, рассчитанных на полную группу</h3>
						<p>Игроки ожидают боевых столкновений, рассчитанных на группу из 4-7 персонажей. Если они разделятся до того, как начнется бой, то неукомплектованная партия окажется в проигрыше.</p>
						<p>Как правило, группы разделяются для решения ролевых, скрытных и исследовательских задач, которые вряд ли приведут к сражению.</p>
						<p>Если половина разделившейся партии вступает в драку, мастер может скорректировать сложность противников, но лучше оставить врагов без изменений. Игроки, которые разделяются, несмотря на сложность ситуации, знают, что идут на дополнительный риск, и испытывают большее чувство опасности, особенно учитывая, что к этой опасности их привели их собственные решения. Они используют скрытность и различные уловки так, как не могли бы при полной группе, когда считают, что смогут победить любых монстров, поставленных перед ними. В некотором смысле, регулировка угроз лишает игроков самостоятельности, сводя на нет последствия их действий.</p>
						<h3>Игроки держатся вместе из вежливости по отношению к мастеру</h3>
						<p>Оставаясь вместе, игроки не заставляют мастера жонглировать двумя отдельными повествованиями. Но разделение внимания между двумя группами может быть полезным, если каждая из малых групп сталкивается со своими собственными проблемами. Хитрость заключается в том, чтобы придумывать ситуации, которые заставляют обе части группы шевелить мозгами.</p>
						<p>Когда подгруппе нужно время, чтобы спланировать или продумать свой следующий ход, переходите от их сцены к сцене с игроками, готовыми к действию. При полной группе планирование означает ожидание решения, во время которого вы, как мастер, начинаете беспокоиться о темпе игры. При разделенной группе игра стремится вперед, и подгруппа, стоящая перед выбором, может планировать, не чувствуя спешки. Сессия проходит бодро, а управление темпом требует меньше усилий!</p>
						<p>Обычно игровое время может течь для подгрупп с разной скоростью, пока игроки в реальном времени чувствуют себя вовлеченными. В редком сценарии требуется точный хронометраж.</p>
						pПроблемные ситуации возникают, когда один член партии отправляется бродить, а остальные ждут. Короткая разведывательная миссия может дать некоторым игрокам перерыв, чтобы перекусить, но когда разведка занимает слишком много времени, беспокойные игроки начинают задаваться вопросом, зачем они пришли. О том, как вести разведку, читайте в статье «<a href="#">4 совета для ситуаций, когда один игрок исследует подземелье</a>».
						<h3>Игроки держатся вместе, чтобы все были вовлечены в действие</h3>
						<p>Разделенная партия неизбежно заставляет некоторых игроков ждать, пока центр внимания вернется к ним. Но в то же время разделение может помочь игрокам почувствовать себя более активными. В меньшей подгруппе каждый получает большую роль. А когда мастер переходит от одной подгруппы к другой, неактивные игроки могут быть заняты планированием своего следующего хода.</p>
						<p>Даже когда вся партия сталкивается с ролевой сценой, обычно только один или два игрока принимают в ней участие. Остальные наблюдают. Иногда игрок с самым харизматичным персонажем и наибольшим бонусом выступает в роли «лица». Часто игрок с наиболее сильной личностью берёт все разговоры на себя.</p>
						<p>Но когда партия разделяется, более тихие игроки тоже оказываются в центре внимания. Персонажи получают уникальный шанс раскрыть свои личности и проявить таланты. Так волшебник наконец-то сможет пустить в ход заклинание «Послание», а плут — прокрасться, не опасаясь шума доспехов какого-нибудь бронированного чурбана.</p>
						<p>Вместо того чтобы избегать заданий, подходящих для разделённой партии, ищите ситуации, в которых такое разделение даст каждому шанс оказаться полезным и поучаствовать в отыгрыше.</p>
						<p>Как правило, разделиться группу заставляет нехватка времени. Если персонажам нужно заручиться поддержкой главы совета торговцев, то один игрок будет делать все броски, связанные с дипломатией. Если же персонажи должны разделиться, чтобы убедить каждого члена купеческого совета перед голосованием, то каждый игрок сможет быть полезным. Разделяя и властвуя, вы помогаете каждому внести свой вклад.</p>
						<p>Если всё сделано правильно, большинство игроков дольше сможет побыть в центре внимания.</p>
						<p>Переходите от одной группы к другой каждые несколько минут. Некоторые мастера даже устанавливают таймер примерно на 4 минуты. Если вы склонны терять счёт времени, то вам поможет обратный отсчёт.</p>
						<p>Лучший момент для переключения подгрупп наступает, когда активная группа стоит перед выбором. Пока игроки обсуждают свой следующий ход, переключитесь на вторую половину стола. Это позволит половине игроков заняться планированием, в то время как остальные действуют. Такие точки принятия решения обычно возникают после того, как группа делает открытие или когда ситуация меняется. Это заставляет игроков гадать, что будет дальше, и это любопытство сильнее вовлекает их в игру, пока они ждут, когда снова окажутся в центре внимания.</p>
						<p>Если вы не можете переключить сцену в момент принятия решения, переключите её в момент напряжения, в идеале — когда образуется клиффхэнгер.</p>
						<p>При разделении могут пригодиться некоторые приёмы, которые помогут занять всех.</p>
						<h4>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</h4>
						<p>Это позволяет занять всех, одновременно используя знакомую механику для переключения между сценами. Этот прием работает настолько хорошо, что я, как мастер, чувствую искушение начать второй бой всякий раз, когда половина разделенной группы попадает в беду. Самое время для броска на случайное столкновение.</p>
						<h4>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</h4>
						<p>Для групп, которые особенно любят ролевые игры и совместное повествование, запишите несколько кратких заметок о НИП на карточке. Когда он войдет в сцену, передайте управление персонажем одному из игроков.</p>
						<p>В зависимости от настроя игроков, вы также можете привлечь незанятых игроков к управлению монстрами в битве. Это особенно хорошо работает в простом сражении, где перевес сил явно на стороне игроков. Если враги обладают сложными способностями или мотивами, или если их сила грозит гибелью персонажей, я бы избегал передавать управление. Когда мастер убивает персонажа, это происходит по долгу службы, но игрок не должен брать на себя ответственность за убийство чужого героя.</p>
						<h4>Разведите игроков по отдельным комнатам</h4>
						<p>Даже когда партия разделяется, игроки, как правило, остаются за одним столом. Это позволяет неактивным игрокам наблюдать за сюжетом и позволяет мастеру легко переключаться с одной подгруппы на другую.</p>
						<p>Сидя за одним столом, зрители узнают то, чего не узнают их персонажи. Большинство игроков считают делом чести не использовать эти знания. В противном случае напомните им, что они должны отыгрывать в соответствии с тем, что знает их персонаж.</p>
						<p><b>Давайте же, разделите партию.</b> Для мастера, управляющего разделенной группой, второй по сложности трюк заключается в том, чтобы найти ситуации, в которых все подгруппы остаются вовлечёнными. Какой трюк самый сложный? Побудить игроков нарушить негласное правило и разделиться, когда в этом есть смысл.</p>

						<div class="bottom">
							<ul>
								<li>Автор: Евгений Вислоухов</li>
								<li>Перевод: Евгений Вислоухов</li>
								<li>Источник: <a href="https://longstoryshort.app/long/split-the-party/">Long Story Short</a></li>
							</ul>
						</div>
					</div>
					<div class="right">
						<div class="contents">
							<ul>
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>