<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page">
						<div class="header">
							<div class="row_input">
								<input type="text" name="article_name" placeholder="Название" >
							</div>
							<div class="row_input">
								<input type="text" name="article_subname" placeholder="Описание" >
							</div>
						</div>
						<div class="row_input">
							<textarea  name="article_description" rows="20" placeholder="Содержание" ></textarea>
						</div>
						
						<div class="bottom">
							<div class="row_input">
								<input type="text" name="article_author" placeholder="Автор" >
								<input type="text" name="article_translation" placeholder="Перевод" >
								<input type="text" name="article_original_author" placeholder="Автор оригинала" >
								<input type="text" name="article_link_original" placeholder="Ссылка на оригинал" >
								<input type="text" name="article_source_name" placeholder="Название оригинального источника" >
							</div>
						</div>
					</div>
					<div class="right">
						<div class="btn_block">
							<button class="btn">Опубликовать</button>
							<button class="btn">На проверку</button>
							<button class="btn secondary">Сохранить в черовики</button>
							<button class="btn secondary">Предспросмотр</button>
							<button class="btn secondary">Удалить</button>
							<button class="btn secondary">Отмена</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>