<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="article" data-simplebar>
				<div class="news_wrapper">
					<div class="left">
					</div>
					<div class="news_page">
						<div class="header">
							<div class="row_input">
								<input type="text" name="article_name" placeholder="Название" >
							</div>
							<div class="row_input">
								<input type="text" name="article_subname" placeholder="Описание" >
							</div>
						</div>
						<div class="row_input">
							<textarea  name="article_description" rows="10" placeholder="Содержание" ></textarea>
						</div>
						
						<div class="bottom">
							<ul>
								<li>Автор: Евгений Вислоухов</li>
								<li>Перевод: Евгений Вислоухов</li>
								<li>Источник: <a href="https://longstoryshort.app/long/split-the-party/">Long Story Short</a></li>
							</ul>
						</div>
					</div>
					<div class="right">
						<div class="contents">
							<ul>
								<li>Игроки опасаются столкновений, рассчитанных на полную группу</li>
								<li>Игроки держатся вместе из вежливости по отношению к мастеру</li>
								<li>Игроки держатся вместе, чтобы все были вовлечены в действие
									<ul>
										<li>Если обе подгруппы вступают в бой, проведите их, используя общую инициативу</li>
										<li>Делегируйте неигровых персонажей и даже монстров незанятым игрокам</li>
										<li>Разведите игроков по отдельным комнатам</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>