<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
<div layout:fragment="content">
    <page-layout>
        <template #title>Импорт существ в FVTT</template>

        <template #subtitle>Инструкция</template>

        <template #default>
            <blockquote>
                Перенос за пару секунд лучше, чем создавать по 10 минут.
            </blockquote>

            <p>
                Тут вы сможете узнать как за пару кликов перенести существо с сайта в FvTT. Если у вас возникнут
                затруднения с инструкцией, вы всегда можете обратиться за помощью на нашем <a
                    href="https://discord.gg/zqBnMJVf3z" target="_blank">Discord</a> сервере или в группе в <a
                    href="https://vk.com/ttg.club" target="_blank">ВКонтакте</a>.
            </p>

            <br/>

            <div class="img-title">
                <h5>1. Выбираем существо которого вы хотите перенести в FvTT. Например, мы выбрали "Разбойника"</h5>

                <img
                        class="responsive"
                        src="/img/info/screenshot_1.jpg"
                >
            </div>

            <br/>

            <div class="img-title">
                <h5>2. Нажимаем на кнопку "Импорт в FvTT". Сохраняем json файл.</h5>

                <img
                        class="responsive"
                        src="/img/info/screenshot_2.jpg"
                >
            </div>

            <br/>

            <div class="img-title">
                <h5>3. Зайти в FvTT выбрать вкладку "Актеры" и нажать "Создать Актера", выберите тип "Персонаж
                    мастера".</h5>

                <img
                        class="responsive"
                        src="/img/info/screenshot_3.jpg"
                >
            </div>

            <br/>

            <div class="img-title">
                <h5>4. После в списке нажать по нему ПКМ и в списки выбрать "Импорт данных", затем в коне выбрать наш
                    json файл существа который мы сохранили ранее.</h5>

                <img
                        class="responsive"
                        src="/img/info/screenshot_4.jpg"
                >
            </div>

            <br/>

            <div class="img-title">
                <h5>5. Все, теперь вы перенесли существо в FvTT. Удачного вам использования!</h5>

                <img
                        class="responsive"
                        src="/img/info/screenshot_5.jpg"
                >
            </div>

            <br/>

            <p>С уважением, команда <a href="https://ttg.club">TTG Club</a>.</p>
        </template>
    </page-layout>
</div>
</body>
</html>
