<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <body id="body" class="d-flex overflow-hidden">
        <div id="container" class="container">
            <div class="row">
                <div layout:fragment="content" class="main_page_wrapper">
                    <div class="left_block">
                        <div class="left_cont" data-simplebar>
                            <div class="card_row">
                                <a th:href="@{/bestiary}" class="card">
                                    <div class="icon icon_bestiary_big"></div>
                                    <h4>Бестиарий</h4>
                                </a>
                                <a th:href="@{/races}" class="card">
                                    <div class="icon icon_races_big"></div>
                                    <h4>Расы</h4>
                                </a>
                                <a th:href="@{/classes}" class="card">
                                    <div class="icon icon_classes_big"></div>
                                    <h4>Классы</h4>
                                </a>
                                <a th:href="@{/options}" class="card">
                                    <div class="icon icon_skills_big"></div>
                                    <h4>Особенности классов</h4>
                                </a>
                                <a th:href="@{/spells}" class="card">
                                    <div class="icon icon_spells_big"></div>
                                    <h4>Заклинания</h4>
                                </a>
                                <a th:href="@{/weapons}" class="card">
                                    <div class="icon icon_weapons_big"></div>
                                    <h4>Оружие</h4>
                                </a>
                                <a th:href="@{/armors}" class="card">
                                    <div class="icon icon_armors_big"></div>
                                    <h4>Доспехи</h4>
                                </a>
                                <a th:href="@{/items}" class="card">
                                    <div class="icon icon_inventory_big"></div>
                                    <h4>Снаряжение</h4>
                                </a>
                            </div>
                            <div class="info_main_block">
                                <h3>Есть ли у нас Discord?</h3>
                                <p>Присоединяйтесь, к <a href="https://discord.gg/YGFshpuf9x" target="_blank">нашему каналу</a> и участвуйте в обсуждение нового функционала.</p>
                                
                                <h3>Как нас поддержать?</h3>
                                <p>У нас есть <a href="https://www.patreon.com/dnd5club" target="_blank"><img src="resources/assets/icon/patreon.png" alt="Мы на Patreon" style="height: 12px;"> Patreon</a>, а так-же вы можете поддержать нашего <b>МЕГАМАСТЕРА</b> на <a href="https://boosty.to/dnd5eclub" target="_blank"><img src="resources/assets/icon/boosty.png" alt="Мы на Boosty" style="height: 12px;"> Boosty</a> он создает потрясающие карты.</p>

                                <h3>Отказ от ответственности</h3>
                                <p>Материалы на данном сайте приведены исключительно в справочных и ознакомительных целях и не заменяют необходимость покупки официальных материалов по игре.</p>
                                <p>Весь графический материал и система Dungeons&Dragons является собственностью корпорации Wizards of the Coast.</p>

                                <h3>Где староя версии сайта?</h3>
                                <p>Перейти на старую версию сайта <a href="https://dnd5.club" target="_blank">можно тут</a>.</p>
                            </div>
                        </div>
                    </div>                
                    <!-- <div class="news_block">
                    </div>                 -->
                </div>
            </div>
        </div>
    </body>
</html>