<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <body id="body" class="d-flex overflow-hidden">
        <div id="container" class="container">
            <div class="row">
                <div layout:fragment="content" class="main_page_wrapper">
                    <div class="left_block">
                        <div class="card_row">
                            <div class="card">Бистиарий</div>
                            <div class="card">Расы</div>
                            <div class="card">Классы</div>
                            <div class="card">Особенности классов</div>
                        </div>
                        <div class="card_row">
                            <div class="card">Заклинания</div>
                            <div class="card">Оружие</div>
                            <div class="card">Доспехи</div>
                            <div class="card">Снарехение</div>
                        </div>
                        <div class="card_row">
                            <div class="card"></div>
                            <div class="card"></div>
                            <div class="card">Справочник</div>
                            <div class="card">Правила</div>
                        </div>
                    </div>                
                    <div class="news_block">
                        <!-- <h3>Новости</h3> -->
                    </div>                
                </div>
            </div>
        </div>
    </body>
</html>