<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden- main_page" data-simplebar>
	<div id="container" class="container ">
		<div class="row">
			<div layout:fragment="content" class="main_page_wrapper">
				<h1 style="height: 1px; opacity: 0; overflow: hidden;">DnD.club Oнлайн-справочник</h1>
				<div class="main_block">
					<div class="cont">
						<div class="wrapper">
							<div class="header">
								<div class="search_row_g">
									Воспользуйтесь поиском в разделе.
									<!-- <div class="gcse-searchbox-only"></div> -->
								</div>
								<a href="https://badmimic.com/?partner=dnd5.club" class="proner_block tip" target="_blank" title="Наши друзья магазин миниатюр Bad Mimic">
									<div class="icon">
										<svg viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M52 33V44.5882M52 33L47 25M52 33H49L46 31L43 33H41L38 31L35 33H33L30 31L27 33H25L22 31L19 33H17L14 31L11 33H8M8 33V44.5882M8 33L13 25M52 20C52 14.5421 49.6223 7 42.2222 7H17.7778C10.3777 7 8 14.5421 8 20M52 20L47 25M52 20H45L42 22L39 20H37L34 22L31 20H29L26 22L23 20H21L18 22L15 20H8M8 20L13 25M8 44.5882V47.0588C8 48.3693 8.51508 49.6261 9.43192 50.5528C10.3488 51.4794 11.5923 52 12.8889 52H15.3333M8 44.5882H15.3333V52M15.3333 52H44.6667M52 44.5882V47.0588C52 48.3693 51.4849 49.6261 50.5681 50.5528C49.6512 51.4794 48.4077 52 47.1111 52H44.6667M52 44.5882H44.6667V52M47 25H13M17 10L23 11M43 10L37 11M40 17V17C38.8954 17 38 16.1046 38 15V15C38 13.8954 38.8954 13 40 13V13C41.1046 13 42 13.8954 42 15V15C42 16.1046 41.1046 17 40 17ZM20 17V17C21.1046 17 22 16.1046 22 15V15C22 13.8954 21.1046 13 20 13V13C18.8954 13 18 13.8954 18 15V15C18 16.1046 18.8954 17 20 17Z" stroke="#4D4DAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>																														
									</div>
									<h4 class="title">Магазин Миниатюр</h4>
								</a>
							</div>
							<div class="card_row">
								<a th:href="@{/classes}" class="card classes">
									<div class="title"><h4>Классы</h4></div>
								</a> 
								<a th:href="@{/races}" class="card races">
									<div class="title"><h4>Расы</h4></div>
								</a> 
								<a th:href="@{/traits}" class="card traits">
									<div class="title"><h4>Черты</h4></div>
								</a> 
								<a th:href="@{/options}" class="card options">
									<div class="title"><h4>Особенности классов</h4></div>
								</a>
								<a th:href="@{/backgrounds}" class="card backgrounds">
									<div class="title"><h4>Предыстории</h4></div>
								</a> 
								<a th:href="@{/spells}" class="card spells">
									<div class="title"><h4>Заклинания</h4></div>
								</a>
								<a th:href="@{/weapons}" class="card weapons">
									<div class="title"><h4>Оружие</h4></div>
								</a> 
								<a th:href="@{/armors}" class="card armors">
									<div class="title"><h4>Доспехи</h4></div>
								</a> 
								<a th:href="@{/items}" class="card items">
									<div class="title"><h4>Снаряжение</h4></div>
								</a> 
								<a th:href="@{/items/magic}" class="card items_magic">
									<div class="title"><h4>Магические предметы</h4></div>
								</a>	
								<a th:href="@{/bestiary}" class="card bestiary">
									<div class="title"><h4>Бестиарий</h4></div>
								</a>
								<a th:href="@{/screens}" class="card screens">
									<div class="title"><h4>Ширма</h4></div>
								</a>
							</div>
							<div class="dnd5club_tel_bot">
								<div class="info">
									<h4>Telegram Bot</h4>
									<div class="bottom">
										<a href="/telegram_bot">Описание</a>
										<a href="https://t.me/dnd5club_bot" target="_blank">Попробовать</a>
									</div>
								</div>
								<div class="bg_img"></div>
							</div>
							<div class="info_main_block">
								<h3>Мы в интернете</h3>
								<p>
									Самые свежие новости и обсуждения по сайту у нас в сетях. Не проходите мимо и принимайте участие.
								</p>
								<a href="https://vk.com/dnd5club" class="become-vk-button btn" target="_blank">ВКонтакте</a>
								<a href="https://discord.gg/zqBnMJVf3z" class="become-discord-button btn" target="_blank">Discord</a>
								<h3>Поддержать</h3>
								<p>
									У нас есть <a href="https://boosty.to/dnd5club" target="_blank"><img src="resources/assets/icon/boosty.png" alt="Мы на Boosty" style="height: 12px;"> Boosty</a>, а так-же вы
									можете поддержать нашего <a href="https://boosty.to/dnd5eclub" target="_blank">Мастер Ломастер</a> он создает потрясающие карты.
								</p>
								<a href="https://boosty.to/dnd5club" class="become-donations-button" target="_blank">Поддержать на Boosty</a>
								<h3>Наши друзья:</h3>
								<div class="friends_list">
									<a href="https://www.youtube.com/channel/UCMfMw5ZX4_rZ4rv4TlY8j8g?partner=dnd5.club" class="friend_block tip" target="_blank" title="Канал расскжет вам о тонкостях и нюансах игры в онлайне. Поможет разобраться с виртуальными столами.<br/> Упростит подготовку к вашей игре. Автоматизирует максимум процессов игровой механики. <br />Всё, чтобы игра стала атмосфернее и интереснее.">
										<img src="/resources/assets/partner/koroz.png" alt="Онлайн ширма">
										«Онлайн ширма»
									</a>
									<a href="https://discord.gg/Vxu2Cu9mbM?partner=dnd5.club" class="friend_block tip" target="_blank" title="Сервер ставит перед собой цель помочь новичкам, интересующимся D&D в Discord сегменте, <br/>а также стремится стать надежной базой для Discord-комьюнити системы D&D.">
										<img src="/resources/assets/partner/Empire_tavern.png" alt="Empire Tavern">
										Empire Tavern
									</a>
									<a href="https://vk.com/ravenheart_studio?partner=dnd5.club" class="friend_block tip" target="_blank" title="Это клуб ролевых игр Великого Новгорода Студия «Ravenheart». <br />Если ты хочешь круто провести время, то ты пришел по адресу!">
										<img src="/resources/assets/partner/ravenheart_studio.jpg" alt="Студия «Ravenheart»">
										Студия «Ravenheart»
									</a>
									<a href="https://vk.com/anykeyspb?partner=dnd5.club" class="friend_block tip" target="_blank" title="Сообщество опытного мастера Andy по настольным и ролевым играм, <br />который хочет сделать ваш досуг максимально интересным и доступным.">
										<img src="/resources/assets/partner/any_key.png" alt="ANY KEY">
										ANY KEY
									</a>
									<a href="https://vk.com/rrules?partner=dnd5.club" class="friend_block tip" target="_blank" title="Random Rules это канал про настольные ролевые игры. <br />Любите проводить время с друзьями, играя в Dungeons & Dragons? Вам сюда!">
										<img src="/resources/assets/partner/random_rules.jpg" alt="Random Rules">
										Random Rules
									</a>
									<a href="https://vk.com/dicehead_dnd?partner=dnd5.club" class="friend_block tip" target="_blank" title="DiceHead собирает множество информации по Dungeons & Dragons, <br />выкладывает материалы для вдохновения и стремиться поддерживать сообщество НРИ в России.">
										<img src="/resources/assets/partner/dicehead.jpg?v=2" alt="DiceHead | D&D">
										DiceHead | D&D
									</a>
									<a href="https://vk.com/ngdnd?partner=dnd5.club" class="friend_block tip" target="_blank" title="Короткие авторские приключения для D&D 5e и других систем.">
										<img src="/resources/assets/partner/ngdnd.jpg" alt="Заметки упыря | Короткие приключения | D&D">
										Заметки упыря
									</a>
								</div>
								<h3>Отказ от ответственности</h3>
								<p>Материалы на данном сайте приведены исключительно в справочных и ознакомительных целях и не заменяют необходимость покупки официальных материалов по игре.</p>
								<p>Весь графический материал и система Dungeons&Dragons является собственностью корпорации Wizards of the Coast.</p>
							</div>
						</div>
					</div>
					<div class="news_block" data-simplebar>
						<div class="header">
							<h3>Новости</h3>
						</div>
						<div class="news_list">
							<div class="news">
								<h4 class="title">Название новости</h4></div>
								<div class="description">
									<p>
									Прежде всего сложившаяся структура организации способствует подготовке и реализации направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что социально-экономическое развитие требует от нас анализа укрепления демократической системы. Разнообразный и богатый опыт сложившаяся структура организации требует анализа существующий финансовых и административных условий. Для современного мира сложившаяся структура организации создаёт предпосылки качественно новых шагов для модели развития.
									</p>
								</div>
								<div class="bottom">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>                
				</div>
			</div>
		</div>
	</div>
</body>
</html>