<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body">
<div layout:fragment="content">
    <page-layout date-time="2022-10-13T00:00:00+03:00">
        <template #title>Заголовок</template>

        <template #subtitle>Описание не обязательно</template>

        <template #default>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend mattis lectus eu elementum. Nulla
                volutpat pellentesque elementum. Sed eros nulla, ullamcorper ac dolor in, cursus facilisis nisi.
                Phasellus ornare tempus nulla sit amet viverra. In vel scelerisque ipsum. In volutpat felis ut metus
                sagittis, nec imperdiet mauris condimentum. Proin orci nibh, suscipit in risus tristique, facilisis
                ultricies ipsum. Sed commodo viverra neque, at consequat tortor sagittis quis. Fusce sit amet leo ipsum.
                Donec auctor odio tellus, et elementum nulla pellentesque a. Phasellus et tortor id nunc euismod dictum.
                Vivamus ut feugiat ex. Suspendisse lobortis blandit dolor. Vivamus varius risus ac ante placerat porta.
                Phasellus cursus bibendum ex id eleifend.</p>

            <p>Suspendisse orci leo, volutpat vel mi at, auctor fermentum purus. Cras accumsan nulla tincidunt,
                molestie justo vitae, semper dolor. Vivamus consectetur sit amet dolor eget fringilla. Integer vitae
                porttitor est, ut pellentesque ligula. Vestibulum molestie nunc sed vulputate lobortis. Cras congue
                efficitur lorem, nec volutpat diam luctus sit amet. Proin eros metus, consequat eu elit eget, commodo
                maximus dolor.</p>

            <p>Morbi a aliquet nisl. Quisque sed nunc quis eros dignissim interdum. Mauris pretium sapien eget ipsum
                accumsan aliquam. Aliquam velit mi, aliquam ut faucibus condimentum, efficitur sit amet erat.
                Pellentesque ac hendrerit sem. Aliquam at leo consectetur, tristique arcu sed, hendrerit sem. Praesent
                ut eros sit amet metus laoreet rhoncus ac ut mauris. Aliquam auctor diam lectus, eget dignissim mi
                vulputate sed. Nam et nunc fermentum, auctor libero non, fringilla mi. Morbi fermentum sem in sapien
                blandit porttitor. Fusce ut felis sed ante convallis elementum. Sed suscipit, leo ut rutrum
                sollicitudin, odio augue dignissim leo, gravida convallis est turpis a ex. Vivamus mollis ex neque, sit
                amet rutrum tellus placerat quis. Maecenas ut consequat metus. Integer finibus interdum lectus quis
                maximus. Aliquam nec ipsum id tellus lobortis molestie.</p>

            <p>Nam elementum risus id laoreet vehicula. Vestibulum congue cursus magna, aliquam laoreet neque consequat
                nec. In malesuada dictum elementum. Nam vel placerat dolor. Maecenas bibendum vulputate gravida. In non
                posuere turpis. Aenean at leo id est aliquet aliquam in vitae mauris. Quisque vitae dolor nulla. Proin
                tempor vestibulum sem vitae aliquet. Curabitur dolor nisl, vestibulum id metus at, hendrerit imperdiet
                nibh. Vestibulum vulputate, nisi sit amet porttitor scelerisque, quam ligula hendrerit lorem, at
                fermentum felis sapien id mi. Pellentesque tincidunt, enim ut dictum auctor, odio massa semper enim,
                quis euismod quam justo et sapien. Vivamus at lorem dictum, feugiat diam ac, ullamcorper turpis. Sed a
                tincidunt risus, nec dapibus nisl.</p>

            <p>Duis tempor, nibh quis rhoncus dapibus, nulla libero porta sapien, vel vulputate neque turpis non orci.
                Maecenas dapibus nibh non urna feugiat, vel imperdiet sapien rhoncus. Mauris rutrum vehicula nisl a
                posuere. Etiam eu molestie leo, at tristique elit. Ut placerat finibus lectus, quis pharetra leo
                pulvinar non. Sed et nisl lacinia, convallis tellus ut, finibus magna. Quisque elementum viverra
                fringilla. Cras nec sodales magna.</p>

            <p>Mauris nec leo condimentum, rhoncus urna eu, venenatis lorem. Etiam porttitor ipsum sed ante rutrum,
                semper mollis velit porta. Nunc quis odio est. Duis eget risus vitae tellus rutrum condimentum. Morbi
                imperdiet urna dolor, vitae malesuada nisl ultricies eu. Pellentesque a diam iaculis, auctor nibh eu,
                viverra lorem. Praesent porttitor tortor magna, vel commodo justo egestas vitae. Vivamus eget euismod
                nisl, eget vehicula libero. Vivamus viverra velit nunc, in commodo dui facilisis nec. In purus eros,
                aliquet nec lorem a, iaculis viverra ex. Mauris semper ut nisi at vehicula. Donec vel viverra dui.
                Curabitur non lorem non turpis tincidunt vestibulum ac in lorem.</p>

            <p>Nulla bibendum turpis dolor, vel vestibulum ligula dictum non. Quisque pellentesque nisi quis lacinia
                fringilla. Praesent aliquet, lorem vitae condimentum tempor, augue leo suscipit neque, a suscipit mi
                mauris egestas metus. Proin lacus diam, posuere at hendrerit sit amet, elementum placerat dolor. Integer
                est augue, sodales nec sodales quis, varius ac lectus. Aliquam eu interdum enim. Nulla et leo et turpis
                posuere porttitor faucibus non nisl. Phasellus pharetra varius orci, eu placerat est accumsan non.
                Phasellus consequat cursus ipsum, id elementum libero facilisis ac. Praesent ut lectus a mauris congue
                consectetur. Nam auctor vehicula metus non placerat. Aenean aliquam urna sed urna bibendum, ut mattis mi
                malesuada. Vestibulum euismod enim quis posuere bibendum. Donec imperdiet ex sed sem tempor, at
                vulputate dui iaculis. Aenean faucibus tortor metus, eu faucibus ante elementum eu. Sed non odio et mi
                pulvinar semper vel eget neque.</p>

            <p>Aliquam erat volutpat. Suspendisse iaculis lorem dictum vulputate scelerisque. Fusce lobortis nisl a
                massa sollicitudin, vel laoreet lacus ultrices. Etiam scelerisque, nulla vel tempus iaculis, tortor
                nulla aliquam urna, vel accumsan nulla magna in est. Curabitur fermentum magna mi, sit amet venenatis
                odio hendrerit eu. In quis condimentum ex. Sed nibh tellus, auctor a ultricies nec, faucibus varius
                lorem. Quisque justo quam, aliquet eu feugiat suscipit, consequat ac enim. Nam vestibulum nibh tincidunt
                lorem maximus feugiat. Suspendisse potenti. Integer ac bibendum ligula. Aenean nec diam eros. Nam
                pulvinar libero et nisl volutpat facilisis.</p>

            <p>Nunc euismod, mauris a eleifend semper, mi neque egestas elit, ac maximus lectus nisl eget eros.
                Maecenas in lorem sit amet lacus porttitor vulputate. Cras maximus est in ipsum eleifend, vitae volutpat
                nibh cursus. Praesent elementum velit eu placerat tristique. Pellentesque faucibus risus a est finibus
                cursus. Sed euismod tellus ut nulla facilisis, eget ultricies magna tristique. Proin non magna tortor.
                Cras fringilla interdum nisl, in semper metus blandit ut. Aliquam quam massa, vehicula ut semper quis,
                tempus in mi. Curabitur sollicitudin non justo sed dapibus. Etiam gravida tempor iaculis. Nullam
                porttitor mauris vehicula malesuada mollis. Proin facilisis ut lorem ut laoreet. Mauris non sem
                velit.</p>

            <p>Pellentesque id sem eget odio mollis cursus. Aliquam sed justo eu erat placerat accumsan. Duis quis
                felis ut magna vehicula finibus. Morbi ut feugiat sem. Integer sem ligula, pulvinar sit amet lobortis
                quis, lobortis at dolor. Vestibulum et nunc vel enim efficitur tempus. Quisque sodales bibendum mollis.
                Sed neque magna, auctor at imperdiet ut, feugiat ut erat. Donec id fringilla ligula. Integer aliquam
                gravida sem. In ultrices felis dui, sed finibus orci fermentum vulputate. Quisque rutrum hendrerit massa
                ac efficitur. Fusce velit enim, bibendum sed malesuada eget, tincidunt eu diam. Duis mi diam,
                pellentesque quis consequat a, aliquet eget nisi.</p>
        </template>
    </page-layout>
</div>
</body>
</html>
