<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
<div class="row">
	<div layout:fragment="content" class="main_page_wrapper">
		<h1 style="height: 1px; opacity: 0;">DnD5 Club Oнлайн-справочник</h1>
		<div class="left_block">
			<div class="left_cont" data-simplebar>
				<div class="search_row">
					<div class="gcse-searchbox-only"></div>
					<!-- <input type="text" id="search" placeholder="Поиск по классам, расам, монстрам и остальным мирам!">
					<div class="btn_search_icon" title="Поиск">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
									stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"
								/>
								</svg>
						</i>
					</div> -->
				</div>
				<div class="gcse-searchresults-only"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>