<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="d-flex overflow-hidden">
<div class="row">
	<div layout:fragment="content" class="main_page_wrapper search">
		<h1 style="height: 1px; opacity: 0; overflow: hidden;">Результат поиска на сайте dnd5.club</h1>
		<div class="header">
			<div class="search_row_g">
				<div class="gcse-searchbox-only"></div>
				<!-- <input type="text" id="search" placeholder="Поиск по классам, расам, монстрам и остальным мирам!"> -->
			</div>
		</div>
		<div class="searchresults" >
			<div class="gcse-searchresults-only"></div>
		</div>
	</div>
</div>
</body>
</html>