<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="table_list_block block_information" layout:fragment="content">
		<div id="left_block" class="spells">
			<div class="header_block filters">
				<div class="header_row">
					<h1>Заклинания</h1>
				</div>
				<div class="search_block filter_control">
					<input type="text" id="search" class="search_int" placeholder="Поиск" autocomplete="off">
					<div class="btn_search_icon" title="Поиск">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#7B61FF" stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="btn_filters" class="btn_filters tip" title="Фильтры">
						<i id="icon_filter" class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
									d="M20.6083 4.64573C21.1579 3.99575 20.6959 3 19.8447 3H4.1553C3.30408 3 2.84207 3.99575 3.39173 4.64573L9.76357 12.1804C9.91623 12.3609 10 12.5897 10 12.8261V19.382C10 19.7607 10.214 20.107 10.5528 20.2764L12.5528 21.2764C13.2177 21.6088 14 21.1253 14 20.382V12.8261C14 12.5897 14.0838 12.3609 14.2364 12.1804L20.6083 4.64573Z"
									stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="text_clear" class="btn_text_clear tip" title="Очистить">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</i>
					</div>
				</div>
			</div>
			<div id="searchPanes" class="search_panes hide_block" data-simplebar>
				<div class="filter_container">
					<div class="filter_block">
						<div class="header">
							<h5>Уровень</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="level_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box">
							<label> <input class="level_checkbox filter" type="checkbox" name="level" value="0"><span>заговор</span></label>
							<label th:each="level : ${#numbers.sequence(1, 9)}"> <input class="level_checkbox filter" type="checkbox" name="level" th:value="${level}"
							> <span th:text="${level}"></span></label>
						</div>
					</div>
					<div class="filter_block">
						<div class="header">
							<h5>Классы</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="class_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box">
							<label th:each="class : ${classes}"> <input class="class_checkbox filter" type="checkbox" name="class" th:value="${class[0]}"> <span th:text="${class[1]}"></span>
							</label>
						</div>
					</div>
					<div class="filter_block">
						<div class="header">
							<h5>Школа</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="school_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box">
							<label th:each="school : ${schools}"> <input class="school_checkbox filter" type="checkbox" name="school" th:value="${school}"> <span th:text="${school.name}"></span>
							</label>
						</div>
					</div>
					<div class="filter_block hide_block">
						<div class="header">
							<h5>Время накладывания</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="timecast_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="timecast_checkbox filter" type="checkbox" name="timecast" value="1 BONUS"> <span>бонусное действие</span></label>
							<label><input class="timecast_checkbox filter" type="checkbox" name="timecast" value="1 REACTION"> <span>реакция</span></label>
							<label><input class="timecast_checkbox filter" type="checkbox" name="timecast" value="1 ACTION"> <span>действие</span></label>
							<label><input class="timecast_checkbox filter"	type="checkbox" name="timecast" value="1 MINUTE"> <span>1 минута</span></label>
							 <label><input class="timecast_checkbox filter" type="checkbox" name="timecast" value="4 MINUTE"> <span>10 минут</span></label>
							 <label><input class="timecast_checkbox filter" type="checkbox" name="tag" value="1 HOUR"> <span>1 час</span></label>
							 <label><input class="timecast_checkbox filter" type="checkbox" name="timecast" value="8 HOUR"> <span>8 часов</span></label>
						</div>
					</div>
					<div class="filter_block hide_block">
						<div class="header">
							<h5>Дистанция</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="distance_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="distance_checkbox" type="distance" name="distance" value="на себя"> <span>на себя</span></label> <label><input class="distance_checkbox" type="distance"
								name="distance" value="касание"
							> <span>касание</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="5 футов"> <span>5 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="10 футов"
							> <span>10 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="20 футов"> <span>20 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="0"
							> <span>25 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="0"> <span>30 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="0"
							> <span>60 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="0"> <span>90 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="0"
							> <span>100 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="0"> <span>120 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="0"
							> <span>150 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="0"> <span>300 футов</span></label> <label><input
								class="distance_checkbox" type="distance" name="distance" value="0"
							> <span>1000 футов</span></label> <label><input class="distance_checkbox" type="distance" name="distance" value="0"> <span>1 миля</span></label>
						</div>
					</div>
					<div class="filter_block">
						<div class="header">
							<h5>Компоненты</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="component_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="component_checkbox" type="checkbox" name="component" value="1"><span>вербальный</span></label>
							<label><input class="component_checkbox" type="checkbox" name="component" value="2"><span>соматический</span></label>
							<label><input class="component_checkbox" type="checkbox" name="component" value="3"><span>материальный</span></label>
							<label><input class="component_checkbox" type="checkbox" name="component" value="4"><span>расходуемый</span></label>
							<label><input class="component_checkbox" type="checkbox" name="component" value="5"><span>не расходуемый</span></label>
						</div>
					</div>
					<div class="filter_block hide_block">
						<div class="header">
							<h5>Длительность</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="duration_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="duration_checkbox" type="checkbox" name="duration" value="1"><span>мгновенная</span></label> <label><input class="duration_checkbox" type="checkbox"
								name="duration" value="0"
							><span>раунд</span></label> <label><input class="duration_checkbox" type="checkbox" name="duration" value="2"><span>1 минута</span></label> <label><input class="duration_checkbox"
								type="checkbox" name="duration" value="2"
							><span>10 минут</span></label> <label><input class="duration_checkbox" type="checkbox" name="duration" value="2"><span>1 час</span></label> <label><input class="duration_checkbox"
								type="checkbox" name="duration" value="2"
							><span>2 часа</span></label> <label><input class="duration_checkbox" type="checkbox" name="duration" value="2"><span>8 часов</span></label> <label><input class="duration_checkbox"
								type="checkbox" name="duration" value="2"
							><span>12 часов</span></label> <label><input class="duration_checkbox" type="checkbox" name="duration" value="2"><span>24 часа</span></label> <label><input class="duration_checkbox"
								type="checkbox" name="duration" value="2"
							><span>7 дней</span></label> <label><input class="duration_checkbox" type="checkbox" name="duration" value="2"><span>особая</span></label>
						</div>
					</div>
					<div class="filter_block">
						<div class="header">
							<h5>Ритуал</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="ritual_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="ritual_checkbox" type="checkbox" name="ritual" value="1"><span>да</span></label>
							<label><input class="ritual_checkbox" type="checkbox" name="ritual" value="0"><span>нет</span></label>
						</div>
					</div>
					<div class="filter_block">
						<div class="header">
							<h5>Концентрация</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="concentration_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label><input class="concentration_checkbox" type="checkbox" name="concentration" value="1"><span>да</span></label>
							<label><input class="concentration_checkbox" type="checkbox" name="concentration" value="2"><span>нет</span></label>
						</div>
					</div>
					<div class="filter_block hide">
						<div class="header">
							<h5>Тип урона</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="damage_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box hide">
							<label th:each="damage : ${damageTypes}"><input  class="damage_checkbox" type="checkbox" name="damage" th:value="${damage}"><span th:text="${damage.cyrilicName}"></span></label>
						</div>
					</div>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left table_list">
				<table id="spells" class="table_list" th:fragment="spellTable">
					<thead style="display: none">
						<tr>
							<th>Уровень</th>
							<th>Школа</th>
							<th>Название</th>
							<th>EnglishName</th>
							<th>Классы</th>
							<th>Тип урона</th>
							<th>Ритуал</th>
							<th>Концентрация</th>
							<th>Время накладывания</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="right_block" class="spells">
			<div class="header_block">
				<div class="header_row">
					<h1 id="row_name">Название заклинания</h1>
					<div id="btn_exet_full_screen" class="btn_exet_full_screen tip" title="Свернуть в окно">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 14H6C7.10457 14 8 14.8954 8 16L8 19M8 5V8C8 9.10457 7.10457 10 6 10H3M21 10H18C16.8954 10 16 9.10457 16 8V5M16 19V16C16 14.8954 16.8954 14 18 14L21 14" stroke="#7B61FF"
									stroke-linecap="round" stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="btn_full_screen" class="btn_full_screen tip" title="На всю страницу">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16 7H17C18.1046 7 19 7.89543 19 9V10M19 14V15C19 16.1046 18.1046 17 17 17H16M8 17H7C5.89543 17 5 16.1046 5 15V14M5 10L5 9C5 7.89543 5.89543 7 7 7L8 7" stroke="#7B61FF"
									stroke-linecap="round" stroke-linejoin="round"
								/>
							</svg>
						</i>
					</div>
					<div id="btn_close" class="btn_close tip" title="Закрыть">
						<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</i>
					</div>
				</div>
			</div>
			<div id="info_wrapper" class="info_wrapper" data-simplebar>
				<div class="content_block">
					<div id="content_block"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
    		selectedSpell = [[${selectedSpell}]];
		</script>
	</div>
</body>
<script th:src="@{/resources/js/datatables/spells.js?v=11.6}" layout:fragment="js-script"></script>
</html>