<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body id="body" class="overflow-hidden">
	<div id="container" class="container">
		<div class="row">
			<div layout:fragment="content" class="page_main" data-simplebar>
				<div class="page_wrapper">
					<div class="left">
					</div>
					<div class="center">
						<div class="header">
							<h1 class="title">Telegram Bot</h1>
							<h3 class="subtitle">Интрукция и правила пользование DnD5Club Telegram Bot</h3>
						</div>
						<div>
							<blockquote>
								Куда проще написать пару букв в приложении телефона, чем носить с собой стопку книг.
							</blockquote>
							<p>
								<a href="https://t.me/dnd5club_bot">Ссылка на бота</a> (https://t.me/dnd5club_bot)
							</p>
							<p>
								Мы сделали для вас бота в Telegram, чтобы вы могли быстро находить нужные вам заклинания в компактном виде или бросить кубы, если вы забыли их дома.
							</p>

							<h3>Инструкция:</h3>
							<ul>
								<li>Вам нужно запустить бота.</li>
								<li>Выбрать в меню “Поиск заклинаний”</li>
								<li>Ввести текст, минимум три символа (или название заклинания) и отправить.</li>
								<li>В ответном сообщении вам придет описание заклинания.</li>
								<li>Если найдено несколько заклинаний, вам выведет клавиатуру с набором заклинаний. Выберете одно из них и получите описание.</li>
							</ul>


							<h3>Пригласить бота в чат</h4>
							<p>Бота можно пригласить в групповой чат. Как это сделать:</p>
							<ul>
								<li>Сверху зайти в "Профиль бота"</li>
								<li>После этого, в низу нажать "Добавить в группу"</li>
							</ul>
							<br/>
							<hr/>

							<h3>Как пользоваться «формулой»?</h4>
							<p>
								Кубики можно бросать с помощью «формул». Формула — позваляет вам создать более гибкий бросок кубиков с добволение модификаторов или же бросить сразу несколько кубиков.
							</p>
							<h4>Типы:</h4>
							<ul>
								<li><b>Кубики</b> - присутвуют различные типы кубов которые можно бросать (d4, d20, d%, dF).</li>
								<li><b>Модификаторы</b> - модификаторы, которые могут влиять на броски кубиков.</li>
								<li><b>Математика</b> - общие математические уравнения.</li>
							</ul>
							<p>Более подробно можно будет посмотреть <a href="https://dice-roller.github.io/documentation/guide/notation/" target="_block">тут</a>.</p>
						</div>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>