<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<body id="body">
	<div id="list_page_two_block" class="table_list_block" layout:fragment="content">
		<div id="left_block" class="full_screen_left_block treasures">
			<div class="header_block filters">
				<div class="header_row">
					<div class="title">
						<h1>Драгоценности</h1>
						<h2>Treasures</h2>
					</div>
				</div>
				<div class="search_block">
					<div class="input_block">
						<input type="text" id="search" class="search_int" placeholder="Поиск" autocomplete="off">
						<div class="btn_search_icon" title="Поиск">
							<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#7B61FF" stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</svg>
							</i>
						</div>
						<div id="text_clear" class="btn_text_clear tip" title="Очистить">
							<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</i>
						</div>
					</div>
					<div id="btn_filters" class="btn_filters">
						<i id="icon_filter" class="icon_action">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.6083 4.64573C21.1579 3.99575 20.6959 3 19.8447 3H4.1553C3.30408 3 2.84207 3.99575 3.39173 4.64573L9.76357 12.1804C9.91623 12.3609 10 12.5897 10 12.8261V19.382C10 19.7607 10.214 20.107 10.5528 20.2764L12.5528 21.2764C13.2177 21.6088 14 21.1253 14 20.382V12.8261C14 12.5897 14.0838 12.3609 14.2364 12.1804L20.6083 4.64573Z" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</i>
						<span>
							Фильтры
						</span>
					</div>
					<div id="btn_filters_all_clear" class="btn_filters tip" title="Сбросить все фильтры">
						<i class="icon_action reset_filter">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.31802 8.81799L4.07538 13.0606C3.29433 13.8417 3.29433 15.108 4.07538 15.8891L7.61091 19.4246C8.39196 20.2056 9.65829 20.2056 10.4393 19.4246L14.682 15.182M8.31802 8.81799L14.682 15.182M8.31802 8.81799L9.73223 7.40378M14.682 15.182L16.0962 13.7677M18.9246 10.9393L17.5104 12.3535M18.9246 10.9393C19.7057 10.1583 19.7057 8.89193 18.9246 8.11088L15.3891 4.57535C14.608 3.7943 13.3417 3.7943 12.5607 4.57535M18.9246 10.9393L12.5607 4.57535M12.5607 4.57535L11.1464 5.98956M9.73223 7.40378L16.0962 13.7677M9.73223 7.40378L11.1464 5.98956M16.0962 13.7677L17.5104 12.3535M17.5104 12.3535L11.1464 5.98956" stroke="#4D4DAA" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
					</div>
				</div>
			</div>
			<div id="searchPanes" class="search_panes hide_block" data-simplebar>
				<div class="filter_container">
					<div class="filter_block">
						<div class="header">
							<h5>Категория</h5>
							<button>
								<i class="icon_action"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 10L12 14L16 10" stroke="#e4e4e4" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
							<button id="category_clear_btn" class="hide_block">
								<i class="icon_action reset_filter"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7L12 12M12 12L17 7M12 12L7 17M12 12L17 17" stroke="#7B61FF" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
								</i>
							</button>
						</div>
						<div class="filter_crumbs_box">
							<label class="crumbs" th:each="category : ${categories}"> <input class="category_checkbox filter" type="checkbox" name="category" th:value="${category}"> <span th:text="${category.name}"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div id="scroll_load_simplebar" class="container_left">
				<table id="treasures" class="table_list" th:fragment="table">
					<thead style="display: none">
						<tr>
							<th>Название</th>
							<th>English name</th>
							<th>Категория</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
    		var selectedTreasure = [[${selectedTreasure}]];
		</script>
	</div>
</body>
<script th:src="@{|/resources/js/datatables/treasures.js?v=${version}|}" layout:fragment="js-script"></script>
</html>
