/* .container {
  width: 100%;
  max-width: 1320px;
  position: relative;
  margin: auto;
  height: 100%;
} */

/* .main_page_wrapper {
  padding: 24px;
} */

/* ------------------------------------- */

/* #left_block {
  width: 100%;
}

@media (max-width: 1200px) {
  body #left_block {
    width: 100% !important;
  }
} */

/* body .block_information #left_block {
  width: 40%;
} */

/* ------------------------------------- */

/* #right_block {
  top: 0;
  display: none;
  width: calc(60% - 8px);
  height: calc(100% - 38px);
  margin-top: 16px;
  right: 0px;
  box-shadow: 0px 0px 23px 7px #0000001f;
  border-radius: 12px;
} */

/* .block_information #right_block {
  display: block;
} */

@media (max-width: 1200px) {
  #right_block {
    margin-top: 0px;
    border-radius: 0px;
    height: calc(100% - 0px);
  }
}


/******** Правый блок во весь экран / Full screen ********/
.full_screen_right_block .block_information #right_block {
  right: 0px;
  width: 100%;
  z-index: 11;
}

.full_screen_right_block .block_information #left_block .container_left {
  overflow: hidden !important;
}
