.profile .cont {
    width: 660px;
}

@media (max-width: 800px) {
    .profile .cont {
        width: 100%;
    }
}

.profile .container_left {
    padding: 24px;
}

@media (max-width: 1200px) {
    .profile .container_left {
        padding: 16px;
    }
}

.profile .info_block .avatar {
    width: 80px;
    height: 80px;
    background-color: red;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 8px;
}

.profile .info_block .avatar img {
    width: 100%;
    height: auto;
}

.profile .name {
    margin: 0;
}

.profile .name h3 {
    margin: 0;
}

.profile .name p {
    margin: 0;
}

.profile .block_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.profile .block_card .card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 16px;
    flex: 0 1 50%;
    border-radius: 16px;
    margin-bottom: 16px;
    max-width: 300px;
}

.profile .block_card .card h5 {
    margin-bottom: 8px;
    font-size: 18px;
}

.profile .block_card .card p {
    margin: 0;
}

.profile .block_card .card .bottom {
    margin: 8px 0 0 0;
    padding: 8px 0 0 0;
    justify-content: space-between;
    border-top: 1px solid var(--border);
}
