/******** Главная ********/
.main_page_wrapper .info_main_block {
  padding: 16px 0px;
}

.main_page_wrapper .info_main_block h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

@media (max-width: 1400px) {
  .main_page_wrapper .main_block .card_row .card {
    flex: 1 1 calc(25% - 40px);
    min-width: calc(25% - 40px);
  }
}

@media (max-width: 800px) {
  .main_page_wrapper .main_block .card_row .card {
    flex: 1 1 calc(33% - 40px);
    min-width: calc(33% - 40px);
  }

  .compact_menu .main_page_wrapper .main_block .card_row .card {
    flex: 1 1 calc(33% - 40px);
    min-width: calc(33% - 40px);
  }
}

@media (max-width: 500px) {
  .main_page_wrapper .main_block .card_row .card {
    flex: 1 1 calc(50% - 40px);
    min-width: calc(50% - 40px);
  }
}

.main_page_wrapper .news_block {
  --width-news-blok: 25%;
  min-width: var(--width-news-blok);
  max-width: var(--width-news-blok);
  flex: 1 1 var(--width-news-blok);
  height: 100%;
  background-color: var(--bg-main);
  border-left: 1px solid var(--border);
  display: none;
}

@media (max-width: 1200px) {
  .main_page_wrapper .news_block {
    display: none;
  }
}

.main_page_wrapper .dnd5club_tel_bot:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: var(--bg-liner-main-page);
  content: "";
}

.main_page_wrapper .dnd5club_tel_bot .bg_img {
  transition: transform 0.6s;
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main_page_wrapper .dnd5club_tel_bot .bg_img {
  background-image: url(/assets/img/bg_main_page_button_nav_bot_2.png);
}

.main_page_wrapper .dnd5club_tel_bot {
  display: flex;
  flex-direction: row;
  margin: 32px 0px -16px 0px;
  padding: 16px 16px 0px 16px;
  background-color: var(--bg-table-list);
  border-radius: 12px;
  width: 33%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 800px) {
  .main_page_wrapper .dnd5club_tel_bot {
    width: auto;
  }
}

.main_page_wrapper .dnd5club_tel_bot i {
  min-width: 48px;
  height: 48px;
  margin-right: 16px;
}

.main_page_wrapper .dnd5club_tel_bot i path {
  stroke: var(--primary);
}

.main_page_wrapper .dnd5club_tel_bot .info {
  z-index: 1;
}

.main_page_wrapper .dnd5club_tel_bot .info h4 {
  margin-top: 0;
}

.main_page_wrapper .dnd5club_tel_bot .info a {
  margin-right: 8px;
  margin-bottom: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.main_page_wrapper .news_block .header {
  padding: 0 16px;
  border-bottom: 1px solid var(--border);
  height: 71px;
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
}

.main_page_wrapper .news_block .header h3 {
  font-size: var(--h3-font-size);
}

.main_page_wrapper .news_block .news_list .news {
  border-bottom: 1px solid var(--border);
  padding: 16px;
}

.main_page_wrapper .news_block .news_list .news h4 {
  margin-top: 0;
}

.friends_list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: -4px -4px;
}

.friends_list .friend_block {
  padding: 8px 8px;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  border-radius: 8px;
  display: inline-flex;
  margin: 4px 4px;
  align-items: center;
}

.friends_list .friend_block:hover {
  background-color: var(--primary-active);
  color: var(--text-btn-color);
}

.friends_list .friend_block img {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
  border: 1px solid var(--border);
}

/******** Page Страница ********/
.page_main {
  max-width: 100% !important;
}

.page_main .ce-paragraph {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 400;
  margin: 0 0 8px 0;
  color: var(--text-color);
}

.page_wrapper {
  height: 100%;
  display: flex;
}

@media (max-width: 1200px) {
  .page_main {
    margin-left: 0;
  }
}

.page_wrapper .center {
  flex: 1 1 860px;
  max-width: 860px;
  background-color: var(--bg-secondary);
  padding: 0px 24px 0px 24px;
  margin: auto;
}

@media (max-width: 1500px) {
  .page_wrapper .center {
    flex: 1 1 620px;
    max-width: 620px;
  }
}

@media (max-width: 1200px) {
  .page_wrapper .center {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.page_wrapper .center .header {
  padding: 24px 0 16px 0;
  border-bottom: 1px solid var(--border);
  margin-bottom: 16px;
}

.page_wrapper .center .header h1 {
  margin-bottom: 16px;
  font-weight: 500;
  font-family: "Lora";
}

.page_wrapper .center .header h3 {
  margin-top: 0;
  line-height: normal;
}

@media (max-width: 1200px) {
  .page_wrapper .center .header h3 {
    font-size: calc(var(--h3-font-size) - 4px);
  }
}

.page_wrapper .news_page .header .subtitle {
  margin-bottom: 16px;
  font-weight: 300;
  width: 100%;
  display: inline-block;
  font-family: "Open Sans";
  margin-top: 0px;
}

.page_wrapper .left,
.page_wrapper .right {
  flex: 1 0 10%;
}

@media (max-width: 1200px) {
  .page_wrapper .left,
  .page_wrapper .right {
    display: none;
  }
}

.page_main .social_links {
  background-color: var(--hover);
  border-radius: 12px;
  padding: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .page_main .social_links {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
}

.page_main .social_links h5 {
  width: 350px;
  font-size: calc(var(--h5-font-size) + 2px);
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .page_main .social_links h5 {
    width: auto;
    text-align: center;
    margin-bottom: 16px;
  }
}

.page_main .social_links .icon {
  height: 48px;
}

.page_main .social_links a {
  margin: 0 8px 0 8px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.page_main .social_links i {
  width: 48px;
  height: 48px;
  background-color: unset;
}

.page_main .social_links i path {
  stroke: none;
  fill: var(--primary);
}

.page_main .social_links a:hover i path {
  fill: var(--primary-hover);
}

/******** Статья ********/
.news_wrapper {
  height: 100%;
  display: flex;
}

@media (max-width: 1200px) {
  .news_wrapper {
    flex-direction: column;
  }
}

.news_wrapper .news_page {
  flex: 1 1 860px;
  max-width: 860px;
  background-color: var(--bg-secondary);
  padding: 0px 24px 0px 24px;
}

@media (max-width: 1500px) {
  .news_wrapper .news_page {
    flex: 1 1 620px;
    max-width: 620px;
  }
}

@media (max-width: 1200px) {
  .news_wrapper .news_page {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.news_wrapper .news_page .header {
  padding: 24px 0 16px 0;
  margin-bottom: 16px;
}

.news_wrapper .news_page .header h1 {
  margin-bottom: 16px;
  font-weight: 500;
  font-family: "Lora";
}

.news_wrapper .news_page .header .subtitle {
  margin-bottom: 16px;
  font-weight: 300;
  width: 100%;
  display: inline-block;
  font-family: "Open Sans";
  margin-top: 0px;
}

.news_wrapper .left,
.news_wrapper .right {
  flex: 1 0 10%;
}

@media (max-width: 1200px) {
  .news_wrapper .left {
    display: none;
  }

  .news_wrapper .right {
    width: 100%;
  }
}

.news_wrapper .right .contents {
  position: sticky;
  top: 16px;
  background-color: var(--bg-secondary);
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px 0;
  border-radius: 8px;
  overflow: hidden;
  max-height: 500px;
}

.news_wrapper .right .contents ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news_wrapper .right .contents ul.list li {
  cursor: pointer;
  padding: 8px 16px;
}

.news_wrapper .right .contents ul.list li:hover {
  background-color: var(--hover);
}

.news_wrapper .right .contents ul.list li ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.news_wrapper .right .contents ul.list li ul > li {
  border-radius: 8px;
}

.news_wrapper .right .btn_block {
  position: sticky;
  top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .news_wrapper .right .btn_block {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.news_wrapper .right .btn_block .btn {
  background-color: var(--primary);
  border-radius: 8px;
  transition: all 0.6s;
}

.news_wrapper .right .btn_block .btn:hover {
  background-color: var(--primary-hover);
}

.news_wrapper .right .btn_block .btn.secondary {
  background-color: var(--bg-sub-menu);
  color: var(--text-color);
}

.news_wrapper .right .btn_block .btn.secondary:hover {
  background-color: var(--hover);
}

.data_image_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 16px;
}

.data_image_wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.news_wrapper .bottom {
  border-top: 1px solid var(--border);
  margin-top: 32px;
  margin-bottom: 24px;
  padding-top: 16px;
}

.news_wrapper .bottom .info {
  margin-bottom: 32px;
}

.news_wrapper .bottom .status {
  padding: 0px 3px;
  border-radius: 4px;
}

.news_wrapper .bottom .status[appendclass="MODERATION"] {
  color: var(--text-btn-color);
  background-color: var(--bg-homebrew);
}

.news_wrapper .bottom .status[appendclass="CREATED"] {
  color: var(--text-btn-color);
  background-color: var(--hover);
}

.news_wrapper .bottom .status[appendclass="PUBLISHED"] {
  color: var(--text-btn-color);
  background-color: var(--bg-advantage);
}

.news_wrapper .bottom time {
  margin-right: 8px;
}

.news_wrapper .bottom ul.meta {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.news_wrapper .similar_articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.news_wrapper .similar_articles a {
  background-color: var(--bg-main);
  border-radius: 8px;
  padding: 16px;
}

.news_wrapper .similar_articles a:hover {
  background-color: var(--hover);
}

.news_wrapper .similar_articles a h4 {
  margin-top: 0;
  font-size: 20px;
}

.news_wrapper .similar_articles a p {
  margin-bottom: 0;
}

.news_wrapper .news_page_list {
  flex: 1 1 860px;
  max-width: 860px;
  padding: 16px 0 16px 0;
}

@media (max-width: 1500px) {
  .news_wrapper .news_page_list {
    flex: 1 1 620px;
    max-width: 620px;
  }
}

@media (max-width: 1200px) {
  .news_wrapper .news_page_list {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.news_wrapper .news_page_list .short_news {
  background-color: var(--bg-secondary);
  padding: 4px 16px 16px 16px;
  margin-bottom: 40px;
  display: block;
  border-radius: 8px;
  position: relative;
}

.news_wrapper .news_page_list .short_news .header {
  margin-top: 8px;
}

.news_wrapper .news_page_list .short_news .header .title {
  margin-top: 0;
  font-size: calc(var(--h3-font-size) - 4px);
  margin-bottom: 16px;
  line-height: 24px;
}

.news_wrapper .news_page_list .short_news .header h5 {
  margin-bottom: 8px;
}

.news_wrapper .news_page_list .short_news .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
  margin-bottom: 0;
}

.news_wrapper .news_page_list .short_news .bottom {
  margin: 0;
  display: flex;
  align-items: center;
  border: 0;
  position: absolute;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 4px 8px;
  right: 0px;
  bottom: -16px;
}

.news_wrapper .news_page_list .short_news .bottom p {
  margin-bottom: 0px;
}

.news_wrapper .news_page_list .short_news .bottom .btn {
  margin: 0;
  background-color: var(--primary);
  padding: 8px 8px;
  border-radius: 8px;
  margin-left: auto;
  max-width: 100px;
}

.news_wrapper .news_page_list .short_news .bottom .btn_cont {
  margin-left: auto;
}

.news_wrapper .news_page_list .short_news .bottom .btn:hover {
  color: var(--text-btn-color);
  background-color: var(--primary-hover);
}
